<template>
    <div class="header">
        <div class="logo" @click="goHome">
            <img :src="logoImg" style="width: 40px;height: 40px">
            <span>居家养老服务</span>
        </div>
        <h1>{{title}}</h1>
        <div class="btn">
            <button @click="goHome">返回首页</button>
            <slot></slot>
        </div>
    </div>
</template>

<script>
    import logoImg from '@/assets/img/logo.jpg';
    import {useRouter} from 'vue-router';
    export default {
        name: "OldHeader",
        props:{
            title: {
                type:String,
                default(){
                    return '';
                }
            }
        },setup(){
            const router=useRouter();
            // 返回首页
            const goHome=()=> {
                speechSynthesis.cancel();
                router.push('/oHome');
            };
            return{
                goHome,
                logoImg
            }
        }
    }
</script>

<style scoped lang="scss">
    .header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 30px;
        margin-bottom: 10px;
        height: 75px;
        background-color: #fff;
        box-shadow: 0 1px 3px 3.2px #f3f3f3;
        .logo{
            cursor: pointer;
        }
        .btn{
            height: 50px;
            button {
                cursor: pointer;
                position: relative;
                padding: 10px 20px;
                margin: 0px 10px 10px 0px;
                float: left;
                border-radius: 3px;
                font-size: 20px;
                color: #FFF;
                text-decoration: none;
                background-color: #2ecc71;
                border: none;
                border-bottom: 5px solid #27ae60;
                text-shadow: 0px -2px #27ae60;
                -webkit-transition: all 0.1s;
                transition: all 0.1s;
            }

            button:hover, button:active {
                -webkit-transform: translate(0px,5px);
                -ms-transform: translate(0px,5px);
                transform: translate(0px,5px);
                border-bottom: 1px solid #2ecc71;
            }
        }
    }
</style>