<template>
    <div class="header">
        <div class="logo" @click="goTo('/wHome')">
            <img :src="logoImg" style="width: 40px;height: 40px">
            <span>居家养老服务</span>
        </div>
        <slot></slot>
        <div class="avatar">
            <img  @click="goTo('/wPersonal')" :src="avatar" style="width: 50px;height: 50px">
        </div>
    </div>
</template>

<script>
    import logoImg from '@/assets/img/logo.jpg';
    import {useRouter} from 'vue-router';
    export default {
        name: "WorkerHeader",
        props:{
            avatar: {
                type:String,
                default(){
                    return '';
                }
            }
        },setup(){
            const router=useRouter();
            // 返回首页
            const goTo=(path)=> {
                router.push(path);
            };
            return{
                goTo,
                logoImg
            }
        }
    }
</script>

<style scoped lang="scss">
    .header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 30px;
        margin-bottom: 10px;
        height: 75px;
        background-color: #fff;
        box-shadow: 0 1px 3px 3.2px #f3f3f3;
        .avatar{
            border-radius: var(--border-radius-circle);
            overflow: hidden;
            cursor: pointer;
        }
        .logo{
            cursor: pointer;
        }
    }
</style>
