@import "./normalize.css";

:root{
/*颜色变量*/

    /*行为相关颜色*/
    --color-primary: rgb(241, 150, 70);
    --color-success: rgb(121, 222, 156);
    --color-warning: rgb(255, 0, 7);
    --color-error:rgba(255,93,91,1);

    /*文字基本颜色*/
    --text-color:rgba(39,40,50,1);;
    --text-color-inverse:#fff;
    --text-color-grey:rgba(39,40,50,0.6);
    --text-color-placeholder: #808080;
    --text-color-disable:rgba(39,40,50,0.4);

    /*背景颜色*/
    --bg-color:#ffffff;
    --bg-color-grey: rgba(248, 249, 251, 0.69);
    --bg-color-hover:rgba(39,40,50,0.2);
    --bg-color-mask:rgba(0, 0, 0, 0.4);
    --bg-yellow:#F6CA7F;
    --bg-reg:#ED6D6A;
    --bg-blue:#6B9BA9;

    /*边框颜色*/
    --border-color:rgba(39,40,50,0.1);

/* 尺寸变量 */

    /* 文字尺寸 */
    --font-size-sm:17px;
    --font-size-base:25px;
    --font-size-lg:46px;

    /* 图片尺寸 */
    --img-offset:4.6rem;
    --img-size-sm:6rem;
    --img-size-base:12rem;
    --img-size-lg:24rem;

    /* Border Radius */
    --border-radius-sm: 0.625rem;
    --border-radius-base: 1.25rem;
    --border-radius-lg: 2.5rem;
    --border-radius-circle: 50%;

    /* padding */
    --padding-sm: 0.625rem;
    --padding-base: 1.25rem;
    --padding-lg: 2.5rem;
}

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: var(--bg-color);
    color: var(--text-color);
    width: 100vw;
}

a{
    color: var(--text-color);
}