<template>
    <!--页面主体区域-->
    <el-containe>
        <!--页面头部-->
        <el-header>
            <div class="logo">
                <img :src="logoImg" style="width: 40px;height: 40px;">
                <h2>居家养老服务系统</h2>
            </div>
        </el-header>
        <el-containe>
            <el-container>
                <!--页面侧边栏菜单-->
                <el-aside>
                    <el-menu
                            default-active="1-1"
                            class="el-menu-vertical-demo"
                            @open="handleOpen"
                            @close="handleClose"
                            :router="true"
                    ><!--是否启用 vue-router 模式。 启用该模式会在激活导航时以 index 作为 path 进行路由跳转-->
                        <!--二级菜单-->
                        <el-sub-menu index="1">
                            <template #title>
                                <!--图标-->
                                <el-icon><avatar /></el-icon>
                                <span>管理用户</span>
                            </template>
                            <el-menu-item index="oldList">老人</el-menu-item>
                            <el-menu-item index="relationList">亲属</el-menu-item>
                            <el-menu-item index="workerList">护工</el-menu-item>
                        </el-sub-menu>
                        <!--一级菜单-->
                        <el-menu-item index="serveList">
                            <el-icon><briefcase /></el-icon>
                            <span>管理服务</span>
                        </el-menu-item>
                        <!--一级菜单-->
                        <el-menu-item index="foodList">
                            <el-icon><food /></el-icon>
                            <span>管理食物</span>
                        </el-menu-item>
                        <!--一级菜单-->
                        <el-menu-item index="medicineList">
                            <el-icon><sugar /></el-icon>
                            <span>管理药品</span>
                        </el-menu-item>
                        <!--一级菜单-->
                        <el-menu-item index="videoList">
                            <el-icon><video-camera-filled /></el-icon>
                            <span>管理视频</span>
                        </el-menu-item>
                        <!--一级菜单-->
                        <el-menu-item index="articleList">
                            <el-icon><tickets /></el-icon>
                            <span>管理文章</span>
                        </el-menu-item>
                    </el-menu>
                </el-aside>
            <!--页面右侧-->
            <el-main>
                <!--路由的占位符-->
                <router-view></router-view>
            </el-main>
            </el-container>
        </el-containe>
    </el-containe>
</template>

<script>
    import logoImg from '@/assets/img/logo.jpg';
    export default {
        name: "Admin",
        setup(){
            const handleOpen = (key, keyPath) => {
                console.log(key, keyPath)
            }
            const handleClose = (key, keyPath) => {
                console.log(key, keyPath)
            }
            return {
                handleOpen,
                handleClose,
                logoImg
            }
        }
    }
</script>

<style scoped>
    .logo{
        display: flex;
        justify-content: center;
        padding: 20px 0;
        cursor: pointer;
    }
</style>