<template>
    <!--表格-->
    <el-table
            :data="tableData"
            stripe
            style="width: 100%">
        <!--stripe 带斑马纹-->
        <el-table-column
                label="食物名"
                width="100"
                prop="fname">
        </el-table-column>

        <el-table-column
                label="图片"
                width="170"
                prop="aimg">
            <template #default="scope">
                <el-image
                        style="width: 100px; height: 100px;"
                        :src="scope.row.fimg"
                        :fit="fit"></el-image>
            </template>
        </el-table-column>

        <el-table-column
                label="食物细节"
                prop="fdetail">
        </el-table-column>

        <el-table-column
                label="适合人群"
                prop="fsuitable">
        </el-table-column>

        <el-table-column
                label="不适合人群"
                prop="funsuitable">
        </el-table-column>

        <el-table-column
                width="180"
                fixed="right">
            <template #header>
                <el-input v-model="search" @input="findD()" class="w-50 m-2" placeholder="搜索">
                    <template #prefix>
                        <el-icon class="el-input__icon"><search /></el-icon>
                    </template>
                </el-input>
            </template>
            <template  #default="scope">
                <el-button
                        size="small"
                        @click="dialogFormVisible = true,update(scope.row)">修改</el-button>
                <el-button
                        size="small"
                        @click="del(scope.row)">删除</el-button>
            </template>
        </el-table-column>
    </el-table>

    <el-row class="tool">
        <!--分页-->
        <el-col span="4">
            <el-pagination
                    background
                    layout="prev, pager, next"
                    v-model:currentPage='index'
                    :page-size="size"
                    :total="total"
                    @current-change="pageChange()">
            </el-pagination>
        </el-col>
        <!--添加-->
        <el-col span="2" :offset="18">
            <el-button type="primary" round @click="add()">添加</el-button>
        </el-col>

    </el-row>

    <!--消息弹出框-->
    <el-dialog v-model="dialogFormVisible" :title="dialogMsg">
        <!--内嵌表单-->
        <el-form :model="food">
            <el-form-item label="食物名" :label-width="formLabelWidth">
                <el-input v-model="food.fname" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="图片" :label-width="formLabelWidth">
                <el-upload
                        class="img-uploader"
                        action="http://localhost:8081/tool/uploadFile"
                        :on-success="handleSuccess"
                        :before-upload="beforeUpload"
                >
                    <img v-if="food.fimg" :src="food.fimg" class="img">
                    <div v-else class="el-icon-plus img-uploader-icon"></div>
                </el-upload>
            </el-form-item>
            <el-form-item label="食物细节" :label-width="formLabelWidth">
                <el-input v-model="food.fdetail" autocomplete="off"/>
            </el-form-item>
            <el-form-item label="适合人群" :label-width="formLabelWidth">
                <el-input v-model="food.fsuitable"  autocomplete="off" />
            </el-form-item>
            <el-form-item label="不适合人群" :label-width="formLabelWidth">
                <el-input v-model="food.funsuitable" autocomplete="off" />
            </el-form-item>
        </el-form>
        <!--内嵌按钮-->
        <template #footer>
            <span class="dialog-footer">
                <el-button @click="dialogFormVisible = false">取消</el-button>
                <el-button type="primary" @click="Confirm()">确定</el-button>
            </span>
        </template>
    </el-dialog>
</template>

<script>
    import {findFoodFuzzy,updateFood,deleteFood,addFood} from 'network/healthCare';
    import {ref,onMounted,reactive,inject} from 'vue';
    import qs from 'qs';
    import { ElMessage ,ElMessageBox} from 'element-plus'
    import {uploadFile} from "network/tools";
    import debounce from "../../tools/debounce";
    export default {
        name: "foodList",
        setup() {
            const tableData = ref([]);//表格数据
            const index = ref(1);//展示数据索引
            const size = ref(4);//展示数据数量
            const total = ref(0);//总数量
            const search = ref('');//搜索框文字

            const dialogMsg=ref('');//消息弹出框

            const dialogFormVisible=ref(false);//弹出框是否显示

            const reload = inject("reload"); //刷新

            const food=reactive({ //选中亲属信息
                fid:0,
                fname:'',
                fdetail:0,
                fsuitable:'',
                funsuitable:'',
                fimg:''
            })

            //初始化
            onMounted(() => {
                pageChange();
            });
            //模糊查询/页码改变
            /*
            * 加一个节流
            * */
            const pageChange = () => {
                findFoodFuzzy(qs.stringify({
                    "index": index.value - 1,
                    "size": size.value,
                    "search": search.value
                })).then((res) => {
                    total.value = res.data.total;
                    tableData.value = res.data.foodList;
                })
            }
            //修改信息
            const update=(data)=>{
                dialogMsg.value = "修改信息";
                dialogFormVisible.value = true;
                food.fid=data.fid;
                food.fname=data.fname;
                food.fdetail=data.fdetail;
                food.fsuitable=data.fsuitable;
                food.funsuitable=data.funsuitable;
                food.fimg=data.fimg;
            }

            //添加信息
            const add=()=>{
                dialogMsg.value = "添加信息";
                dialogFormVisible.value = true;
                food.fid=0;
                food.fname='';
                food.fdetail=''
                food.fsuitable='';
                food.funsuitable='';
                food.fimg='';
            }

            //删除信息
            const del=(data)=>{
                ElMessageBox.confirm(
                    '确认删除?',
                    'Warning',
                    {
                        confirmButtonText: '确认',
                        cancelButtonText: '取消',
                        type: 'warning',
                    }
                ).then(()=>{
                    deleteFood(qs.stringify({"fid":data.fid})).then((res)=>{
                        ElMessage({
                            type: 'success',
                            message: res.data,
                        })
                    })
                    reload();
                }).catch(() => {
                    ElMessage({
                        type: 'info',
                        message: '取消删除',
                    })
                })
            }

            //文件
            const File=ref({});
            //回显
            const handleSuccess=(res, file)=>{
                food.fimg = URL.createObjectURL(file.raw);
            }
            // 上传文件之前的钩子，参数为上传的文件
            const beforeUpload=(file)=>{
                File.value=file;
                return true;
            }

            //确认修改
            async function Confirm(){
                //转为formData格式
                let formData = new FormData();
                formData.append("multipartFiles", File.value);
                //等待当前异步执行完成
                await uploadFile(formData).then((res) => {
                    if(res.data.img!=''&&res.data.img!=null) {
                        food.fimg = "http://localhost:8081/" + res.data.img;
                    }
                });
                if(food.fid===0){
                    addFood(qs.stringify({
                        "fname":food.fname,
                        "fdetail":food.fdetail,
                        "fsuitable":food.fsuitable,
                        "funsuitable":food.funsuitable,
                        "fimg":food.fimg
                    })).then(res=>{
                        ElMessage({
                            message: res.data,
                            type: 'success',
                        })
                    })
                }else {
                    updateFood(qs.stringify({
                        "fid":food.fid,
                        "fname":food.fname,
                        "fdetail":food.fdetail,
                        "fsuitable":food.fsuitable,
                        "funsuitable":food.funsuitable,
                        "fimg":food.fimg
                    })).then(res=>{
                        ElMessage({
                            message: res.data,
                            type: 'success',
                        })
                    })
                }
                reload();
                dialogFormVisible.value=false;
            }
            const findD=()=>{
                //防抖
                debounce(pageChange(),500);
            }
            return {
                tableData,
                index,
                pageChange,
                total,
                search,
                size,
                dialogFormVisible,
                food,
                update,del,add,
                Confirm,
                handleSuccess,
                beforeUpload,
                dialogMsg,findD
            }
        }
    }
</script>

<style scoped>
    .img-uploader {
        width :100px;
        height: 100px;
        border: 1px dashed #d9d9d9;
        border-radius: 6px;
        cursor: pointer;
        position: relative;
        overflow: hidden;
    }
    .img-uploader :hover {
        border-color: #409EFF;
    }
    .img-uploader-icon {
        font-size: 28px;
        color: #8c939d;
        width: 100px;
        height: 100px;
        line-height: 100px;
        text-align: center;
    }
    .img {
        width :100px;
        height: 100px;
        display: block;
    }
    .tool{
        padding: 20px 0;
    }
</style>