<template>
    <!--表格-->
    <el-table
            :data="tableData"
            stripe
            style="width: 100%">
        <!--stripe 带斑马纹-->

        <el-table-column
                type="expand">
            <template #default="scope">
                <strong>成分</strong>
                <p>{{ scope.row.mingredients }}</p>
                <strong>注意事项</strong>
                <p>{{ scope.row.mnote }}</p>
                <strong>禁忌</strong>
                <p>{{ scope.row.mtaboo }}</p>
                <strong>不良反应</strong>
                <p>{{ scope.row.mreact }}</p>
            </template>
        </el-table-column>

        <el-table-column
                label="药品名"
                width="120"
                prop="mname">
        </el-table-column>

        <el-table-column
                label="药品图"
                width="130"
                prop="mimg">
            <template #default="scope">
                <el-image
                        style="width: 100px; height: 100px;"
                        :src="scope.row.mimg"
                        :fit="fit"></el-image>
            </template>
        </el-table-column>

        <el-table-column
                label="功能"
                prop="mfunction">
        </el-table-column>

        <el-table-column
                label="规格"
                width="150"
                prop="mspecs">
        </el-table-column>

        <el-table-column
                label="用法用量"
                width="150"
                prop="mdosage">
        </el-table-column>

        <el-table-column
                width="180"
                fixed="right">
            <template #header>
                <el-input v-model="search" @input="findD()" class="w-50 m-2" placeholder="搜索">
                    <template #prefix>
                        <el-icon class="el-input__icon"><search /></el-icon>
                    </template>
                </el-input>
            </template>
            <template  #default="scope">
                <el-button
                        size="small"
                        @click="dialogFormVisible = true,update(scope.row)">修改</el-button>
                <el-button
                        size="small"
                        @click="del(scope.row)">删除</el-button>
            </template>
        </el-table-column>
    </el-table>

    <el-row class="tool">
        <!--分页-->
        <el-col span="4">
            <el-pagination
                    background
                    layout="prev, pager, next"
                    v-model:currentPage='index'
                    :page-size="size"
                    :total="total"
                    @current-change="pageChange()">
            </el-pagination>
        </el-col>
        <!--添加-->
        <el-col span="2" :offset="18">
            <el-button type="primary" round @click="add()">添加</el-button>
        </el-col>
    </el-row>

    <!--消息弹出框-->
    <el-dialog v-model="dialogFormVisible" title="修改信息">
        <!--内嵌表单-->
        <el-form :model="medicine">
            <el-form-item label="药品名" :label-width="formLabelWidth">
                <el-input v-model="medicine.mname" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="药品图" :label-width="formLabelWidth">
                <el-upload
                        class="img-uploader"
                        action="http://localhost:8081/tool/uploadFile"
                        :on-success="handleSuccess"
                        :before-upload="beforeUpload"
                >
                    <img v-if="medicine.mimg" :src="medicine.mimg" class="img">
                    <div v-else class="el-icon-plus img-uploader-icon"></div>
                </el-upload>
            </el-form-item>
            <el-form-item label="成分" :label-width="formLabelWidth">
                <el-input v-model="medicine.mingredients" autocomplete="off" />
            </el-form-item>
            <el-form-item label="功能" :label-width="formLabelWidth">
                <el-input v-model="medicine.mfunction" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="规格" :label-width="formLabelWidth">
                <el-input v-model="medicine.mspecs"  autocomplete="off" />
            </el-form-item>
            <el-form-item label="用法用量" :label-width="formLabelWidth">
                <el-input v-model="medicine.mdosage" autocomplete="off" />
            </el-form-item>
            <el-form-item label="不良反应" :label-width="formLabelWidth">
                <el-input v-model="medicine.mreact" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="禁忌" :label-width="formLabelWidth">
                <el-input v-model="medicine.mtaboo"  autocomplete="off" />
            </el-form-item>
            <el-form-item label="注意事项" :label-width="formLabelWidth">
                <el-input v-model="medicine.mnote" autocomplete="off" />
            </el-form-item>
        </el-form>
        <!--内嵌按钮-->
        <template #footer>
            <span class="dialog-footer">
                <el-button @click="dialogFormVisible = false">取消</el-button>
                <el-button type="primary" @click="Confirm()">确定修改</el-button>
            </span>
        </template>
    </el-dialog>
</template>

<script>
    import {findMedicineFuzzy,updateMedicine,addMedicine,deleteMedicine} from 'network/healthCare';
    import {uploadFile} from "network/tools";
    import {ref,onMounted,reactive,inject} from 'vue';
    import qs from 'qs';
    import { ElMessage ,ElMessageBox} from 'element-plus'
    import debounce from "../../tools/debounce";
    export default {
        name: "medicineList",
        setup() {
            const tableData = ref([]);//表格数据
            const index = ref(1);//展示数据索引
            const size = ref(4);//展示数据数量
            const total = ref(0);//总数量
            const search = ref('');//搜索框文字
            const dialogMsg=ref('');//弹出框标题
            const dialogFormVisible=ref(false);//弹出框是否显示
            const reload = inject("reload"); //刷新
            const medicine=reactive({ //选中亲属信息
                mid:0,
                mname:'',
                mimg:'',
                mingredients:'',
                mfunction:'',
                mspecs:'',
                mdosage:'',
                mreact:'',
                mtaboo:'',
                mnote:''
            })

            //初始化
            onMounted(() => {
                pageChange();
            });
            //模糊查询/页码改变
            const pageChange = () => {
                findMedicineFuzzy(qs.stringify({
                    "index": index.value - 1,
                    "size": size.value,
                    "search": search.value
                })).then((res) => {
                    total.value = res.data.total;
                    tableData.value = res.data.medicineList;
                })
            }

            //修改信息
            const update=(data)=>{
                dialogMsg.value = "修改信息";
                dialogFormVisible.value = true;
                medicine.mid=data.mid;
                medicine.mname=data.mname;
                medicine.mimg=data.mimg;
                medicine.mingredients=data.mingredients;
                medicine.mfunction=data.mfunction;
                medicine.mspecs=data.mspecs;
                medicine.mdosage=data.mdosage;
                medicine.mreact=data.mreact;
                medicine.mtaboo=data.mtaboo;
                medicine.mnote=data.mnote;
            }

            //添加信息
            const add=()=>{
                dialogMsg.value = "添加信息";
                dialogFormVisible.value = true;
                medicine.mid=0;
                medicine.mname='';
                medicine.mimg='';
                medicine.mingredients='';
                medicine.mfunction='';
                medicine.mspecs='';
                medicine.mdosage='';
                medicine.mreact='';
                medicine.mtaboo='';
                medicine.mnote='';
            }

            //删除信息
            const del=(data)=>{
                ElMessageBox.confirm(
                    '确认删除?',
                    'Warning',
                    {
                        confirmButtonText: '确认',
                        cancelButtonText: '取消',
                        type: 'warning',
                    }
                ).then(()=>{
                    deleteMedicine(qs.stringify({"mid":data.mid})).then((res)=>{
                        ElMessage({
                            type: 'success',
                            message: res.data,
                        })
                    })
                    reload();
                }).catch(() => {
                    ElMessage({
                        type: 'info',
                        message: '取消删除',
                    })
                })
            }

            //文件
            const File=ref({});
            //回显
            const handleSuccess=(res, file)=>{
                medicine.mimg = URL.createObjectURL(file.raw);
            }
            // 上传文件之前的钩子，参数为上传的文件
            const beforeUpload=(file)=>{
                File.value=file;
                return true;
            }

            //确认修改
            async function Confirm(){
                //上传图片
                //转为formData格式
                let formData = new FormData();
                formData.append("multipartFiles", File.value);
                //等待当前异步执行完成
                await uploadFile(formData).then((res) => {
                    medicine.mimg = "http://localhost:8081/"+res.data[0];
                });

                if(medicine.mid===0){
                    //添加
                    addMedicine(qs.stringify({
                        mname:medicine.mname,
                        mimg:medicine.mimg,
                        mingredients:medicine.mingredients,
                        mfunction:medicine.mfunction,
                        mspecs:medicine.mspecs,
                        mdosage:medicine.mdosage,
                        mreact:medicine.mreact,
                        mtaboo:medicine.mtaboo,
                        mnote:medicine.mnote
                    })).then(res=>{
                        ElMessage({
                            message: res.data,
                            type: 'success',
                        })
                    })
                }else{
                    //更新药品
                    updateMedicine(qs.stringify({
                        mid:medicine.mid,
                        mname:medicine.mname,
                        mimg:medicine.mimg,
                        mingredients:medicine.mingredients,
                        mfunction:medicine.mfunction,
                        mspecs:medicine.mspecs,
                        mdosage:medicine.mdosage,
                        mreact:medicine.mreact,
                        mtaboo:medicine.mtaboo,
                        mnote:medicine.mnote
                    })).then(res=>{
                        ElMessage({
                            message: res.data,
                            type: 'success',
                        })
                    })
                }
                File.value=null;
                reload();
                dialogFormVisible.value=false;
            }
            const findD=()=>{
                //防抖
                debounce(pageChange(),500);
            }
            return {
                tableData,
                index,total,size,
                pageChange,
                search,
                dialogFormVisible,
                medicine,
                update,add,del,
                Confirm,
                handleSuccess,beforeUpload,findD
            }
        }
    }
</script>

<style scoped>
    .img-uploader {
        border: 1px dashed #d9d9d9;
        border-radius: 6px;
        cursor: pointer;
        position: relative;
        overflow: hidden;
    }
    .img-uploader :hover {
        border-color: #409EFF;
    }
    .img-uploader-icon {
        font-size: 28px;
        color: #8c939d;
        width: 100px;
        height: 100px;
        line-height: 100px;
        text-align: center;
    }
    .img {
        width :100px;
        height: 100px;
        display: block;
    }

    .tool{
        padding: 20px 0;
    }

</style>