<template>
    <!--表格-->
    <el-table
            :data="tableData"
            stripe
            style="width: 100%">
        <!--stripe 带斑马纹-->
        <el-table-column
                prop="oillness"
                type="expand">
            <template #default="scope">
                <strong>疾病</strong>
                <p>{{ scope.row.oillness }}</p>
            </template>
        </el-table-column>

        <el-table-column
                label="姓名"
                width="120"
                prop="oname">
        </el-table-column>

        <el-table-column
                label="年龄"
                width="120"
                prop="oage">
        </el-table-column>

        <el-table-column
                label="性别"
                width="100"
                prop="osex">
        </el-table-column>

        <el-table-column
                label="电话号码"
                width="160"
                prop="ophone">
        </el-table-column>

        <el-table-column
                label="地址"
                prop="oaddress">
        </el-table-column>

        <el-table-column
                fixed="right"
                width="180">
            <template #header>
                <el-input v-model="search" @input="findD()" class="w-50 m-2" placeholder="搜索">
                    <template #prefix>
                        <el-icon class="el-input__icon"><search /></el-icon>
                    </template>
                </el-input>
            </template>
            <template  #default="scope">
                <el-button
                        size="small"
                        @click="update(scope.row)">修改</el-button>
            </template>
        </el-table-column>
    </el-table>

    <el-row class="tool">
        <!--分页-->
        <el-col span="4">
            <el-pagination
                    background
                    layout="prev, pager, next"
                    v-model:currentPage='index'
                    :page-size="size"
                    :total="total"
                    @current-change="pageChange()">
            </el-pagination>
        </el-col>
    </el-row>

    <!--消息弹出框-->
    <el-dialog v-model="dialogFormVisible" title="修改信息">
        <!--内嵌表单-->
        <el-form :model="old">
            <el-form-item label="姓名" :label-width="formLabelWidth" >
                <el-input v-model="old.oname" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="年龄" :label-width="formLabelWidth">
                <el-input-number v-model="old.oage" :min="1" :max="200" @change="handleChange" />
            </el-form-item>
            <el-form-item label="性别" :label-width="formLabelWidth">
                <el-radio-group v-model="old.osex" size="large">
                    <el-radio-button label="男"></el-radio-button>
                    <el-radio-button label="女"></el-radio-button>
                </el-radio-group>
            </el-form-item>
            <el-form-item label="电话" :label-width="formLabelWidth">
                <el-input v-model="old.ophone"  autocomplete="off" />
            </el-form-item>
            <el-form-item label="地址" :label-width="formLabelWidth">
                <el-input v-model="old.oaddress" autocomplete="off" />
            </el-form-item>
            <el-form-item label="疾病" :label-width="formLabelWidth">
                <el-input
                        v-model="old.oillness"
                        :rows="3"
                        type="textarea"
                        placeholder="Please input"
                />
            </el-form-item>
        </el-form>
        <!--内嵌按钮-->
        <template #footer>
            <span class="dialog-footer">
                <el-button @click="dialogFormVisible = false">取消</el-button>
                <el-button type="primary" @click="Confirm()">确定修改</el-button>
            </span>
        </template>
    </el-dialog>
</template>

<script>
    import {findOFuzzy,oUpdate} from "network/user";
    import {ref,onMounted,reactive,inject} from 'vue';
    import qs from 'qs';
    import { ElMessage } from 'element-plus'
    import debounce from "../../tools/debounce";

    export default {
        name: "oldList",
        setup(){
            const tableData = ref([]);//表格数据
            const index=ref(1);//展示数据索引
            const size=ref(6);//展示数据数量
            const total=ref(0);//总数量
            const search = ref('');//搜索框文字

            const dialogFormVisible=ref(false);//弹出框是否显示
            //刷新
            const reload = inject("reload");

            const old=reactive({ //选中老人信息
                oid:0,
                oname:'',
                oage:0,
                osex:'',
                opassword:'',
                ophone:'',
                oaddress:'',
                oillness:''
            })

            //初始化
            onMounted(() => {
                pageChange();
            });
            //模糊查询/页码改变
            const pageChange=()=>{
                findOFuzzy(qs.stringify({
                    "index":index.value-1,
                    "search":search.value
                })).then((res)=>{
                    total.value=res.data.total;
                    tableData.value=res.data.oldList;
                })
            }
            //修改信息
            const update=(data)=>{
                dialogFormVisible.value = true;
                old.oid=data.oid;
                old.oname=data.oname;
                old.oage=data.oage;
                old.osex=data.osex;
                old.opassword=data.opassword;
                old.ophone=data.ophone;
                old.oaddress=data.oaddress;
                old.oillness=data.oillness;
            }

            const findO=(oid)=>{

            }
            const Confirm=()=>{
                oUpdate(qs.stringify({
                    "oid":old.oid,
                    "oname":old.oname,
                    "oage":old.oage,
                    "osex":old.osex,
                    "ophone":old.ophone,
                    "oaddress":old.oaddress,
                    "oillness":old.oillness
                })).then(res=>{
                    ElMessage({
                        message: res.data,
                        type: 'success',
                    })
                    reload();
                    dialogFormVisible.value=false;
                })
            }
            const findD=()=>{
                //防抖
                debounce(pageChange(),500);
            }
            return{
                tableData,
                index,size,total,
                pageChange,
                search,
                dialogFormVisible,
                old,
                update,
                Confirm,findD
            }
        }
    }
</script>

<style scoped>
    .tool{
        padding: 20px 0;
    }
</style>