<template>
    <!--表格-->
    <el-table
            :data="tableData"
            stripe
            style="width: 100%">
        <!--stripe 带斑马纹-->
        <el-table-column
                label="姓名"
                width="120"
                prop="rname">
        </el-table-column>

        <el-table-column
                label="照片"
                width="130"
                prop="rimg">
            <template #default="scope">
                <el-image
                        style="width: 100px; height: 100px;"
                        :src="scope.row.rimg"
                        :fit="fit"></el-image>
            </template>
        </el-table-column>

        <el-table-column
                label="年龄"
                width="120"
                prop="rage">
        </el-table-column>

        <el-table-column
                label="性别"
                width="100"
                prop="rsex">
        </el-table-column>

        <el-table-column
                label="电话号码"
                width="160"
                prop="rphone">
        </el-table-column>

        <el-table-column
                label="身份证号"
                prop="ridentity">
        </el-table-column>

        <el-table-column
                width="180"
                fixed="right">
            <template #header>
                <el-input v-model="search" @input="findD()" class="w-50 m-2" placeholder="搜索">
                    <template #prefix>
                        <el-icon class="el-input__icon"><search /></el-icon>
                    </template>
                </el-input>
            </template>
            <template  #default="scope">
                <el-button
                        size="small"
                        @click="dialogFormVisible = true,update(scope.row)">修改</el-button>
            </template>
        </el-table-column>
    </el-table>

    <el-row class="tool">
        <!--分页-->
        <el-col span="4">
            <el-pagination
                    background
                    layout="prev, pager, next"
                    v-model:currentPage='index'
                    :page-size="size"
                    :total="total"
                    @current-change="pageChange()">
            </el-pagination>
        </el-col>
    </el-row>

    <!--消息弹出框-->
    <el-dialog v-model="dialogFormVisible" title="修改信息">
        <!--内嵌表单-->
        <el-form :model="relation">
            <el-form-item label="姓名" :label-width="formLabelWidth">
                <el-input v-model="relation.rname" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="照片" :label-width="formLabelWidth">
                <el-upload
                        class="img-uploader"
                        action="http://localhost:8081/tool/uploadFile"
                        :on-success="handleSuccess"
                        :before-upload="beforeUpload"
                >
                    <img v-if="relation.rimg" :src="relation.rimg" class="img">
                    <div v-else class="el-icon-plus img-uploader-icon"></div>
                </el-upload>
            </el-form-item>
            <el-form-item label="年龄" :label-width="formLabelWidth">
                <el-input-number v-model="relation.rage" :min="1" :max="200" @change="handleChange" />
            </el-form-item>
            <el-form-item label="性别" :label-width="formLabelWidth">
                <el-radio-group v-model="relation.rsex" size="large">
                    <el-radio-button label="男"></el-radio-button>
                    <el-radio-button label="女"></el-radio-button>
                </el-radio-group>
            </el-form-item>
            <el-form-item label="电话" :label-width="formLabelWidth">
                <el-input v-model="relation.rphone"  autocomplete="off" />
            </el-form-item>
            <el-form-item label="身份证号" :label-width="formLabelWidth">
                <el-input v-model="relation.ridentity" autocomplete="off" />
            </el-form-item>
        </el-form>
        <!--内嵌按钮-->
        <template #footer>
            <span class="dialog-footer">
                <el-button @click="dialogFormVisible = false">取消</el-button>
                <el-button type="primary" @click="Confirm()">确定修改</el-button>
            </span>
        </template>
    </el-dialog>
</template>

<script>
    import {findRFuzzy,rUpdate} from "network/user";
    import {ref,onMounted,reactive,inject} from 'vue';
    import qs from 'qs';
    import { ElMessage } from 'element-plus'
    import {uploadFile} from "network/tools";
    import debounce from "../../tools/debounce";
    export default {
        name: "relationList",
        setup(){
            const tableData = ref([]);//表格数据
            const index=ref(1);//展示数据索引
            const size=ref(4);//展示数据数量
            const total=ref(0);//总数量
            const search = ref('');//搜索框文字

            const dialogFormVisible=ref(false);//弹出框是否显示

            const reload = inject("reload"); //刷新

            const relation=reactive({ //选中亲属信息
                rid:0,
                rname:'',
                rimg:'',
                rage:0,
                rsex:'',
                rpassword:'',
                rphone:'',
                ridentity:''
            })
            //初始化
            onMounted(() => {
                pageChange();
            });
            //模糊查询/页码改变
            /*
            * 加一个节流
            * */
            const pageChange=()=>{
                findRFuzzy(qs.stringify({
                    "index":index.value-1,
                    "search":search.value,
                    "size":size.value
                })).then((res)=>{
                    total.value=res.data.total;
                    tableData.value=res.data.relationList;
                })
            }
            //修改信息
            const update=(data)=>{
                dialogFormVisible.value = true;
                relation.rid=data.rid;
                relation.rname=data.rname;
                relation.rimg=data.rimg;
                relation.rage=data.rage;
                relation.rsex=data.rsex;
                relation.rpassword=data.rpassword;
                relation.rphone=data.rphone;
                relation.ridentity=data.ridentity;
            }

            //文件
            const File=ref({});
            //回显
            const handleSuccess=(res, file)=>{
                relation.rimg = URL.createObjectURL(file.raw);
            }
            // 上传文件之前的钩子，参数为上传的文件
            const beforeUpload=(file)=>{
                File.value=file;
                return true;
            }

            //确认修改
            async function Confirm(){
                //上传图片
                //转为formData格式
                let formData = new FormData();
                formData.append("multipartFiles", File.value);
                //等待当前异步执行完成
                await uploadFile(formData).then((res) => {
                    relation.rimg = "http://localhost:8081/"+res.data[0];
                });
                rUpdate(qs.stringify({
                    "rid":relation.rid,
                    "rname":relation.rname,
                    "rimg":relation.rimg,
                    "rage":relation.rage,
                    "rsex":relation.rsex,
                    "rphone":relation.rphone,
                    "ridentity":relation.ridentity
                })).then(res=>{
                    ElMessage({
                        message: res.data,
                        type: 'success',
                    })
                })
                File.value=null;
                reload();
                dialogFormVisible.value=false;
            }
            const findD=()=>{
                //防抖
                debounce(pageChange(),500);
            }
            return{
                tableData,
                index,
                pageChange,
                total,
                search,
                size,
                update,
                Confirm,
                relation,
                dialogFormVisible,
                handleSuccess, beforeUpload,findD
            }
        }
    }
</script>

<style scoped>
    .img-uploader {
        width :100px;
        height: 100px;
        border: 1px dashed #d9d9d9;
        border-radius: 6px;
        cursor: pointer;
        position: relative;
        overflow: hidden;
    }
    .img-uploader :hover {
        border-color: #409EFF;
    }
    .img-uploader-icon {
        font-size: 28px;
        color: #8c939d;
        width: 100px;
        height: 100px;
        line-height: 100px;
        text-align: center;
    }
    .img {
        width :100px;
        height: 100px;
        display: block;
    }
    .tool{
        padding: 20px 0;
    }
</style>