<template>
    <!--表格-->
    <el-table
            :data="tableData"
            stripe
            style="width: 100%">
        <!--stripe 带斑马纹-->
        <el-table-column
                prop="scontent"
                type="expand">
            <template #default="scope">
                <strong>内容</strong>
                <p>{{ scope.row.scontent }}</p>
            </template>
        </el-table-column>

        <el-table-column
                label="老人姓名"
                width="100"
                prop="old.oname">
        </el-table-column>

        <el-table-column
                label="亲属姓名"
                width="100"
                prop="relation.rname">
        </el-table-column>

        <el-table-column
                label="护工姓名"
                width="100"
                prop="worker.wname">
        </el-table-column>

        <el-table-column
                label="服务类型"
                width="100"
                prop="stype.stname">
        </el-table-column>

        <el-table-column
                label="标题"
                prop="stitle">
        </el-table-column>

        <el-table-column
                label="时间"
                prop="stime">
        </el-table-column>

        <el-table-column
                label="分数"
                width="100"
                prop="sscore">
        </el-table-column>

        <el-table-column
                label="状态"
                width="100"
                prop="sstate">
        </el-table-column>

        <el-table-column
                width="180"
                fixed="right">
            <template #header>
                <el-input v-model="search" @input="findD()" class="w-50 m-2" placeholder="搜索">
                    <template #prefix>
                        <el-icon class="el-input__icon"><search /></el-icon>
                    </template>
                </el-input>
            </template>
            <template  #default="scope">
                <el-button
                        size="small"
                        @click="dialogFormVisible = true,update(scope.row)">修改</el-button>
            </template>
        </el-table-column>
    </el-table>

    <el-row class="tool">
        <!--分页-->
        <el-col span="4">
            <el-pagination
                    background
                    layout="prev, pager, next"
                    v-model:currentPage='index'
                    :page-size="size"
                    :total="total"
                    @current-change="pageChange()">
            </el-pagination>
        </el-col>
    </el-row>

    <!--消息弹出框-->
    <el-dialog v-model="dialogFormVisible" title="修改信息">
        <!--内嵌表单-->
        <el-form :model="serve">
            <el-form-item label="类型" :label-width="formLabelWidth">
                <el-select v-model="serve.stid" clearable placeholder="Select">
                    <el-option
                            v-for="item in options"
                            :key="item.stid"
                            :label="item.stcontent"
                            :value="item.stid"
                    >
                    </el-option>
                </el-select>
            </el-form-item>
            <el-form-item label="标题" :label-width="formLabelWidth">
                <el-input v-model="serve.stitle" autocomplete="off"/>
            </el-form-item>
            <el-form-item label="内容" :label-width="formLabelWidth">
                <el-input v-model="serve.scontent"  autocomplete="off" />
            </el-form-item>
        </el-form>
        <!--内嵌按钮-->
        <template #footer>
            <span class="dialog-footer">
                <el-button @click="dialogFormVisible = false">取消</el-button>
                <el-button type="primary" @click="Confirm()">确定修改</el-button>
            </span>
        </template>
    </el-dialog>
</template>

<script>
    import {findStype,findServeFuzzy,updateServe} from 'network/dailyCare';
    import {ref,onMounted,reactive,inject} from 'vue';
    import qs from 'qs';
    import { ElMessage } from 'element-plus'
    import debounce from "../../tools/debounce";

    export default {
        name: "serveList",
        setup() {
            const tableData = ref([]);//表格数据
            const index = ref(1);//展示数据索引
            const size = ref(8);//展示数据数量
            const total = ref(0);//总数量
            const search = ref('');//搜索框文字

            const dialogFormVisible=ref(false);//弹出框是否显示

            const reload = inject("reload"); //刷新

            //选择器数组
            const options = ref([]);

            const serve=reactive({ //选中护工信息
                sid:0,
                stid:0,
                stitle:'',
                scontent:'',
                simg:'',
                stime:''
            })

            //初始化
            onMounted(() => {
                pageChange();
            });
            //模糊查询/页码改变
            const pageChange = () => {
                findServeFuzzy(qs.stringify({
                    "index": index.value - 1,
                    "size": size.value,
                    "search":search.value
                })).then((res) => {
                    total.value = res.data.total;
                    tableData.value = res.data.serveList;
                })
            }
            //修改信息
            const update=(data)=>{
                dialogFormVisible.value = true;
                //填充选择器数组
                findStype().then(res=>{
                    options.value=res.data.stypeList;
                })
                serve.sid=data.sid;
                serve.stid=data.stype.stid;
                serve.stitle=data.stitle;
                serve.scontent=data.scontent;
                serve.simg=data.simg;
                serve.stime=data.stime;
            }
            //确认修改
            const Confirm=()=>{
                updateServe(qs.stringify({
                    "sid":serve.sid,
                    "stid":serve.stid,
                    "stitle":serve.stitle,
                    "scontent":serve.scontent,
                    "simg":serve.simg,
                    "stime":serve.stime
                })).then(res=>{
                    ElMessage({
                        message: res.data,
                        type: 'success',
                    })
                    reload();
                    dialogFormVisible.value=false;
                })
            }
            const findD=()=>{
                //防抖
                debounce(pageChange(),500);
            }
            return {
                tableData,
                index,
                pageChange,
                total,
                search,
                size,
                Confirm,
                update,
                serve,
                options,
                dialogFormVisible,findD
            }
        }
    }
</script>

<style scoped>
    .tool{
        padding: 20px 0;
    }
</style>