<template>
    <!--表格-->
    <el-table
            :data="tableData"
            stripe
            style="width: 100%">
        <!--stripe 带斑马纹-->

        <el-table-column
                prop="vstr"
                type="expand">
            <template #default="scope">
                <p><strong>视频</strong></p>
                <video width="400" height="280"  controls>
                    <source :src="scope.row.vstr" type="video/mp4">
                </video>
            </template>
        </el-table-column>

        <el-table-column
                label="标题"
                prop="vtitle">
        </el-table-column>

        <el-table-column
                label="内容"
                prop="vcontent">
        </el-table-column>

        <el-table-column
                label="封面"
                prop="vimg">
            <template #default="scope">
                <el-image
                        style="width: 100px; height: 100px;"
                        :src="scope.row.vimg"
                        :fit="fit"></el-image>
            </template>
        </el-table-column>

        <el-table-column
                width="180"
                fixed="right">
            <template #header>
                <el-input v-model="search" @input="findD()" class="w-50 m-2" placeholder="搜索">
                    <template #prefix>
                        <el-icon class="el-input__icon"><search /></el-icon>
                    </template>
                </el-input>
            </template>
            <template  #default="scope">
                <el-button
                        size="small"
                        @click="dialogFormVisible = true,update(scope.row)">修改</el-button>
                <el-button
                        size="small"
                        @click="del(scope.row)">删除</el-button>
            </template>
        </el-table-column>
    </el-table>

    <el-row class="tool">
        <!--分页-->
        <el-col span="4">
            <el-pagination
                    background
                    layout="prev, pager, next"
                    v-model:currentPage='index'
                    :page-size="size"
                    :total="total"
                    @current-change="pageChange()">
            </el-pagination>
        </el-col>
        <!--添加-->
        <el-col span="2" :offset="18">
            <el-button type="primary" round @click="add()">添加</el-button>
        </el-col>

    </el-row>

    <!--消息弹出框-->
    <el-dialog v-model="dialogFormVisible" :title="dialogMsg">
        <!--内嵌表单-->
        <el-form :model="video">
            <el-form-item label="标题" :label-width="formLabelWidth">
                <el-input v-model="video.vtitle" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="视频" :label-width="formLabelWidth">
                <el-upload
                        class=""
                        action="http://localhost:8081/tool/uploadFile"
                        :on-success="handleSuccess"
                        :before-upload="beforeUpload"
                >
                    <el-button>上传视频</el-button>
                </el-upload>
            </el-form-item>
            <el-form-item label="内容" :label-width="formLabelWidth">
                <el-input v-model="video.vcontent" autocomplete="off" />
            </el-form-item>
            <el-form-item label="封面图" :label-width="formLabelWidth">
                <el-upload
                        class="img-uploader"
                        action="http://localhost:8081/tool/uploadFile"
                        :on-success="handleSuccess"
                        :before-upload="beforeUpload"
                >
                    <img v-if="video.vimg" :src="video.vimg" class="img">
                    <div v-else class="el-icon-plus img-uploader-icon"></div>
                </el-upload>
            </el-form-item>
        </el-form>
        <!--内嵌按钮-->
        <template #footer>
            <span class="dialog-footer">
                <el-button @click="dialogFormVisible = false">取消</el-button>
                <el-button type="primary" @click="Confirm()">确定</el-button>
            </span>
        </template>
    </el-dialog>
</template>

<script>
    import {findVideoFuzzy,updateVideo,addVideo,deleteVideo} from 'network/recreation';
    import {ref,onMounted,reactive,inject} from 'vue';
    import qs from 'qs';
    import { ElMessage ,ElMessageBox } from 'element-plus'
    import {uploadFile} from "network/tools";
    import debounce from "../../tools/debounce";

    export default {
        name: "videoList",
        setup() {
            const tableData = ref([]);//表格数据
            const index = ref(1);//展示数据索引
            const size = ref(4);//展示数据数量
            const total = ref(0);//总数量
            const search = ref('');//搜索框文字

            const dialogMsg=ref('');//消息弹出框

            const dialogFormVisible=ref(false);//弹出框是否显示

            const reload = inject("reload"); //刷新

            const video=reactive({ //选中亲属信息
                vid:0,
                vtitle:'',
                vstr:'',
                vcontent:'',
                vimg:'',
            })

            //初始化
            onMounted(() => {
                pageChange();
            });
            //模糊查询/页码改变
            const pageChange = () => {
                findVideoFuzzy(qs.stringify({
                    "index": index.value - 1,
                    "size": size.value,
                    "search":search.value
                })).then((res) => {
                    total.value = res.data.total;
                    tableData.value = res.data.videoList;
                })
            }

            //修改信息
            const update=(data)=>{
                dialogMsg.value = "修改信息"
                dialogFormVisible.value = true;
                video.vid=data.vid;
                video.vtitle=data.vtitle;
                video.vstr=data.vstr;
                video.vcontent=data.vcontent;
                video.vimg=data.vimg;
            }

            //删除信息
            const del=(data)=>{
                ElMessageBox.confirm(
                    '确认删除?',
                    'Warning',
                    {
                        confirmButtonText: '确认',
                        cancelButtonText: '取消',
                        type: 'warning',
                    }
                ).then(()=>{
                    deleteVideo(qs.stringify({"vid":data.vid})).then((res)=>{
                        ElMessage({
                            type: 'success',
                            message: '删除成功',
                        })
                    })
                    reload();
                }).catch(() => {
                    ElMessage({
                        type: 'info',
                        message: '取消删除',
                    })
                })
            }

            //添加信息
            const add=()=>{
                dialogMsg.value = "添加信息"
                dialogFormVisible.value = true;
                video.vid=0;
                video.vtitle='';
                video.vstr='';
                video.vcontent='';
                video.vimg='';
            }

            //文件
            const File=ref([]);
            //转为formData格式
            let formData = new FormData();

            //回显
            const handleSuccess=(res, file)=>{
                if(file.raw.type.includes("image")){
                    video.vimg = URL.createObjectURL(file.raw);
                }
            }
            // 上传文件之前的钩子，参数为上传的文件
            const beforeUpload=(file)=>{
                File.value=file;
                formData.append("multipartFiles", File.value);
                return true;
            }

            //确认修改
            async function Confirm(){
                //等待当前异步执行完成
                await uploadFile(formData).then((res) => {
                    if(res.data.img!=undefined){
                        video.vimg = "http://localhost:8081/"+res.data.img;
                    }if(res.data.video!=undefined){
                        video.vstr = "http://localhost:8081/"+res.data.video;
                    }
                });
                if(video.vid === 0){
                    //添加
                    addVideo(qs.stringify({
                        "vtitle":video.vtitle,
                        "vstr":video.vstr,
                        "vcontent":video.vcontent,
                        "vimg":video.vimg
                    })).then(res=>{
                        ElMessage({
                            message: res.data,
                            type: 'success',

                        })
                    })
                }else{
                    //修改
                    updateVideo(qs.stringify({
                        "vid":video.vid,
                        "vtitle":video.vtitle,
                        "vstr":video.vstr,
                        "vcontent":video.vcontent,
                        "vimg":video.vimg
                    })).then(res=>{
                        ElMessage({
                            message: res.data,
                            type: 'success',

                        })
                    })
                }
                File.value=null;
                reload();
                dialogFormVisible.value=false;
            }
            const findD=()=>{
                //防抖
                debounce(pageChange(),500);
            }
            return {
                tableData,
                index,
                pageChange,
                total,
                search,
                size,
                dialogFormVisible,
                video,
                update,add,del,
                Confirm,
                handleSuccess,beforeUpload,
                dialogMsg,findD
            }
        }
    }
</script>

<style scoped>
    .img-uploader {
        width :100px;
        height: 100px;
        border: 1px dashed #d9d9d9;
        border-radius: 6px;
        cursor: pointer;
        position: relative;
        overflow: hidden;
    }
    .img-uploader :hover {
        border-color: #409EFF;
    }
    .img-uploader-icon {
        font-size: 28px;
        color: #8c939d;
        width: 100px;
        height: 100px;
        line-height: 100px;
        text-align: center;
    }
    .img {
        width :100px;
        height: 100px;
        display: block;
    }
    .tool{
        padding: 20px 0;
    }
</style>