<template>
    <!--表格-->
    <el-table
            :data="tableData"
            stripe
            style="width: 100%">
        <!--stripe 带斑马纹-->
        <el-table-column
                prop="wgood"
                type="expand">
            <template #default="scope">
                <strong>擅长</strong>
                <p>{{ scope.row.wgood }}</p>
            </template>
        </el-table-column>

        <el-table-column
                label="姓名"
                width="100"
                prop="wname">
        </el-table-column>

        <el-table-column
                label="照片"
                width="130"
                prop="wimg">
            <template #default="scope">
                <el-image
                        style="width: 100px; height: 100px;"
                        :src="scope.row.wimg"
                        :fit="fit"></el-image>
            </template>
        </el-table-column>

        <el-table-column
                label="年龄"
                width="80"
                prop="wage">
        </el-table-column>

        <el-table-column
                label="性别"
                width="70"
                prop="wsex">
        </el-table-column>

        <el-table-column
                label="电话号码"
                width="160"
                prop="wphone">
        </el-table-column>

        <el-table-column
                label="身份证号"
                prop="widentity">
        </el-table-column>

        <el-table-column
                label="评分"
                width="80"
                prop="wscore">
        </el-table-column>

        <el-table-column
                label="服务次数"
                width="100"
                prop="wtimes">
        </el-table-column>

        <el-table-column
                fixed="right"
                width="180">
            <template #header>
                <el-input v-model="search" @input="findD()" class="w-50 m-2" placeholder="搜索">
                    <template #prefix>
                        <el-icon class="el-input__icon"><search /></el-icon>
                    </template>
                </el-input>
            </template>
            <template  #default="scope">
                <el-button
                        size="small"
                        @click="dialogFormVisible = true,update(scope.row)">修改</el-button>
            </template>
        </el-table-column>
    </el-table>

    <el-row class="tool">
        <!--分页-->
        <el-col span="4">
            <el-pagination
                    background
                    layout="prev, pager, next"
                    v-model:currentPage='index'
                    :page-size="size"
                    :total="total"
                    @current-change="pageChange()">
            </el-pagination>
        </el-col>
    </el-row>

    <!--消息弹出框-->
    <el-dialog v-model="dialogFormVisible" title="修改信息">
        <!--内嵌表单-->
        <el-form :model="worker">
            <el-form-item label="姓名" :label-width="formLabelWidth">
                <el-input v-model="worker.wname" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="照片" :label-width="formLabelWidth">
                <el-upload
                        class="img-uploader"
                        action="http://localhost:8081/tool/uploadFile"
                        :on-success="handleSuccess"
                        :before-upload="beforeUpload"
                >
                    <img v-if="worker.wimg" :src="worker.wimg" class="img">
                    <div v-else class="el-icon-plus img-uploader-icon"></div>
                </el-upload>
            </el-form-item>
            <el-form-item label="年龄" :label-width="formLabelWidth">
                <el-input-number v-model="worker.wage" :min="1" :max="200" @change="handleChange" />
            </el-form-item>
            <el-form-item label="性别" :label-width="formLabelWidth">
                <el-radio-group v-model="worker.wsex" size="large">
                    <el-radio-button label="男"></el-radio-button>
                    <el-radio-button label="女"></el-radio-button>
                </el-radio-group>
            </el-form-item>
            <el-form-item label="电话" :label-width="formLabelWidth">
                <el-input v-model="worker.wphone"  autocomplete="off" />
            </el-form-item>
            <el-form-item label="身份证号" :label-width="formLabelWidth">
                <el-input v-model="worker.widentity" autocomplete="off" />
            </el-form-item>
            <el-form-item label="地址" :label-width="formLabelWidth">
                <el-input v-model="worker.waddress" autocomplete="off" />
            </el-form-item>
            <el-form-item label="擅长" :label-width="formLabelWidth">
                <el-input v-model="worker.wgood" autocomplete="off" />
            </el-form-item>
        </el-form>
        <!--内嵌按钮-->
        <template #footer>
            <span class="dialog-footer">
                <el-button @click="dialogFormVisible = false">取消</el-button>
                <el-button type="primary" @click="Confirm()">确定修改</el-button>
            </span>
        </template>
    </el-dialog>
</template>

<script>
    import {findWFuzzy,wUpdate} from "network/user";
    import {ref,onMounted,reactive,inject} from 'vue';
    import qs from 'qs';
    import { ElMessage } from 'element-plus'
    import {uploadFile} from "network/tools";
    import debounce from "../../tools/debounce";
    export default {
        name: "workerList",
        setup(){
            const tableData = ref([]);//表格数据
            const index=ref(1);//展示数据索引
            const size=ref(4);//展示数据数量
            const total=ref(0);//总数量
            const search = ref('');//搜索框文字

            const dialogFormVisible=ref(false);//弹出框是否显示

            const reload = inject("reload"); //刷新

            const worker=reactive({ //选中护工信息
                wid:0,
                wname:'',
                wimg:'',
                wpassword:'',
                wphone:'',
                wsex:'',
                widentity:'',
                wgood:'',
                waddress:'',
                wage:0,
                wscore:0
            })

            //初始化
            onMounted(() => {
                pageChange();
            });
            //模糊查询/页码改变
            /*
            * 加一个节流
            * */
            const pageChange=()=>{
                findWFuzzy(qs.stringify({
                    "index":index.value-1,
                    "search":search.value,
                    "size":size.value
                })).then((res)=>{
                    total.value=res.data.total;
                    tableData.value=res.data.workerList;
                })
            }
            //修改信息
            const update=(data)=>{
                dialogFormVisible.value = true;
                worker.wid=data.wid;
                worker.wname=data.wname;
                worker.wimg=data.wimg;
                worker.wage=data.wage;
                worker.wsex=data.wsex;
                worker.wpassword=data.wpassword;
                worker.wphone=data.wphone;
                worker.widentity=data.widentity;
                worker.wgood=data.wgood;
                worker.waddress=data.waddress;
            }

            //文件
            const File=ref({});
            //回显
            const handleSuccess=(res, file)=>{
                worker.wimg = URL.createObjectURL(file.raw);
            }
            // 上传文件之前的钩子，参数为上传的文件
            const beforeUpload=(file)=>{
                File.value=file;
                return true;
            }

            //确认修改
            async function Confirm(){
                //上传图片
                //转为formData格式
                let formData = new FormData();
                formData.append("multipartFiles", File.value);
                //等待当前异步执行完成
                await uploadFile(formData).then((res) => {
                    if(res.data.img!=''&&res.data.img!=null) {
                        worker.wimg = "http://localhost:8081/" + res.data.img;
                    }
                });
                wUpdate(qs.stringify({
                    "wid":worker.wid,
                    "wname":worker.wname,
                    "wimg":worker.wimg,
                    "wage":worker.wage,
                    "wsex":worker.wsex,
                    "wphone":worker.wphone,
                    "widentity":worker.widentity,
                    "wgood":worker.wgood,
                    "waddress":worker.waddress
                })).then(res=>{
                    ElMessage({
                        message: res.data,
                        type: 'success',
                    })
                })
                File.value=null;
                reload();
                dialogFormVisible.value=false;
            }
            const findD=()=>{
                //防抖
                debounce(pageChange(),500);
            }
            return{
                tableData,
                index,
                pageChange,
                total,
                search,
                size,
                update,
                Confirm,
                worker,
                dialogFormVisible,
                handleSuccess, beforeUpload,findD
            }
        }
    }
</script>

<style scoped>
    .img-uploader {
        width :100px;
        height: 100px;
        border: 1px dashed #d9d9d9;
        border-radius: 6px;
        cursor: pointer;
        position: relative;
        overflow: hidden;
    }
    .img-uploader :hover {
        border-color: #409EFF;
    }
    .img-uploader-icon {
        font-size: 28px;
        color: #8c939d;
        width: 100px;
        height: 100px;
        line-height: 100px;
        text-align: center;
    }
    .img {
        width :100px;
        height: 100px;
        display: block;
    }
    .tool{
        padding: 20px 0;
    }
</style>