<template>
    <div class="footer">
        <span>王晏&nbsp8002118262&nbsp居家养老服务系统</span>
    </div>
</template>

<script>
    export default {
        name: "RelationFooter"
    }
</script>

<style scoped>
    .footer{
        width: 100vw;
        padding: 50px 0;
        background-color: #22A5F1;
        font-size: 20px;
        color: #FFFFFF;
        font-family: '宋体';
    }
</style>