<template>
    <div class="container">
        <relation-header :avatar="rimg"></relation-header>
        <el-backtop :right="100" :bottom="100" />
        <div class="main">
            <!--健康信息-->
            <div class="healthBox">
                <div ref="echartsRef"  style='height: 300px;width: 100%' ></div>
            </div>

            <!--老人信息-->
            <div class="oBox">
                    <div class="odetail">
                        <p class="name"><strong>姓名: </strong>{{oname}}  &nbsp;&nbsp; <strong>年龄: </strong>{{oage}}</p>
                        <p ><strong>性别: </strong>{{osex}}</p>
                        <p ><strong>电话号码: </strong>{{ophone}}</p>
                        <p ><strong>家庭住址: </strong>{{oaddress}}</p>
                    </div>
                    <div class="odetail">
                        <p align="left"><strong>疾病: </strong>{{oillness}}</p>
                    </div>
            </div>

            <!--用药提醒-->
            <div class="mBox">
                <div class="mList">
                    <div class="bars">
                        <div  :class="Mactive == 1 ? 'active bar':'bar'">
                            <span @click="changeM(1)">早</span>
                        </div>
                        <div :class="Mactive == 2 ? 'active bar':'bar'">
                            <span @click="changeM(2)">中</span>
                        </div>
                        <div :class="Mactive == 3 ? 'active bar':'bar'">
                            <span @click="changeM(3)">晚</span>
                        </div>
                    </div>
                    <div class="cardBox">
                        <div class="mCard" v-for="item in remindList" :key="item">
                            <img :src="item.medicine.mimg">
                            <div>
                                <p class="mname">{{item.medicine.mname}}</p>
                                <p class="mfunction">{{item.medicine.mfunction}}</p>
                                <p class="mdosage">{{item.medicine.mdosage}}</p>
                            </div>
                            <el-button class="btn" type="primary" plain @click="delM(item.mrid)">删除</el-button>
                        </div>

                    </div>
                </div>
                <div class="mFormBox">
                    <div class="mtitle"><span>添加用药提醒</span></div>
                    <!--内嵌表单-->
                    <el-form class="mForm" :model="mremind">
                        <el-form-item label="药品" :label-width="formLabelWidth">
                            <el-autocomplete
                                    v-model="value"
                                    :fetch-suggestions="searchM"
                                    placeholder="Please input"
                                    @select="handleSelectM"
                            />
                        </el-form-item>
                        <el-form-item label="时间" :label-width="formLabelWidth">
                            <el-checkbox-group v-model="mremind.mrremind" size="large">
                                <el-checkbox-button v-for="item in mrreminds" :key="item" :label="item">
                                    {{ item }}
                                </el-checkbox-button>
                            </el-checkbox-group>
                        </el-form-item>
                    </el-form>
                    <!--按钮-->
                    <el-button type="primary" @click="ConfirmM()">确定</el-button>
                </div>
            </div>

            <!--饮食建议-->
            <div class="fBox">
                <div class="fFormBox">
                    <div class="ftitle"><span>添加饮食提醒</span></div>
                    <!--内嵌表单-->
                    <el-form class="fForm" :model="food">
                        <el-form-item label="食物名" :label-width="formLabelWidth">
                            <el-autocomplete
                                    v-model="value"
                                    :fetch-suggestions="searchF"
                                    placeholder="Please input"
                                    @select="handleSelectF"
                            />
                        </el-form-item>
                        <el-form-item label="饮食建议" :label-width="formLabelWidth">
                            <el-radio-group v-model="eat.estate" size="large">
                                <el-radio-button label="1">应该多吃</el-radio-button>
                                <el-radio-button label="2">应该少吃</el-radio-button>
                            </el-radio-group>
                        </el-form-item>
                    </el-form>
                    <!--按钮-->
                    <el-button type="primary" @click="ConfirmF()">确定</el-button>
                </div>

                <div class="fList">
                    <div class="bars">
                        <div :class="Factive == 1 ? 'active bar':'bar'">
                            <span @click="changeF(1)">多吃</span>
                        </div>
                        <div :class="Factive == 2 ? 'active bar':'bar'">
                            <span @click="changeF(2)">少吃</span>
                        </div>
                    </div>
                    <div class="cardBox">
                        <div class="fCard" v-for="item in eatList" :key="item">
                            <img :src="item.food.fimg">
                            <div>
                                <p class="fname">{{item.food.fname}}</p>
                                <p class="fdetail">{{item.food.fdetail}}</p>
                                <p class="fsuitable">适合：{{item.food.fsuitable}}</p>
                                <p class="funsuitable">不适合：{{item.food.funsuitable}}</p>
                            </div>
                            <el-button class="btn" type="primary" plain @click="delF(item.eid)">删除</el-button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <relation-footer></relation-footer>
    </div>

</template>

<script>
    import {ref,onMounted,toRefs,reactive ,inject} from 'vue'
    import {useRouter,useRoute} from 'vue-router';
    import {findBodyByOid,addMremind, deleteMremind, findMedicineFuzzy,
        findMremindByoid,addEat, findEatByOid,findFoodFuzzy,deleteEat} from "network/healthCare";
    import qs from 'qs';
    import {dateFormat} from "../../tools/dateFormat";
    import {findByOid} from "network/user";
    import { ElMessage } from 'element-plus';

    //echarts
    import * as echarts from 'echarts/core';
    import { GridComponent } from 'echarts/components';
    import { LineChart } from 'echarts/charts';
    import { UniversalTransition } from 'echarts/features';
    import { CanvasRenderer } from 'echarts/renderers';
    import { TitleComponent } from 'echarts/components';
    import {TooltipComponent} from 'echarts/components';
    import RelationHeader from "../../components/headers/RelationHeader";
    import {findOByRid} from "../../network/user";
    import RelationFooter from "../../components/footer/RelationFooter";

    export default {
        name: "rHealth",
        components: {RelationFooter, RelationHeader},
        setup(){
            const illnessList=ref({});//疾病列表

            const rid=ref(0);
            const rimg=ref('');
            const oid=ref(0);

            const old=reactive({ //选中老人信息
                oid:oid.value,
                oname:'',
                oage:0,
                osex:'',
                opassword:'',
                ophone:'',
                oaddress:'',
                oillness:''
            })

            //用药提醒
            const remindList=ref(null);
            const morningList=ref(null);
            const noonList=ref(null);
            const afternoonList=ref(null);

            const mrreminds=ref(['早','中','晚']);

            const mremind=reactive({ //用药提示
                mrid:0,
                oid:oid.value,
                mrremind:['早'],
                mrstate:1
            })

            //远程搜索输入框
            const medicine=reactive({ //药
                value:'',
                mid:0
            })

            //饮食建议
            const eatList=ref(null);
            const eatMoreList=ref(null);
            const eatLessList=ref(null);

            const eat=reactive({ //饮食建议
                eid:0,
                oid:oid.value,
                fid:0,
                estate:1
            })
            //远程搜索输入框
            const food=reactive({ //饮食建议
                value:'',
                fid:0
            })

            //刷新
            const reload = inject("reload");
            //路由
            const route=useRoute();
            const router=useRouter();

            // 跳转方法
            const goTo = (path, query) => {
                router.push({ path, query: query || {} });
            };

            //echarts
            const echartsRef = ref(null);
            echarts.use([GridComponent, LineChart, CanvasRenderer, UniversalTransition,TitleComponent,TooltipComponent]);

            //初始化
            onMounted(async ()=>{
                rimg.value=sessionStorage.getItem("rimg");
                rid.value=sessionStorage.getItem("rid");
                oid.value=route.query.oid;

                findByOid(qs.stringify({"oid":oid.value})).then(res=>{
                    old.oname=res.data.old.oname;
                    old.oage=res.data.old.oage;
                    old.osex=res.data.old.osex;
                    old.opassword=res.data.old.opassword;
                    old.ophone=res.data.old.ophone;
                    old.oaddress=res.data.old.oaddress;
                    old.oillness=res.data.old.oillness;
                    illnessList.value=old.oillness.split(' ');
                })

                //用药提醒
                await findMremindByoid(qs.stringify({"oid":oid.value})).then((res)=>{
                    remindList.value=res.data.mremindList;
                })

                morningList.value= remindList.value.filter((item)=>{
                    if(item.mrremind=='早') return item;
                });
                noonList.value= remindList.value.filter((item)=>{
                    if(item.mrremind=='中') return item;
                });
                afternoonList.value= remindList.value.filter((item)=>{
                    if(item.mrremind=='晚') return item;
                });

                remindList.value=morningList.value;

                //获取eatList
                await findEatByOid(qs.stringify({"oid":oid.value})).then((res)=>{
                    eatList.value=res.data.eatList;
                })
                //分别过滤出eatMoreList、eatLessList
                eatMoreList.value= eatList.value.filter((item)=>{
                    if(item.estate==1) return item;
                });
                eatLessList.value= eatList.value.filter((item)=>{
                    if(item.estate==2) return item;
                });

                eatList.value=eatMoreList.value;

                //echarts
                let edata=[];
                let time=[];

                await findBodyByOid(qs.stringify({"oid":oid.value})).then(res=>{
                   res.data.bodyList.forEach(item=>{
                       time.push(toDate(item.bdate));
                       edata.push({
                           value:item.bhealth,
                           detail:item.bdetail,
                           time:toDate(item.bdate)
                       });
                    });

                })

                let myChart=echarts.init(echartsRef.value);
                myChart.setOption({
                    tooltip:{
                        trigger: 'axis',
                        formatter:(params)=>{
                            if(params[0].data.detail==null){
                                return `健康指数:${params[0].data.value} <br> 时间:${params[0].data.time}`
                            }
                            return `健康指数:${params[0].data.value} <br>  细节:${params[0].data.detail}  <br> 时间:${params[0].data.time} `
                        },
                    },
                    xAxis: {
                        data: time,
                        name:'时间'
                    },
                    yAxis: {
                        type: 'value',
                        name:'健康指数'
                    },
                    series: [
                        {
                            name:'健康指数',
                            data: edata,
                            type: 'line',
                            lineStyle: {
                                normal: {
                                    color: 'lightblue',
                                    width: 4
                                }
                            }
                        }
                    ]
                });
            })

            //删除
            const delM=(mrid)=>{
                deleteMremind(qs.stringify({"mrid":mrid})).then((res)=>{
                    ElMessage({
                        message: res.data,
                        type: 'success',
                    })
                })
                reload();
            }

            //远程搜索食物
            const searchM= async (queryString,cb)=>{
                let medicineList=null;
                await findMedicineFuzzy(qs.stringify({"search":queryString})).then((res)=>{
                    medicineList=res.data.medicineList;
                })
                //必须转为带value的才能认识
                let results=medicineList.map((item) => {
                    return {
                        value: item.mname,
                        mid: item.mid,
                    };
                });
                //回调函数
                cb(results);
            }
            //选中
            const handleSelectM=(item)=>{
                medicine.mid=item.mid;
            }

            //确认
            const ConfirmM=()=>{
                if( medicine.mid==0){
                    ElMessage({
                        message: '请选中食物',
                        type: 'error',
                    })
                }else{
                    mremind.mrremind.forEach((item)=>{
                        addMremind(qs.stringify({"oid":oid.value,"mid":medicine.mid,"mrremind":item})).then(res=>{
                            ElMessage({
                                message: res.data,
                                type: 'success',
                            })
                        });
                    })
                    medicine.mid=0;
                    reload();
                }
            }

            const toDate=(time)=>{
                return dateFormat(new Date(time*1),"MM月DD日 HH:mm");
            }

            //改变药早中晚bar
            const Mactive=ref(1);
            const changeM=(key)=>{
                if(key==1){
                    remindList.value=morningList.value;
                }else if(key==2){
                    remindList.value=noonList.value;
                }else {
                    remindList.value=afternoonList.value;
                }
                Mactive.value=key;
            }

            //删除
            const delF=(eid)=>{
                deleteEat(qs.stringify({"eid":eid})).then((res)=>{
                    ElMessage({
                        message: res.data,
                        type: 'success',
                    })
                })
                reload();
            }

            //远程搜索食物
            const searchF= async (queryString,cb)=>{
                let foodList=null;
                await findFoodFuzzy(qs.stringify({"search":queryString})).then((res)=>{
                    foodList=res.data.foodList;
                })
                //必须转为带value的才能认识
                let results=foodList.map((item) => {
                    return {
                        value: item.fname,
                        fid: item.fid,
                    };
                });
                //回调函数
                cb(results);
            }
            //选中
            const handleSelectF=(item)=>{
                food.fid=item.fid;
            }

            //确认
            const ConfirmF=()=>{
                if(food.fid==0){
                    ElMessage({
                        message: '请选中食物',
                        type: 'error',
                    })
                }else{
                    addEat(qs.stringify({"oid":oid.value,"fid":food.fid,"estate":eat.estate})).then(res=>{
                        ElMessage({
                            message: res.data,
                            type: 'success',
                        })
                    });
                    food.fid=0;
                    reload();
                }
            }

            //改变食物bar
            const Factive=ref(1);
            const changeF=(key)=>{
                if(key==1){
                    eatList.value=eatMoreList.value;
                }else {
                    eatList.value=eatLessList.value;
                }
                Factive.value=key;
            }

            return{
                goTo, echartsRef,...toRefs(old),illnessList,
                remindList, mremind,...toRefs(medicine),mrreminds,
                delM,searchM, ConfirmM,changeM,
                handleSelectM,
                eat, ...toRefs(food),eatList,
                handleSelectF, ConfirmF,searchF,delF,changeF,
                Factive,Mactive,rimg,
            }
        }
    }
</script>

<style scoped lang="scss">
    .active{
        background-color: #1096e0;
        color: #FFFFFF;
    }
    .footer{
        width: 100vw;
        height: 150px;
    }
    .container {
        background-color: #F8F9FA;
        min-height: 100vh;
    }
    .main{
        .oBox{
            background-color: #fff;
            box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
            padding: 30px;
            display: flex;
            width: 80vw;
            height: 280px;
            margin: 0 auto;
            text-align: left;
            font-family: '宋体';
            font-size: 22px;
            line-height: 2;
            .odetail{
                padding: 5px;
                width: 600px;
                background-color: rgba(3, 114, 249, 0.18);
            }
        }
        .mBox{
            margin: 100px;
            display: grid;
            grid-template-columns: 60vw 20vw;
            grid-template-rows:70vh;
            grid-row-gap: 20px;
            grid-column-gap: 20px;
            justify-content: center;
            .mList{
                background-color: #fff;
                box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
                padding: 15px;
                overflow: auto;
                .bars{
                    display: flex;
                    font-size: 20px;
                    text-align: center;
                    cursor: pointer;
                    border-bottom: 1px solid lightblue;
                    width: 30vw;
                    margin-bottom: 20px;
                    .bar{
                        border: 1px solid lightblue;
                        width: 60px;
                        height: 40px;
                        line-height: 40px;
                    }
                }
                .active{
                    background-color: lightblue;
                }
                .cardBox{
                    position: relative;
                    .btn{
                        position: absolute;
                        right: 10px;
                    }
                    .mCard{
                        box-shadow: rgb(1 1 1 / 15%) 1px 1px 5px 0px;
                        transition: .3s ease;
                        border-radius: var(--border-radius-base);
                        border: 1px solid #f8f8f8;
                        text-align: left;
                        display: flex;
                        height: 170px;
                        margin-bottom: 10px;
                        padding: 10px;
                        line-height: 1.4;
                        img{
                            width: 180px;
                            height: 150px;
                        }
                        .mname{
                            font-size: 27px;
                            font-weight: 500;
                            cursor: pointer;
                        }
                        .mfunction{
                            color: grey;
                        }
                    }
                }

            }
            .mFormBox{
                box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
                .mtitle{
                    background-color: rgba(3, 114, 249, 0.49);
                    height: 60px;
                    font-size: 25px;
                    line-height: 60px;
                    font-family: '楷体';
                    color: #FFFFFF;
                }
                .mForm{
                    padding: 30px 20px;
                }
            }

        }
        .fBox{
            margin: 100px;
            display: grid;
            grid-template-columns: 20vw 60vw;
            grid-template-rows:70vh;
            grid-row-gap: 20px;
            grid-column-gap: 20px;
            justify-content: center;
            .fList{
                background-color: #fff;
                box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
                padding: 15px;
                overflow: auto;
                .bars{
                    display: flex;
                    font-size: 20px;
                    text-align: center;
                    cursor: pointer;
                    border-bottom: 1px solid lightblue;
                    width: 30vw;
                    margin-bottom: 20px;
                    .bar{
                        border: 1px solid lightblue;
                        width: 60px;
                        height: 40px;
                        line-height: 40px;
                    }
                }
                .active{
                    background-color: lightblue;
                }
                .cardBox{
                    position: relative;
                    .btn{
                        position: absolute;
                        right: 10px;
                    }
                    .fCard{
                        box-shadow: rgb(1 1 1 / 15%) 1px 1px 5px 0px;
                        transition: .3s ease;
                        border-radius: var(--border-radius-base);
                        border: 1px solid #f8f8f8;
                        text-align: left;
                        display: flex;
                        height: 170px;
                        margin-bottom: 10px;
                        padding: 10px;
                        line-height: 1.4;
                        img{
                            width: 180px;
                            height: 150px;
                        }
                        .fname{
                            font-size: 27px;
                            font-weight: 500;
                            cursor: pointer;
                        }
                        .fdetail{
                            color: grey;
                        }
                    }
                }
            }
            .fFormBox{
                box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
                .ftitle{
                    background-color: rgba(3, 114, 249, 0.49);
                    height: 60px;
                    font-size: 25px;
                    line-height: 60px;
                    font-family: '楷体';
                    color: #FFFFFF;
                }
                .fForm{
                    padding: 30px 20px;
                }
            }
        }
    }
</style>