<template>
    <div class="container">
        <relation-header :avatar="rimg"></relation-header>
        <el-backtop :right="100" :bottom="100" />
        <div class="main">
            <div class="banner">
                <div @click="go('/rServe')" class="type">
                    <font-awesome-icon style="color: #5a67d8" icon="server" size="x"/>
                    服务中心
                </div>
                <div @click="go('/rHealth')" class="type">
                    <font-awesome-icon style="color: #5a67d8" icon="heartbeat" size="x"/>
                    健康中心
                </div>
                <div @click="goTo('/rPersonal')" class="type">
                    <font-awesome-icon style="color: #5a67d8" icon="user" size="x"/>
                    个人中心
                </div>
            </div>

            <swiper
                    :modules="modules"
                    :slides-per-view="1"
                    :space-between="50"
                    :pagination="{ clickable: true}"
                    @swiper="onSwiper"
                    @slideChange="onSlideChange"
            >
                <swiper-slide>
                    <div class="sysCard">
                        <div class="sysText">
                            <span>居家养老系统</span>
                            <h3>系统分为生活照料、家政服务、健康护理、休闲娱乐、家属辅助五大模块。</h3>
                            <p>基于居家养老模式的服务系统改变了保守单一的养老服务模式，能够在更大程度上满足养老服务的效率，
                                可以有效弥补传统居家养老的不足，让老人不受时间、地理限制，在家中使用软件就可以享受全方位、
                                高质量的生活服务，从而为老年人提供舒适、安全的养老生活，又能帮助子女远程关注老人们的生活状况，
                                缓解赡养压力，拉近亲子之间距离。</p>
                        </div>
                        <div class="sysImg">
                            <img src="http://localhost:8081/2a74fb82985047acbf807f42ea34888a.jpg">
                        </div>
                    </div>
                </swiper-slide>
                <swiper-slide>
                    <div class="sysCard">
                        <div class="sysText">
                            <span>居家养老系统</span>
                            <h3>让养老不受时间和地理环境的束缚，在自己家中过上高质量高享受的生活。</h3>
                            <p>当今社会人口老龄化问题日益严重，随着人口老龄化的加剧，养老服务的需求日渐增多。
                                居家养老充分结合了家庭养老和社会养老的特点，适合绝大多数家庭和老人，
                                也是全国老龄办一直推崇的家庭养老模式，让老年人在日常生活中可以不受时间和地理环境的束缚，
                                在自己家中过上高质量高享受的生活。</p>
                        </div>
                        <div class="sysImg">
                            <img src="http://localhost:8081/1f318fa78991429c836f9265a81fa159.jpg">
                        </div>
                    </div>
                </swiper-slide>
                <swiper-slide>
                    <div class="sysCard">
                        <div class="sysText">
                            <span>居家养老系统</span>
                            <h3>家里和社区都是熟悉的环境，老人乐于接受养老，同时减轻了老人和家属到养老机构的陌生感。</h3>
                            <p>居家养老整合了个人、家庭、社区、政府、社会等方面养老资源的投入。个人、家庭和政府主要提供物质养老资源，
                                保障老年人的衣食住行；精神方面需求则主要依赖于家庭和社区提供。同其他养老模式对比，
                                社区服务的加入，使社区资源得到了有效的利用，加之前文所述优点，它优化了全社会的养老资源的配置。</p>
                        </div>
                        <div class="sysImg">
                            <img src="http://localhost:8081/fe1de9772eb545618931c795b3078206.jpg">
                        </div>
                    </div>
                </swiper-slide>
            </swiper>

            <div class="wCon">
                <div class="title">
                    <span>优秀护工</span>
                    <el-button class="btn" @click="go('/rPickWorker')">更多</el-button>
                </div>
                <div class="wBox">
                    <div class="wCard" v-for="item in workerList" :key="item">
                        <img :src="item.wimg">
                        <p class="wname">{{item.wname}}</p>
                        <div class="wgood">
                            <p>{{item.wgood}}</p>
                        </div>
                        <p class="waddress">{{item.waddress}}</p>
                        <el-rate disabled v-model="item.wscore"></el-rate>
                    </div>

                    <div class="sBanner" @click="go('/rServe')">
                        <div class="sIcon">
                            <font-awesome-icon icon="server" size="2x"/>
                        </div>
                        <span>服务中心</span>
                    </div>
                    <div class="sBanner" @click="go('/rHealth')">
                        <div class="sIcon">
                            <font-awesome-icon icon="heartbeat" size="2x"/>
                        </div>
                        <span>健康中心</span>
                    </div>
                    <div class="sBanner" @click="goTo('/rPersonal')">
                        <div class="sIcon">
                            <font-awesome-icon icon="user" size="2x"/>
                        </div>
                        <span>个人中心</span>
                    </div>

                    <div class="moreW" @click="go('/rPickWorker')">
                        <span>更多优秀护工点这里</span>
                    </div>
                </div>
            </div>

            <div class="fCon">
                <div class="title">
                    <span>食物</span>
                    <el-button class="btn" @click="go('/rPickFood')">更多</el-button>
                </div>
                <div class="fBox">
                    <div v-for="item in foodList" :key="item" class="fDetail">
                        <img :src="item.fimg">
                        <div class="fMsg">
                            <p class="ftitle">{{item.fname}}</p>
                            <p>{{item.fdetail}}</p>
                            <p>适合:{{item.fsuitable}}</p>
                            <p>不适合：{{item.funsuitable}}</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="mCon">
                <div class="title">
                    <span>药品</span>
                    <el-button class="btn" @click="go('/rPickMedicine')">更多</el-button>
                </div>
                <div class="mBox">
                    <el-descriptions
                            :column="1"
                            :size="size"
                            border
                    >
                        <el-descriptions-item>
                            <template #label>
                                <div class="cell-item">
                                    <el-icon>
                                        <user />
                                    </el-icon>
                                    药品名
                                </div>
                            </template>
                            腰息痛胶囊
                        </el-descriptions-item>
                        <el-descriptions-item label="图片">
                            <img style="height: 150px" src="http://localhost:8081/43d31bae11f7420bba486e4419384fd4.jpg">
                        </el-descriptions-item>
                        <el-descriptions-item label="成分">
                            白芷、草乌（制）、独活、续断、牛膝、三七、防风、威灵仙、秦艽、川加皮、防己、海风藤、杜仲、
                            土萆薢、何首乌、桑寄生、当归、骨碎补、红花、千年健、赤芍、桂枝、扑热息痛。
                        </el-descriptions-item>
                        <el-descriptions-item label="规格">	0.3克*40粒/盒</el-descriptions-item>
                        <el-descriptions-item label="剂量">	口服。一次2粒，一日3次。饭后服。</el-descriptions-item>
                        <el-descriptions-item label="功能">
                            舒筋活络，祛瘀止痛，活血驱风。用于风湿性关节炎，肥大性腰椎炎，肥大性胸椎炎，颈椎炎，坐骨神经痛，腰肌劳损。
                        </el-descriptions-item>
                        <el-descriptions-item label="不良反应">
                            尚不明确。
                        </el-descriptions-item>
                        <el-descriptions-item label="禁忌">
                            尚不明确。
                        </el-descriptions-item>
                        <el-descriptions-item label="注意事项">
                            胃肠不适者慎服。
                        </el-descriptions-item>
                    </el-descriptions>
                </div>
            </div>
        </div>

        <relation-footer></relation-footer>
    </div>

    <el-dialog v-model="centerDialogVisible" title="选择长辈" width="30%" center>
        <div class="old" v-for="item in oldList" :key="item">
            <el-button type="primary" plain size="large" @click="To(item.oid)">{{item.oname}}</el-button>
        </div>
    </el-dialog>
</template>

<script>
    import { Pagination, A11y} from 'swiper';
    import { Swiper, SwiperSlide } from "swiper/vue/swiper-vue";
    import 'swiper/swiper-bundle.css';
    import {useRouter} from 'vue-router';
    import {ref,onMounted,computed} from 'vue';
    import {orderWorker} from "network/user";
    import {findFoodFuzzy} from "network/healthCare";
    import qs from 'qs';
    import RelationHeader from "../../components/headers/RelationHeader";
    import {findOByRid} from "../../network/user";
    import RelationFooter from "../../components/footer/RelationFooter";
    export default {
        name: "rHome",
        components: {
            RelationFooter,
            RelationHeader,
            Swiper,
            SwiperSlide,
        },
        setup() {
            const centerDialogVisible=ref(false)
            const workerList=ref([]);//护工列表
            const foodList=ref([]);//食物列表
            //路由
            const router=useRouter();
            const rimg=ref('');
            const rid=ref(0);
            const oldList=ref([]);

            onMounted(()=>{
                rimg.value=sessionStorage.getItem("rimg");
                rid.value=sessionStorage.getItem("rid");
                orderWorker(qs.stringify({"index":0,"size":2})).then(res=>{
                    workerList.value=res.data.workerList.map(item=>{
                        item.wscore=(item.wscore/item.wtimes).toFixed(2);
                        return item;
                    });
                })
                findFoodFuzzy(qs.stringify({"index":0,"size":4,"search":""})).then(res=>{
                    foodList.value=res.data.foodList;
                })
                findOByRid(qs.stringify({"rid":rid.value})).then(res=>{
                    oldList.value=res.data.oldList;
                })
            })

            // 跳转方法
            const goTo = (path, query) => {
                router.push({ path, query: query || {} });
            };

            //轮播图
            const onSwiper = (swiper) => {
                console.log(swiper);
            };
            const onSlideChange = () => {
                console.log('slide change');
            };

            let Path='';
            const go=(path)=>{
                centerDialogVisible.value=true;
                Path=path;
                console.log(centerDialogVisible.value);
            }
            const To=(oid)=>{
                goTo(Path,{"oid":oid});
                Path='';
            }

            return {
                onSwiper, onSlideChange,
                modules: [ Pagination, A11y],
                goTo,
                workerList,foodList,rimg,
                go,oldList,centerDialogVisible,To
            };
        }
    }
</script>

<style scoped lang="scss">
    .old{
        display: grid;
    }
    .footer{
        width: 100vw;
        height: 150px;
    }
    .container {
        background-color: #ecedee;
        min-height: 100vh;
    }
    .main {
        .banner {
            margin: 50px 0 50px 0;
            display: grid;
            grid-template-columns: repeat(3, 20vw);
            grid-template-rows: 16vh;
            grid-column-gap: 120px;
            justify-content: center;
            font-size: 2rem;
            font-weight: 500;
            line-height: 2;
            color: #718096;
            .type {
                background-color: #fff;
                padding :20px;
                display: flex;
                flex-direction: column;
                cursor: pointer;
                box-shadow: rgb(1 1 1 / 5%) 1px 1px 5px 0px;
                border-radius: var(--border-radius-sm);
                transition: .3s ease;
                align-items: center;
                .icon{
                    width: 60px;
                    height: 60px;
                }
            }
            .type:hover{
                color: #5a67d8;;
                transform: translateY(-0.25rem);
                box-shadow: rgb(46 41 51 / 8%) 0px 2px 4px, rgb(71 63 79 / 16%) 0px 5px 10px;
            }
        }
        .title{
            padding: 60px 0 20px 14vw;
            font-size:26px;
            text-align: left;
            position: relative;
            .btn{
                position: absolute;
                right: 14vw;
            }
        }
        .sysCard{
            padding: 30px 0;
            display: flex;
            text-align: left;
            justify-content: center;
            /*border: 1px solid green;*/
            .sysText{
                width: 750px;
                height: 450px;
                padding-top: 60px;
                padding-right: 50px;
                font-family: '宋体';
                span{
                    font-size: 19px;
                    font-family: '微软雅黑';
                    color: #5a67d8;;
                    display: inline-block;
                    background: rgba(90, 103, 216, 0.05);
                    padding: 9px 20px;
                    border-radius: 15px;
                    font-weight: 500;
                    margin-bottom: 1.5rem;
                }
                p{
                    font-size: 18px;
                    line-height: 28px;
                    font-weight: 300;
                    color: #718096;
                }
                h3{
                    font-size: 43px;
                    line-height: 55px;
                    font-weight: 500;
                    max-width: 730px;
                    /* position: relative; */
                    margin-bottom: 1.5rem;
                }
            }
            .sysImg{
                width: 370px;
                height: 420px;
                img{
                    width: 360px;
                    height: 450px;
                    border-radius: 15px;
                }
            }
        }
        .wCon{
            background-color: #F8F9FA;
            margin-top: 100px;
            .title{
                padding: 60px 0 20px 14vw;
                font-size:26px;
                text-align: left;
            }
            .wBox{
                display: grid;
                grid-template-columns: repeat(3, 24vw);
                grid-template-rows: repeat(6,9vh);
                grid-gap: 20px;
                justify-content: center;
                padding-bottom:120px;
                :nth-of-type(1){
                    grid-row: 1 / 7;
                }
                :nth-of-type(2){
                    grid-row: 1 / 7;
                }
                .wCard{
                    background-color: #fff;
                    border-radius: var(--border-radius-base);
                    padding: 16px 0;
                    cursor: pointer;
                    box-shadow: rgb(1 1 1 / 5%) 1px 1px 5px 0px;
                    transition: .3s ease;
                    img{
                        width: 20vw;
                        height: 20vw;
                        border-radius: var(--border-radius-sm);
                    }
                    .wname{
                        font-size: var(--font-size-base);
                        padding: 6px 0;
                    }
                    .wname:hover{
                        color: #5a67d8;
                    }
                    .wgood{
                        color: #718096;
                        height: 70px;
                    }
                    .waddress{
                        color: #718096;
                    }
                }
                .wCard:hover{
                    transform: translateY(-0.25rem);
                    box-shadow: rgb(46 41 51 / 8%) 0px 2px 4px, rgb(71 63 79 / 16%) 0px 5px 10px;
                }
                .sBanner{
                    background-color: #fff;
                    box-shadow: rgb(1 1 1 / 5%) 1px 1px 5px 0px;
                    border-radius: var(--border-radius-base);
                    text-align: left;
                    display: flex;
                    line-height: 9vh;
                    font-size: 18px;
                    color: #76849A;
                    overflow: hidden;
                    cursor: pointer;
                    .sIcon{
                        height: 9vh;
                        width: 90px;
                        padding: 10px 0;
                        text-align: center;
                        background-color: #E2E8F0;
                    }
                    span{
                        padding-left: 20px;
                    }
                }
                .sBanner:hover{
                    color: #5a67d8;
                    .sIcon{
                        color: white;
                        background-color: #5a67d8;
                    }
                }
                :nth-of-type(6){
                    grid-row: 4 / 7;
                }
                .moreW{
                    padding: 60px 40px;
                    background-color: #fff;
                    color: #76849A;
                    cursor: pointer;
                    font-family: '楷体';
                    font-size: var(--font-size-lg);
                    border-radius: var(--border-radius-base);
                    box-shadow: rgb(1 1 1 / 5%) 1px 1px 5px 0px;
                    transition: .3s ease;
                }
                .moreW:hover{
                    background-color: #5a67d8;
                    color: white;
                }
            }
        }
        .fCon{
            background-color: #f6f6f6;
            padding-bottom: 150px;

            .fBox{
                display: grid;
                grid-template-columns: repeat(2, 36vw);
                grid-template-rows: repeat(2,29vh);
                justify-content: center;
                grid-column-gap: 40px;
                grid-row-gap: 20px;
                .fDetail{
                    background-color: #fff;
                    display: flex;
                    border-radius: var(--border-radius-base);
                    overflow: hidden;
                    cursor: pointer;
                    box-shadow: rgb(1 1 1 / 5%) 1px 1px 5px 0px;
                    text-align: left;
                    img{
                        width: 29vh;
                        height: 29vh;
                    }
                    .fMsg{
                        padding: 20px;
                        color: #718096;
                        .ftitle{
                            color: #404557;
                            font-size: 24px;
                        }
                    }
                }
                .fDetail:hover{
                    transform: translateY(-0.25rem);
                    box-shadow: rgb(46 41 51 / 8%) 0px 2px 4px, rgb(71 63 79 / 16%) 0px 5px 10px;
                }
            }
        }
        .mCon{
            padding: 40px 0 140px 0 ;
            .mBox{
                width: 75vw;
                height: 600px;
                margin: 0 auto;
            }
        }
    }
</style>