<template>
    <div class="container">
        <svg id="visual" viewBox="0 0 960 540" width="100%" height="100%"
             xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
             preserveAspectRatio="none">
            <!--      preserveAspectRatio="none"里面的内容也会被等比拉伸，不能维持原有比例       -->
            <rect x="0" y="0" width="960" height="540" fill="#002233"></rect>
            <path d="M0 314L14.5 312.5C29 311 58 308 87.2 317.2C116.3 326.3 145.7 347.7 174.8 369.7C204 391.7 233 414.3 262 420.2C291 426 320 415 349 392.8C378 370.7 407 337.3 436.2 332.8C465.3 328.3 494.7 352.7 523.8 363.5C553 374.3 582 371.7 611 358.2C640 344.7 669 320.3 698 326.5C727 332.7 756 369.3 785.2 382.7C814.3 396 843.7 386 872.8 376C902 366 931 356 945.5 351L960 346L960 541L945.5 541C931 541 902 541 872.8 541C843.7 541 814.3 541 785.2 541C756 541 727 541 698 541C669 541 640 541 611 541C582 541 553 541 523.8 541C494.7 541 465.3 541 436.2 541C407 541 378 541 349 541C320 541 291 541 262 541C233 541 204 541 174.8 541C145.7 541 116.3 541 87.2 541C58 541 29 541 14.5 541L0 541Z" fill="#0066FF" stroke-linecap="round" stroke-linejoin="miter"></path></svg>
        <div class="form">
            <el-form
                    ref="form"
                    :model="relation"
                    label-width="auto"
                    :label-position="labelPosition"
                    size="large"
            >
                <el-form-item label="账号">
                    <el-input v-model="relation.rphone" />
                </el-form-item>
                <el-form-item label="密码" :label-width="formLabelWidth">
                    <el-input v-model="relation.rpassword" type="password" autocomplete="off" show-password/>
                </el-form-item>
                <el-form-item>
                    <el-button type="primary" plain @click="goTo('rRegist')">没有账号去注册</el-button>
                    <el-button type="primary" @click="Login()" >登入</el-button>
                </el-form-item>
            </el-form>
        </div>
    </div>
</template>

<script>
    import {reactive} from 'vue';
    import {useRouter} from 'vue-router';
    import {rLogin} from "network/user";
    import { ElMessage } from 'element-plus'
    import qs from 'qs';
    import {useStore} from 'vuex';
    export default {
        name: "rLogin",
        setup(){
            //亲属信息
            const relation=reactive({
                rphone:'',
                rpassword:''
            })
            const router = useRouter();
            const store=useStore();

            // 跳转方法
            const goTo = (path, query) => {
                router.push({ path, query: query || {} });
            }

            const Login=()=>{
                if(relation.rphone==''||relation.rpassword==''){
                    ElMessage({
                        message: "账号密码不能为空！",
                        type: 'error',
                    })
                }else {
                    rLogin(qs.stringify({"rphone": relation.rphone, "rpassword": relation.rpassword})).then(res => {
                        if (res.data == null || res.data == '') {
                            ElMessage({
                                message: "账号或密码错误！",
                                type: 'error',
                            })
                        } else {
                            ElMessage({
                                message: '登入成功',
                                type: 'success',
                            })
                            sessionStorage.setItem("rid", res.data.rid);
                            sessionStorage.setItem("rimg", res.data.rimg);
                            store.commit('setIsrLogin', true);
                            goTo("/rHome");
                        }
                    })
                }
            }

            return{
                relation,goTo,Login
            }
        }
    }
</script>

<style scoped lang="scss">
    .container{
        position: relative;
        width: 100vw;
        height: 100vh;
        .form{
            color: #FFFFFF;
            width: 400px;
            height: 300px;
            position: absolute;
            top: 150px;
            left: 50%;
            transform: translateX(-200px);
            padding: 50px;
            backdrop-filter: blur(16px) saturate(180%);
            -webkit-backdrop-filter: blur(16px) saturate(180%);
            background-color: rgba(255, 255, 255);
            border-radius: 12px;
            border: 1px solid rgba(209, 213, 219, 0.3);
        }
    }
</style>