<template>
    <div class="container">
        <relation-header :avatar="rimg">
        </relation-header>
        <div class="main">
            <div class="rMsg">
                <div class="relation">
                    <img :src="rimg" >
                    <div class="detail">
                        <span class="name">{{rname}}</span>
                        <p class="sex">性别:{{rsex}}</p>
                        <p class="age">性别:{{rage}}</p>
                        <p class="phone">电话号码:{{rphone}}</p>
                    </div>
                    <el-button class="rBtn" size="large" type="success" @click="update">修改信息</el-button>
                </div>
            </div>
            <div class="serveBox">
                <div class="menu">
                    <div >长辈信息</div>
                    <div class="btn" @click="add">添加长辈</div>
                </div>
                <!--表格-->
                <el-table
                        :data="tableData"
                        stripe
                        style="width: 100%;min-height: 400px;">
                    <!--stripe 带斑马纹-->
                    <el-table-column
                            type="expand">
                        <template #default="scope">
                            <div style="padding: 20px">
                                <strong>疾病信息</strong>
                                <p>{{ scope.row.oillness }}</p>
                            </div>
                        </template>
                    </el-table-column>

                    <el-table-column
                            label="姓名"
                            width="120"
                            prop="oname">
                    </el-table-column>

                    <el-table-column
                            label="年龄"
                            width="120"
                            prop="oage">
                    </el-table-column>

                    <el-table-column
                            label="性别"
                            width="100"
                            prop="osex">
                    </el-table-column>

                    <el-table-column
                            label="电话号码"
                            width="160"
                            prop="ophone">
                    </el-table-column>

                    <el-table-column
                            label="地址"
                            prop="oaddress">
                    </el-table-column>

                    <el-table-column
                            fixed="right"
                            label="操作"
                            width="180">
                        <template  #default="scope">
                            <el-button
                                    size="small"
                                    @click="updateO(scope.row)">修改</el-button>
                            <el-button
                                    size="small"
                                    type="error"
                                    @click="del(scope.row)">删除</el-button>
                        </template>
                    </el-table-column>
                </el-table>
            </div>
        </div>
    </div>
    <!--消息弹出框-->
    <el-dialog v-model="upFormVisible" title="添加长辈">
        <!--内嵌表单-->
        <el-form>
            <el-form-item label="电话" :label-width="formLabelWidth">
                <el-input v-model="phone"  autocomplete="off" />
            </el-form-item>
        </el-form>
        <!--内嵌按钮-->
        <template #footer>
            <span class="dialog-footer">
                <el-button @click="upFormVisible = false">取消</el-button>
                <el-button type="primary" @click="addUp()">确定</el-button>
            </span>
        </template>
    </el-dialog>

    <!--消息弹出框-->
    <el-dialog v-model="dialogFormVisible" title="修改信息">
        <!--内嵌表单-->
        <el-form :model="old">
            <el-form-item label="姓名" :label-width="formLabelWidth" >
                <el-input v-model="old.oname" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="年龄" :label-width="formLabelWidth">
                <el-input-number v-model="old.oage" :min="1" :max="200" @change="handleChange" />
            </el-form-item>
            <el-form-item label="性别" :label-width="formLabelWidth">
                <el-radio-group v-model="old.osex" size="large">
                    <el-radio-button label="男"></el-radio-button>
                    <el-radio-button label="女"></el-radio-button>
                </el-radio-group>
            </el-form-item>
            <el-form-item label="密码" :label-width="formLabelWidth">
                <el-input v-model="old.opassword" type="password" autocomplete="off" show-password/>
            </el-form-item>
            <el-form-item label="电话" :label-width="formLabelWidth">
                <el-input v-model="old.ophone"  autocomplete="off" />
            </el-form-item>
            <el-form-item label="地址" :label-width="formLabelWidth">
                <el-input v-model="old.oaddress" autocomplete="off" />
            </el-form-item>
            <el-form-item label="疾病" :label-width="formLabelWidth">
                <el-input
                        v-model="old.oillness"
                        :rows="3"
                        type="textarea"
                        placeholder="Please input"
                />
            </el-form-item>
        </el-form>
        <!--内嵌按钮-->
        <template #footer>
            <span class="dialog-footer">
                <el-button @click="dialogFormVisible = false">取消</el-button>
                <el-button type="primary" @click="Confirm()">确定修改</el-button>
            </span>
        </template>
    </el-dialog>

    <el-dialog v-model="updateFormVisible" title="修改信息">
        <!--内嵌表单-->
        <el-form :model="relationTemp">
            <el-form-item label="姓名" :label-width="formLabelWidth">
                <el-input v-model="relationTemp.rname" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="照片" :label-width="formLabelWidth">
                <el-upload
                        class="img-uploader"
                        action="http://localhost:8081/tool/uploadFile"
                        :on-success="handleSuccess"
                        :before-upload="beforeUpload"
                >
                    <img v-if="relationTemp.rimg" :src="relationTemp.rimg" class="img">
                    <div v-else class="el-icon-plus img-uploader-icon"></div>
                </el-upload>
            </el-form-item>
            <el-form-item label="年龄" :label-width="formLabelWidth">
                <el-input-number v-model="relationTemp.rage" :min="1" :max="200" @change="handleChange" />
            </el-form-item>
            <el-form-item label="性别" :label-width="formLabelWidth">
                <el-radio-group v-model="relationTemp.rsex" size="large">
                    <el-radio-button label="男"></el-radio-button>
                    <el-radio-button label="女"></el-radio-button>
                </el-radio-group>
            </el-form-item>
            <el-form-item label="电话" :label-width="formLabelWidth">
                <el-input v-model="relationTemp.rphone"  autocomplete="off" />
            </el-form-item>
            <el-form-item label="身份证号" :label-width="formLabelWidth">
                <el-input v-model="relationTemp.ridentity" autocomplete="off" />
            </el-form-item>
        </el-form>
        <!--内嵌按钮-->
        <template #footer>
            <span class="dialog-footer">
                <el-button @click="updateFormVisible = false">取消</el-button>
                <el-button type="primary" @click="updateConfirm()">确定修改</el-button>
            </span>
        </template>
    </el-dialog>
</template>

<script>
    import {ref,reactive,onMounted,toRefs,inject} from 'vue';
    import qs from 'qs';
    import { ElMessage } from 'element-plus'
    import WorkerHeader from "../../components/headers/WorkerHeader";
    import {bindUp, deleteUp, findByRid, findOByRid, oUpdate, rUpdate} from "../../network/user";
    import {uploadFile} from "../../network/tools";
    import RelationHeader from "../../components/headers/RelationHeader";
    export default {
        name: "rPersonal",
        components: {RelationHeader, WorkerHeader},
        setup(){
            const dialogFormVisible=ref(false);//弹出框是否显示
            const updateFormVisible=ref(false);//弹出框是否显示
            const upFormVisible=ref(false);//弹出框是否显示
            const relation=reactive({ //选中亲属信息
                rid:0,
                rname:'',
                rimg:'',
                rage:0,
                rsex:'',
                rpassword:'',
                rphone:'',
                ridentity:''
            })
            const relationTemp=reactive({ //选中护工信息
                rid:0,
                rname:'',
                rimg:'',
                rage:0,
                rsex:'',
                rpassword:'',
                rphone:'',
                ridentity:''
            })
            const old=reactive({ //选中老人信息
                oid:0,
                oname:'',
                oage:0,
                osex:'',
                opassword:'',
                ophone:'',
                oaddress:'',
                oillness:''
            })
            const tableData=ref([]);
            const reload = inject("reload"); //刷新

            //初始化
            onMounted(() => {
                relation.rid=sessionStorage.getItem("rid");

                findByRid(qs.stringify({"rid":relation.rid})).then(res=>{
                    relation.rname=res.data.relation.rname;
                    relation.rimg=res.data.relation.rimg;
                    relation.rage=res.data.relation.rage;
                    relation.rsex=res.data.relation.rsex;
                    relation.rpassword=res.data.relation.rpassword;
                    relation.rphone=res.data.relation.rphone;
                    relation.ridentity=res.data.relation.ridentity;
                })
                findOByRid(qs.stringify({"rid":relation.rid})).then(res=>{
                    tableData.value=res.data.oldList;
                })
            });

            //修改信息
            const updateO=(data)=>{
                dialogFormVisible.value = true;
                old.oid=data.oid;
                old.oname=data.oname;
                old.oage=data.oage;
                old.osex=data.osex;
                old.opassword=data.opassword;
                old.ophone=data.ophone;
                old.oaddress=data.oaddress;
                old.oillness=data.oillness;
            }

            const Confirm=()=>{
                oUpdate(qs.stringify({
                    "oid":old.oid,
                    "oname":old.oname,
                    "oage":old.oage,
                    "osex":old.osex,
                    "opassword":old.opassword,
                    "ophone":old.ophone,
                    "oaddress":old.oaddress,
                    "oillness":old.oillness
                })).then(res=>{
                    ElMessage({
                        message: res.data,
                        type: 'success',
                    })
                    reload();
                    dialogFormVisible.value=false;
                })
            }

            //修改信息
            const update=()=>{
                updateFormVisible.value = true;
                relationTemp.rid=relation.rid;
                relationTemp.rname=relation.rname;
                relationTemp.rimg=relation.rimg;
                relationTemp.rage=relation.rage;
                relationTemp.rsex=relation.rsex;
                relationTemp.rphone=relation.rphone;
                relationTemp.ridentity=relation.ridentity;
            }

            //文件
            const File=ref({});
            //回显
            const handleSuccess=(res, file)=>{
                relationTemp.rimg = URL.createObjectURL(file.raw);
            }
            // 上传文件之前的钩子，参数为上传的文件
            const beforeUpload=(file)=>{
                File.value=file;
                return true;
            }

            //确认修改
            async function updateConfirm(){
                //上传图片
                //转为formData格式
                let formData = new FormData();
                formData.append("multipartFiles", File.value);
                //等待当前异步执行完成
                await uploadFile(formData).then((res) => {
                    if(res.data.img!=''&&res.data.img!=null) {
                        relationTemp.rimg = "http://localhost:8081/" + res.data.img;
                    }
                });
                rUpdate(qs.stringify({
                    "rid":relationTemp.rid,
                    "rname":relationTemp.rname,
                    "rimg":relationTemp.rimg,
                    "rage":relationTemp.rage,
                    "rsex":relationTemp.rsex,
                    "rpassword":relationTemp.rpassword,
                    "rphone":relationTemp.rphone,
                    "ridentity":relationTemp.ridentity
                })).then(res=>{
                    ElMessage({
                        message: res.data,
                        type: 'success',
                    })
                })
                File.value=null;
                reload();
                updateFormVisible.value=false;
            }

            const add=()=>{
                upFormVisible.value=true;
            }
            const phone=ref('');
            //老人电话绑定老人
            const addUp=async ()=>{
                await bindUp(qs.stringify({"rid":relation.rid,"ophone":phone.value})).then(res=>{
                    ElMessage({
                        message: res.data,
                        type: 'success',
                    })
                })
                phone.value='';
                reload();
                upFormVisible.value=false;
            }
            const del=async (data)=>{
                await deleteUp(qs.stringify({"oid":data.oid,"rid":relation.rid})).then(res=>{
                    ElMessage({
                        message: res.data,
                        type: 'success',
                    })
                })
                reload();
            }

            return{
                ...toRefs(relation),tableData,
                Confirm,dialogFormVisible,
                relationTemp,handleSuccess,beforeUpload,update,updateConfirm,updateFormVisible,
                updateO,old,add,addUp,phone,upFormVisible,del
            }
        }
    }
</script>

<style scoped lang="scss">
    .container {
        background-color: #ecedee;
        min-height: 100vh;
    }
    .main{
        margin: 0 auto;
        width: 80vw;
        .rMsg{
            width: 80vw;
            background-color: #fff;
            border-radius: 10px;
            padding: 16px;
            box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
            .relation{
                display: flex;
                height: 150px;
                position: relative;
                .rBtn{
                    position: absolute;
                    bottom: 20px;
                    right: 40px;
                }
                img{
                    width: 150px;
                    height: 150px;
                    margin-right: 20px;
                }
                .detail{
                    text-align: left;
                    font-family: '宋体';
                    line-height: 20px;
                    font-size: 17px;
                    position: relative;
                    .name{
                        color: #2D3748;
                        font-size: 24px;
                    }
                }
            }
        }
        .menu{
            width: 80vw;
            display: flex;
            height: 40px;
            margin-top: 30px;
            position: relative;
            div{
                background-color: #fff;
                line-height: 40px;
                border: 1px solid #9fc5c0;
                height: 40px;
                padding: 0 20px;
                cursor: pointer;
            }
            .btn{
                position: absolute;
                right: 0;
                background-color: #86aded;
                font-size: 18px;
                color: #FFFFFF;
            }
        }
    }
    .img-uploader {
        width :100px;
        height: 100px;
        border: 1px dashed #d9d9d9;
        border-radius: 6px;
        cursor: pointer;
        position: relative;
        overflow: hidden;
    }
    .img-uploader :hover {
        border-color: #409EFF;
    }
    .img-uploader-icon {
        font-size: 28px;
        color: #8c939d;
        width: 100px;
        height: 100px;
        line-height: 100px;
        text-align: center;
    }
    .img {
        width :100px;
        height: 100px;
        display: block;
    }
</style>