<template>
    <relation-header :avatar="rimg"></relation-header>
    <div class="container">
        <div class="search">
            <input v-model="search"  @keyup.enter="pageChange" class="search_input" placeholder="搜索" />
            <font-awesome-icon class="icon" style="color: #5a67d8" icon="search" size="x"/>
        </div>
        <!--表格-->
        <el-table
                :data="tableData"
                stripe
                style="width: 100%;margin: 20px 0">
            <!--stripe 带斑马纹-->

            <el-table-column
                    type="expand">
                <template #default="scope">
                    <strong>成分</strong>
                    <p>{{ scope.row.mingredients }}</p>
                    <strong>注意事项</strong>
                    <p>{{ scope.row.mnote }}</p>
                    <strong>禁忌</strong>
                    <p>{{ scope.row.mtaboo }}</p>
                    <strong>不良反应</strong>
                    <p>{{ scope.row.mreact }}</p>
                </template>
            </el-table-column>

            <el-table-column
                    label="药品名"
                    width="120"
                    prop="mname">
            </el-table-column>

            <el-table-column
                    label="药品图"
                    width="130"
                    prop="mimg">
                <template #default="scope">
                    <el-image
                            style="width: 100px; height: 100px;"
                            :src="scope.row.mimg"
                            :fit="fit"></el-image>
                </template>
            </el-table-column>

            <el-table-column
                    label="功能"
                    prop="mfunction">
            </el-table-column>

            <el-table-column
                    label="规格"
                    width="150"
                    prop="mspecs">
            </el-table-column>

            <el-table-column
                    label="用法用量"
                    width="150"
                    prop="mdosage">
            </el-table-column>

            <el-table-column
                    width="180"
                    fixed="right">
                <template  #default="scope">
                    <el-button
                            size="small"
                            @click="remind(scope.row.mid,1)">早</el-button>
                    <el-button
                            size="small"
                            @click="remind(scope.row.mid,2)">中</el-button>
                    <el-button
                            size="small"
                            @click="remind(scope.row.mid,3)">晚</el-button>
                </template>
            </el-table-column>
        </el-table>

        <el-row class="tool">
            <!--分页-->
            <el-col span="4">
                <el-pagination
                        background
                        layout="prev, pager, next"
                        v-model:currentPage='index'
                        :page-size="size"
                        :total="total"
                        @current-change="pageChange()">
                </el-pagination>
            </el-col>
        </el-row>
    </div>
    <relation-footer></relation-footer>

</template>

<script>
    import {findMedicineFuzzy,addMremind} from 'network/healthCare';
    import {ref,onMounted,reactive,inject} from 'vue';
    import {useRouter,useRoute} from 'vue-router';
    import qs from 'qs';
    import { ElMessage } from 'element-plus'
    import RelationHeader from "../../components/headers/RelationHeader";
    import RelationFooter from "../../components/footer/RelationFooter";

    export default {
        name: "rPickMedicine",
        components: {RelationFooter, RelationHeader},
        setup() {
            const rimg=ref('');
            const oid=ref(0);

            const tableData = ref([]);//表格数据
            const index = ref(1);//展示数据索引
            const size = ref(4);//展示数据数量
            const total = ref(0);//总数量
            const search = ref('');//搜索框文字

            //路由
            const route=useRoute();
            const router = useRouter();

            // 跳转方法
            const goTo = (path, query) => {
                router.push({ path, query: query || {} });
            };

            //初始化
            onMounted(() => {
                rimg.value=sessionStorage.getItem("rimg");
                oid.value=route.query.oid;

                pageChange();
            });
            //模糊查询/页码改变
            const pageChange = () => {
                findMedicineFuzzy(qs.stringify({
                    "index": index.value - 1,
                    "size": size.value,
                    "search": search.value
                })).then((res) => {
                    total.value = res.data.total;
                    tableData.value = res.data.medicineList;
                })
            }
            //remind
            const remind=(mid,time)=>{
                let mrremind=''
                if(time==1){
                    mrremind='早'
                }else if(time==2){
                    mrremind='中'
                }else{
                    mrremind='晚'
                }
                addMremind(qs.stringify({
                    "oid":oid.value,
                    "mid":mid,
                    "mrremind":mrremind
                })).then(res=>{
                    ElMessage({
                        message: res.data,
                        type: 'success',
                    })
                })
            }

            return {
                tableData,
                index,total,size,
                pageChange,
                search,remind,rimg
            }
        }
    }
</script>


<style scoped lang="scss">
    .footer{
        width: 100vw;
        height: 150px;
    }
    .container{
        min-height: 80vh;
        width: 1200px;
        margin: 0 auto 100px auto;
        .search {
            position: relative;
            font-size: 17px;
            margin: 30px auto;
            width: 350px;
            .search_input {
                width: 350px;
                height: 48px;
                padding: 10px 20px 10px 50px;
                border-radius: 6px;
                background-color: #f4f4f4;
                outline: 0;
                color: #718096;
                border: 1px solid transparent;
            }
            .icon {
                position: absolute;
                left: 20px;
                font-size: 15px;
                color: #718096;
                top: 15px;
            }
        }
        .tool{
            padding: 20px 0;
        }
    }

</style>
