<template>
    <relation-header :avatar="rimg"></relation-header>
    <div class="container">
<!--        <div class="search">-->
<!--            <input v-model="search" placeholder="搜索" />-->
<!--            <el-icon @click="pageChange" size="30px"><search /></el-icon>-->
<!--        </div>-->
        <div class="search">
            <input v-model="search"  @keyup.enter="pageChange" class="search_input" placeholder="搜索" />
            <font-awesome-icon class="icon" style="color: #5a67d8" icon="search" size="x"/>
        </div>
        <!--表格-->
        <el-table
                :data="tableData"
                stripe
                style="width: 100%;margin: 20px 0">
            <!--stripe 带斑马纹-->
            <el-table-column
                    prop="wgood"
                    type="expand">
                <template #default="scope">
                    <strong>擅长</strong>
                    <p>{{ scope.row.wgood }}</p>
                </template>
            </el-table-column>

            <el-table-column
                    label="姓名"
                    prop="wname">
            </el-table-column>

            <el-table-column
                    label="照片"
                    prop="wimg">
                <template #default="scope">
                    <el-image
                            style="width: 100px; height: 100px;"
                            :src="scope.row.wimg"
                            :fit="fit"></el-image>
                </template>
            </el-table-column>

            <el-table-column
                    label="年龄"
                    prop="wage">
            </el-table-column>

            <el-table-column
                    label="性别"
                    prop="wsex">
            </el-table-column>

            <el-table-column
                    label="电话号码"
                    prop="wphone">
            </el-table-column>

            <el-table-column
                    label="评分"
                    prop="wscore">
            </el-table-column>

            <el-table-column
                    label="服务次数"
                    prop="wtimes">
            </el-table-column>

            <el-table-column
                    label="操作"
                    fixed="right">
                <template  #default="scope">
                    <el-button @click="pick(scope.row.wid)">指定他</el-button>
                </template>
            </el-table-column>
        </el-table>
        <el-row class="tool">
            <!--分页-->
            <el-col span="4">
                <el-pagination
                        background
                        layout="prev, pager, next"
                        v-model:currentPage='index'
                        :page-size="size"
                        :total="total"
                        @current-change="pageChange()">
                </el-pagination>
            </el-col>
        </el-row>
    </div>
    <relation-footer></relation-footer>

    <!--消息弹出框-->
    <el-dialog v-model="dialogFormVisible" title="发布服务">
        <!--内嵌表单-->
        <el-form :model="serve">
            <el-form-item label="类型" :label-width="formLabelWidth">
                <el-select v-model="serve.stid" clearable placeholder="Select">
                    <el-option
                            v-for="item in options"
                            :key="item.stid"
                            :label="item.stcontent"
                            :value="item.stid"
                    >
                    </el-option>
                </el-select>
            </el-form-item>
            <el-form-item label="标题" :label-width="formLabelWidth">
                <el-input v-model="serve.stitle" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="图片" :label-width="formLabelWidth">
                <el-upload
                        class="img-uploader"
                        action="http://localhost:8081/file/uploadFile"
                        :on-success="handleSuccess"
                        :before-upload="beforeUpload"
                >
                    <img v-if="serve.simg" :src="serve.simg" class="img">
                    <div v-else class="el-icon-plus img-uploader-icon"></div>
                </el-upload>
            </el-form-item>
            <el-form-item label="内容" :label-width="formLabelWidth">
                <el-input v-model="serve.scontent" autocomplete="off"/>
            </el-form-item>
        </el-form>
        <!--内嵌按钮-->
        <template #footer>
            <span class="dialog-footer">
                <el-button @click="dialogFormVisible = false">取消</el-button>
                <el-button type="primary" @click="Confirm()">确定</el-button>
            </span>
        </template>
    </el-dialog>

</template>

<script>
    import {ref,inject,onMounted,reactive,watch} from 'vue';
    import {useRouter,useRoute} from 'vue-router';
    import {findWFuzzy} from "network/user";
    import qs from 'qs';
    import {findStype} from "network/dailyCare";
    import {uploadFile} from "network/tools";
    import { ElMessage } from 'element-plus'
    import RelationHeader from "../../components/headers/RelationHeader";
    import {addServe} from "../../network/dailyCare";
    import RelationFooter from "../../components/footer/RelationFooter";

    export default {
        name: "rPickWorker",
        components: {RelationFooter, RelationHeader},
        setup(){
            const rimg=ref('');

            const serve=reactive({ //服务信息
                oid:0,
                wid:0,
                rid:0,
                stid:'',
                stitle:'',
                scontent:'',
                simg:'',
                stime:'',
                sstate:5
            })
            const tableData = ref([]);//表格数据
            const index=ref(1);//展示数据索引
            const size=ref(4);//展示数据数量
            const total=ref(0);//总数量
            const search = ref('');//搜索框文字

            //选择器数组
            const options = ref([]);
            const dialogFormVisible=ref(false);//弹出框是否显示

            watch(()=>serve.stid,(newValue,oldValue)=>{//通过一个函数返回要监听的属性
                let temp=options.value.filter(item=>{
                    if(item.stid==newValue){
                        return item;
                    }
                })[0];
                serve.simg=temp.stimg;
                serve.stitle=temp.stcontent;
            })

            //路由
            const route=useRoute();
            const router = useRouter();

            const reload = inject("reload"); //刷新


            //初始化
            onMounted(() => {
                rimg.value=sessionStorage.getItem("rimg");
                serve.rid=sessionStorage.getItem("rid");
                serve.oid=route.query.oid;
                pageChange();
                //填充选择器数组
                findStype().then(res=>{
                    options.value=res.data.stypeList;
                })
            });
            //模糊查询/页码改变
            const pageChange=()=>{
                findWFuzzy(qs.stringify({
                    "index":index.value-1,
                    "search":search.value,
                    "size":size.value
                })).then((res)=>{
                    total.value=res.data.total;
                    tableData.value=res.data.workerList;
                    tableData.value=tableData.value.map(item=>{
                        if(item.wtimes!=0)
                        item.wscore=(item.wscore/item.wtimes).toFixed(2);
                        return item;
                    })
                })
            }

            //文件
            const File=ref({});
            //回显
            const handleSuccess=(res, file)=>{
                serve.simg = URL.createObjectURL(file.raw);
            }
            // 上传文件之前的钩子，参数为上传的文件
            const beforeUpload=(file)=>{
                File.value=file;
                return true;
            }

            //发布任务
            const Confirm=async ()=>{
                //转为formData格式
                let formData = new FormData();
                formData.append("multipartFiles", File.value);
                //等待当前异步执行完成
                await uploadFile(formData).then((res) => {
                    if(res.data.img!=''&&res.data.img!=null) {
                        serve.simg = "http://localhost:8081/" + res.data.img;
                    }
                });
                if(serve.simg==''||serve.stitle==''){
                    ElMessage({
                        type: 'error',
                        message: '标题或图片不为空',
                    })
                }else {
                    addServe(qs.stringify({
                        "oid": serve.oid,
                        "rid":serve.rid,
                        "wid": serve.wid,
                        "stid": serve.stid,
                        "stitle": serve.stitle,
                        "scontent": serve.scontent,
                        "simg": serve.simg,
                        "stime": Date.now(),
                        "sstate":serve.sstate
                    })).then(res => {
                        ElMessage({
                            type: 'success',
                            message: res.data,
                        })
                    })
                    reload();
                }
            }
            const pick=(wid)=>{
                dialogFormVisible.value=true;
                serve.wid=wid;
            }

            // 跳转方法
            const goTo = (path, query) => {
                router.push({ path, query: query || {} });
            };
            return{
                goTo,search,pageChange, tableData,
                index,
                total,
                size,options,
                handleSuccess,beforeUpload,serve,dialogFormVisible,pick,rimg,Confirm
            }
        }
    }
</script>

<style scoped lang="scss">
    .img-uploader {
        width :100px;
        height: 100px;
        border: 1px dashed #d9d9d9;
        border-radius: 6px;
        cursor: pointer;
        position: relative;
        overflow: hidden;
    }
    .img-uploader :hover {
        border-color: #409EFF;
    }
    .img-uploader-icon {
        font-size: 28px;
        color: #8c939d;
        width: 100px;
        height: 100px;
        line-height: 100px;
        text-align: center;
    }
    .img {
        width :100px;
        height: 100px;
        display: block;
    }
    .container{
        width: 1200px;
        min-height: 80vh;
        margin: 0 auto 100px auto;
        .search {
            position: relative;
            font-size: 17px;
            margin: 30px auto;
            width: 350px;
            .search_input {
                width: 350px;
                height: 48px;
                padding: 10px 20px 10px 50px;
                border-radius: 6px;
                background-color: #f4f4f4;
                outline: 0;
                color: #718096;
                border: 1px solid transparent;
            }
            .icon {
                position: absolute;
                left: 20px;
                font-size: 15px;
                color: #718096;
                top: 15px;
            }
        }
    }

</style>