<template>
    <relation-header :avatar="rimg"></relation-header>
    <div class="container">
        <div class="search">
            <input v-model="search"  @keyup.enter="pageChange" class="search_input" placeholder="搜索" />
            <font-awesome-icon class="icon" style="color: #5a67d8" icon="search" size="x"/>
        </div>
        <!--表格-->
        <el-table
                :data="tableData"
                stripe
                style="width: 100%;margin: 20px 0">
            <!--stripe 带斑马纹-->
            <el-table-column
                    label="食物名"
                    width="100"
                    prop="fname">
            </el-table-column>

            <el-table-column
                    label="图片"
                    width="170"
                    prop="aimg">
                <template #default="scope">
                    <el-image
                            style="width: 100px; height: 100px;"
                            :src="scope.row.fimg"
                            :fit="fit"></el-image>
                </template>
            </el-table-column>

            <el-table-column
                    label="食物细节"
                    prop="fdetail">
            </el-table-column>

            <el-table-column
                    label="适合人群"
                    prop="fsuitable">
            </el-table-column>

            <el-table-column
                    label="不适合人群"
                    prop="funsuitable">
            </el-table-column>

            <el-table-column
                    width="180"
                    fixed="right">
                <template  #default="scope">
                    <el-button
                            size="small"
                            @click="eat(scope.row.fid,1)">多吃</el-button>
                    <el-button
                            size="small"
                            @click="eat(scope.row.fid,2)">少吃</el-button>
                </template>
            </el-table-column>
        </el-table>

        <el-row class="tool">
            <!--分页-->
            <el-col span="4">
                <el-pagination
                        background
                        layout="prev, pager, next"
                        v-model:currentPage='index'
                        :page-size="size"
                        :total="total"
                        @current-change="pageChange()">
                </el-pagination>
            </el-col>
        </el-row>

    </div>
    <relation-footer></relation-footer>
</template>

<script>
    import {findFoodFuzzy,addEat} from 'network/healthCare';
    import {useRouter,useRoute} from 'vue-router';
    import {ref,onMounted,reactive} from 'vue';
    import qs from 'qs';
    import { ElMessage} from 'element-plus'
    import RelationHeader from "../../components/headers/RelationHeader";
    import RelationFooter from "../../components/footer/RelationFooter";
    export default {
        name: "rPickFood",
        components: {RelationFooter, RelationHeader},
        setup() {
            const rimg=ref('');
            const oid=ref(0);

            const tableData = ref([]);//表格数据
            const index = ref(1);//展示数据索引
            const size = ref(4);//展示数据数量
            const total = ref(0);//总数量
            const search = ref('');//搜索框文字

            //路由
            const route=useRoute();
            const router = useRouter();

            // 跳转方法
            const goTo = (path, query) => {
                router.push({ path, query: query || {} });
            };

            //初始化
            onMounted(() => {
                rimg.value=sessionStorage.getItem("rimg");
                oid.value=route.query.oid;
                pageChange();
            });
            //模糊查询/页码改变
            /*
            * 加一个节流
            * */
            const pageChange = () => {
                findFoodFuzzy(qs.stringify({
                    "index": index.value - 1,
                    "size": size.value,
                    "search": search.value
                })).then((res) => {
                    total.value = res.data.total;
                    tableData.value = res.data.foodList;
                })
            }
            //多吃少吃
            const eat=(fid,estate)=>{
                addEat(qs.stringify({"oid":oid.value,"fid":fid,"estate":estate})).then(res=>{
                    ElMessage({
                        message: res.data,
                        type: 'success',
                    })
                })
            }
            return {
                tableData,
                index,
                pageChange,
                total,
                search,
                size,
                eat,rimg
            }
        }
    }
</script>

<style scoped lang="scss">
    .footer{
        width: 100vw;
        height: 150px;
    }
    .container{
        min-height: 80vh;
        width: 1200px;
        margin: 0 auto 100px auto;
        .search {
            position: relative;
            font-size: 17px;
            margin: 30px auto;
            width: 350px;
            .search_input {
                width: 350px;
                height: 48px;
                padding: 10px 20px 10px 50px;
                border-radius: 6px;
                background-color: #f4f4f4;
                outline: 0;
                color: #718096;
                border: 1px solid transparent;
            }
            .icon {
                position: absolute;
                left: 20px;
                font-size: 15px;
                color: #718096;
                top: 15px;
            }
        }
        .tool{
            padding: 20px 0;
        }
    }

</style>
