<template>
    <div class="container">
        <relation-header :avatar="rimg"></relation-header>
        <el-backtop :right="100" :bottom="100" />
        <div class="main">
            <div class="banner">
                <div  class="type">
                    <p class="num">{{count1}}</p>
                    <p>发布中服务</p>
                </div>
                <div  class="type">
                    <p class="num">{{count2}}</p>
                    <p>进行中服务</p>
                </div>
                <div  class="type">
                    <p class="num">{{count3}}</p>
                    <p>待评价服务</p>
                </div>
                <div  class="type">
                    <p class="num">{{count4}}</p>
                    <p>已完成服务</p>
                </div>
                <div  class="type">
                    <p class="num">{{count5}}</p>
                    <p>指定中服务</p>
                </div>
            </div>


            <div class="wBox">
                <span style="font-size: 24px;">推荐护工</span>
                <div v-for="item in workerList" :key="item" class="wMsg">
                    <img :src="item.wimg">
                    <div class="detail">
                        <p class="wname">{{item.wname}}</p>
                        <div class="wgood">
                            <span>他擅长的服务有：{{item.wgood}}</span>
                        </div>
                        <p class="waddress">地址：{{item.waddress}}</p>
                        <p class="wtimes"><small>在居家养老系统中{{item.wname}}已经为老人带来了{{item.wtimes}}次服务！</small></p>
                        <el-rate class="wrate" disabled v-model="item.wscore"></el-rate>{{item.wscore}}
                    </div>
                </div>
                <el-button size="large" @click="dialogFormVisible=true">发布服务</el-button>
                <el-button type="primary" size="large" @click="goTo('/rPickWorker',{'oid':serve.oid})">指定护工发布服务</el-button>
            </div>

            <div class="sBox">
                <div :class="activeClass == 1 ? 'active bar':'bar'" @click="changeServe(1)">刚发布服务</div>
                <div :class="activeClass == 2 ? 'active bar':'bar'" @click="changeServe(2)">进行中服务</div>
                <div :class="activeClass == 3 ? 'active bar':'bar'" @click="changeServe(3)">待评价服务</div>
                <div :class="activeClass == 4 ? 'active bar':'bar'" @click="changeServe(4)">已完成服务</div>
                <div :class="activeClass == 5 ? 'active bar':'bar'" @click="changeServe(5)">指定中服务</div>
                <div class="serves">
                    <div class="serve" v-for="(item,index) in serveList" :key="item">
                        <img :src="item.simg">
                        <div class="sMsg">
                            <p align="left"><strong>{{item.stitle}}</strong></p>
                            <p align="left" class="content">{{item.scontent}}</p>
                            <p align="right" class="time">{{toDate(item.stime)}}</p>
                        </div>
                        <div v-if="item.sstate==1">
                            <el-button>删除服务</el-button>
                        </div>
                        <div v-show="item.sstate==2||item.sstate==3||item.sstate==4||item.sstate==5" class="wMsg">
                            <img :src="item.worker.wimg">
                            <p>{{item.worker.wname}}</p>

                            <div v-if="item.sstate==3">
                                <el-rate @click="rate(item)" v-model="item.sscore" />
                            </div>
                            <div v-if="item.sstate==4">
                                <el-rate disabled v-model="item.sscore" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <relation-footer></relation-footer>
    </div>

    <!--消息弹出框-->
    <el-dialog v-model="dialogFormVisible" title="发布服务">
        <!--内嵌表单-->
        <el-form :model="serve">
            <el-form-item label="类型" :label-width="formLabelWidth">
                <el-select v-model="serve.stid" clearable placeholder="Select">
                    <el-option
                            v-for="item in options"
                            :key="item.stid"
                            :label="item.stcontent"
                            :value="item.stid"
                    >
                    </el-option>
                </el-select>
            </el-form-item>
            <el-form-item label="标题" :label-width="formLabelWidth">
                <el-input v-model="serve.stitle" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="图片" :label-width="formLabelWidth">
                <el-upload
                        class="img-uploader"
                        action="http://localhost:8081/file/uploadFile"
                        :on-success="handleSuccess"
                        :before-upload="beforeUpload"
                >
                    <img v-if="serve.simg" :src="serve.simg" class="img">
                    <div v-else class="el-icon-plus img-uploader-icon"></div>
                </el-upload>
            </el-form-item>
            <el-form-item label="内容" :label-width="formLabelWidth">
                <el-input v-model="serve.scontent" autocomplete="off"/>
            </el-form-item>
        </el-form>
        <!--内嵌按钮-->
        <template #footer>
            <span class="dialog-footer">
                <el-button @click="dialogFormVisible = false">取消</el-button>
                <el-button type="primary" @click="Confirm()">确定</el-button>
            </span>
        </template>
    </el-dialog>

</template>

<script>
    import {onMounted,ref,inject,reactive,watch} from 'vue';
    import {useRouter,useRoute} from 'vue-router';
    import {orderWorker} from "network/user";
    import qs from 'qs';
    import {findServeByOid,oScount,score,addServe,findStype} from "network/dailyCare";
    import {dateFormat} from "../../tools/dateFormat";
    import {uploadFile} from "network/tools";
    import { ElMessage } from 'element-plus'
    import RelationHeader from "../../components/headers/RelationHeader";
    import RelationFooter from "../../components/footer/RelationFooter";

    export default {
        name: "rServe",
        components: {RelationFooter, RelationHeader},
        setup(){
            const rimg=ref('');

            const serve=reactive({ //服务信息
                oid:0,
                rid:0,
                stid:'',
                stitle:'',
                scontent:'',
                simg:'',
                stime:''
            })



            const workerList=ref([]);//护工列表
            const serveList=ref([]);//服务列表
            const count1=ref(0);
            const count2=ref(0);
            const count3=ref(0);
            const count4=ref(0);
            const count5=ref(0);

            //选择器数组
            const options = ref([]);

            watch(()=>serve.stid,(newValue,oldValue)=>{//通过一个函数返回要监听的属性
                let temp=options.value.filter(item=>{
                    if(item.stid==newValue){
                        return item;
                    }
                })[0];
                serve.simg=temp.stimg;
                serve.stitle=temp.stcontent;
            })

            const dialogFormVisible=ref(false);//弹出框是否显示

            const route=useRoute();
            const router = useRouter();

            const reload = inject("reload"); //刷新

            onMounted(()=>{
                rimg.value=sessionStorage.getItem("rimg");
                serve.rid=sessionStorage.getItem("rid");
                serve.oid=route.query.oid;
                //推荐护工
                orderWorker(qs.stringify({"index":0,"size":2})).then(res=>{
                    workerList.value=res.data.workerList;
                    workerList.value=workerList.value.map(item=>{
                        item.wscore=(item.wscore/item.wtimes).toFixed(2);
                        return item;
                    })
                })
                findServeByOid(qs.stringify({"oid":serve.oid,"sstate":1})).then(res=>{
                    serveList.value=res.data.serveList;
                })
                oScount(qs.stringify({"oid":serve.oid,"sstate":1})).then(res=>{
                    count1.value=res.data.count;
                })
                oScount(qs.stringify({"oid":serve.oid,"sstate":2})).then(res=>{
                    count2.value=res.data.count;
                })
                oScount(qs.stringify({"oid":serve.oid,"sstate":3})).then(res=>{
                    count3.value=res.data.count;
                })
                oScount(qs.stringify({"oid":serve.oid,"sstate":4})).then(res=>{
                    count4.value=res.data.count;
                })
                oScount(qs.stringify({"oid":serve.oid,"sstate":5})).then(res=>{
                    count5.value=res.data.count;
                })

                //填充选择器数组
                findStype().then(res=>{
                    options.value=res.data.stypeList;
                })
            })

            //切换显示的服务
            const activeClass=ref(1);
            const changeServe=(sstate)=>{
                findServeByOid(qs.stringify({"oid":serve.oid,"sstate":sstate})).then(res=>{
                    serveList.value=res.data.serveList;
                })
                activeClass.value=sstate;
            }
            // 跳转方法
            const goTo = (path, query) => {
                router.push({ path, query: query || {} });
            };

            const toDate=(time)=>{
                return dateFormat(new Date(time*1),"MM月DD日 HH:mm");
            }

            //文件
            const File=ref({});
            //回显
            const handleSuccess=(res, file)=>{
                serve.simg = URL.createObjectURL(file.raw);
            }
            // 上传文件之前的钩子，参数为上传的文件
            const beforeUpload=(file)=>{
                File.value=file;
                return true;
            }

            //打分
            const rate=(item)=>{
                score(qs.stringify({
                    "sid":item.sid,
                    "sscore":item.sscore
                })).then(res=>{
                    ElMessage({
                        message: res.data,
                        type: 'success',
                    })
                })
                reload();
            }

            //发布任务
            const Confirm=async ()=>{
                //转为formData格式
                let formData = new FormData();
                formData.append("multipartFiles", File.value);
                //等待当前异步执行完成
                await uploadFile(formData).then((res) => {
                    if(res.data.img!=''&&res.data.img!=null) {
                        serve.simg = "http://localhost:8081/" + res.data.img;
                    }
                });
                if(serve.simg==''||serve.stitle==''){
                    ElMessage({
                        type: 'error',
                        message: '标题或图片不为空',
                    })
                }else {
                    addServe(qs.stringify({
                        "oid": serve.oid,
                        "rid":serve.rid,
                        "stid": serve.stid,
                        "stitle": serve.stitle,
                        "scontent": serve.scontent,
                        "simg": serve.simg,
                        "stime": Date.now(),
                    })).then(res => {
                        ElMessage({
                            type: 'success',
                            message: res.data,
                        })
                    })
                    reload();
                }
            }

            return{
                goTo,workerList,serveList,
                changeServe,toDate,
                count1,count2,count3,count4,count5,
                rate,
                addServe, handleSuccess,beforeUpload,
                serve,Confirm,dialogFormVisible,options,
                activeClass,rimg
            }
        }
    }
</script>

<style scoped lang="scss">
    .img-uploader {
        width :100px;
        height: 100px;
        border: 1px dashed #d9d9d9;
        border-radius: 6px;
        cursor: pointer;
        position: relative;
        overflow: hidden;
    }
    .img-uploader :hover {
        border-color: #409EFF;
    }
    .img-uploader-icon {
        font-size: 28px;
        color: #8c939d;
        width: 100px;
        height: 100px;
        line-height: 100px;
        text-align: center;
    }
    .img {
        width :100px;
        height: 100px;
        display: block;
    }
    .footer{
        width: 100vw;
        height: 150px;
    }
    .container {
        background-color: #F8F9FA;
        min-height: 100vh;
    }
    .main{
        .banner{
            margin: 80px 0;
            display: grid;
            grid-template-columns: repeat(5,14vw);
            grid-template-rows: 15vh;
            grid-column-gap: 40px;
            justify-content: center;
            font-size: 1.6rem;
            font-weight: 300;
            line-height: 1.1;
            color: #718096;
            .type {
                background-color: #fff;
                padding :20px;
                display: flex;
                flex-direction: column;
                cursor: pointer;
                box-shadow: rgb(1 1 1 / 5%) 1px 1px 5px 0px;
                border-radius: var(--border-radius-sm);
                transition: .3s ease;
                align-items: center;
                .num{
                    font-size: 2.4rem;
                    font-weight: bold;
                    color: #5a67d8;
                }
            }
            .type:hover{
                color: #5a67d8;;
                transform: translateY(-0.25rem);
                box-shadow: rgb(46 41 51 / 8%) 0px 2px 4px, rgb(71 63 79 / 16%) 0px 5px 10px;
            }
        }
        .wBox{
            margin: 130px auto;
            width: 980px;
            height: 500px;
            .wMsg{
                height: 250px;
                display: flex;
                margin: 20px 0 40px 0;
                box-shadow: rgb(1 1 1 / 5%) 1px 1px 5px 0px;
                transition: .3s ease;
                border-radius: var(--border-radius-base);
                overflow: hidden;
                background-color: #fff;
                text-align: left;
                .detail{
                    padding: 10px 10px 10px 30px;
                    .wname{
                        font-size: 30px;
                        font-weight: 500;
                        cursor: pointer;
                    }
                    .wname:hover{
                        color: #5a67d8;
                    }
                    .wgood{
                        padding: 8px 0;
                        font-size: 17px;
                        height: 120px;
                        color: #77859B;
                    }
                }
                img{
                    width: 250px;
                    height: 250px;
                }
            }
            .wMsg:hover{
                transform: translateY(-0.25rem);
                box-shadow: rgb(46 41 51 / 8%) 0px 2px 4px, rgb(71 63 79 / 16%) 0px 5px 10px;
            }
        }
        .sBox{
            padding: 190px 0;
            display: grid;
            grid-template-columns: repeat(4,18vw);
            grid-template-rows: repeat(5,12vh);
            justify-content: center;
            .active{
                background-color: lightskyblue;
            }
            .bar{
                border:2px solid lightblue;
                background-color:#EFF6F7;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                font-size: 22px;
                font-family: '宋体';
            }
            .bar:hover{
                color: rgba(62, 137, 157, 0.92);
            }
            .active{
                background-color: lightblue;
                color: #ffffff;
            }
            .serves {
                overflow: auto;
                grid-row: 1/6;
                grid-column: 2 / 5;
                background-color: #fff;
                border: 1px solid lightblue;
                .serve {
                    height: 150px;
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                    img {
                        width: 180px;
                        height: 120px;
                        border-radius: 12px;
                    }

                    .sMsg {
                        width: 380px;
                        line-height: 28px;

                        .content {
                            font-size: var(--font-size-sm);
                        }

                        .time {
                            font-size: var(--font-size-sm);
                        }
                    }

                    .wMsg {
                        width: 120px;
                        line-height: 27px;

                        img {
                            width: 65px;
                            height: 65px;
                        }
                    }
                }
            }
        }
    }
</style>