<template>
    <old-header title="视频展示"></old-header>
    <div class="container">
            <video width="1100" height="500" controls style="background-color:#000;">
                <source :src="vstr" type="video/mp4">
                <source :src='`${publicPath}/1.mp4`' type="video/mp4">
            </video>

        <!-- 视频下方描述 -->
        <el-row class="video_text_box">
            <el-col :span="12" class="video_text_title">
                <div class="line"></div>
                <span>short&nbsp;video</span><br>
                <span>{{vtitle}}</span>
            </el-col>
            <el-col :span="12" class="video_text_content">
                <p>{{vcontent}}</p>
            </el-col>
        </el-row>
    </div>

</template>

<script>
    import {useRoute,useRouter} from 'vue-router';
    import {onMounted,reactive,toRefs} from 'vue';
    import {findVByVid} from "../../network/recreation";
    import qs from 'qs';
    import OldHeader from "../../components/headers/OldHeader";

    export default {
        name: "playVideo",
        components: {OldHeader},
        setup(){
            const route=useRoute();
            const router=useRouter();
            const video=reactive({
                vtitle:'',
                vcontent:'',
                vstr:'',
                vimg:''
            });

            onMounted(()=>{
                findVByVid(qs.stringify({"vid":route.query.id})).then(res=>{
                    video.vtitle=res.data.video.vtitle;
                    video.vcontent=res.data.video.vcontent;
                    video.vstr=res.data.video.vstr;
                    video.vimg=res.data.video.vimg;
                })
            })

            const goTo=()=>{
                router.back();
            }

            return{
                ...toRefs(video),
                goTo,
                publicPath: process.env.BASE_URL
            }
        }
    }
</script>

<style scoped>
    .container{
        width: 1100px;
        margin: 50px auto;
        text-align: left;
    }

    .video_box{
        height: 500px;
        width: 1100px;
        position: relative;
        margin-top: 4rem;
        border-radius: 10px;
        background-color: black;
        padding: 0 150px;
    }
    .video_box video{
        display: inline-block;
        vertical-align: baseline;
    }
    .video_text_box{
        margin-top: 2rem;
    }
    .video_text_title{
        height: 100%;
    }
    .video_text_content{
        height: 100%;
    }

    .line{
        width: 60px;
        height: 3px;
        margin-top: 12px;
        background-color:brown;
        display: flex;
        float: left;
    }

    .video_text_title span:nth-of-type(1){
        font-size: 18px;
        margin-bottom: 12px;
    }

    .video_text_title span:nth-of-type(2){
        font-size: 30px;
        font-weight: 400;
        line-height: 75px;
    }

    .video_text_content p{
        color: grey;
        line-height: 25px;
    }
</style>