<template>
    <old-header title="文章展示"></old-header>
    <div class="container">
        <img :src="aimg">
        <br><br>
        <h2>{{atitle}}</h2>
        <br>
        <div class="volume">
            <p v-for="item in acontent" :keu="item">
                <font-awesome-icon icon="volume-up" @click.stop="Speak(item)" style="cursor: pointer" size="x"/>
                {{item}}
            </p>
       </div>
    </div>
</template>

<script>
    import {useRoute} from 'vue-router';
    import {onMounted,reactive,toRefs} from 'vue';
    import {findAByAid} from "network/recreation";
    import qs from 'qs';
    import OldHeader from "../../components/headers/OldHeader";
    import Speak from '../../tools/Speak'

    export default {
        name: "playArticle",
        components: {OldHeader},
        setup(){
            const route=useRoute();
            const article=reactive({
                atitle:'',
                acontent:[],
                aimg:''
            });

            onMounted(()=>{
                findAByAid(qs.stringify({"aid":route.query.id})).then(res=>{
                    article.atitle=res.data.article.atitle;
                    article.acontent=res.data.article.acontent.split(' ');
                    article.aimg=res.data.article.aimg;
                })
            })

            return{
                ...toRefs(article),Speak
            }
        }
    }
</script>

<style scoped lang="scss">
    .container{
        padding: 40px 350px;
        line-height: 40px;
        img{
            width: 600px;
            height: 360px;
        }
        p{
            text-align: left;
            text-indent:2em;
            font-size: 20px;
        }
    }
</style>