<template>
  <div id="nav">
  </div>
  <router-view v-if="isRouterAlive"></router-view>
</template>
<script>
import {provide,ref,nextTick} from 'vue'
export default {
    name: 'App',
    setup(){
        // 局部组件刷新
        const isRouterAlive=ref(true);
        const reload=()=>{
            isRouterAlive.value=false;
            nextTick(() => {
                isRouterAlive.value = true;
            });
        }
      provide("reload", reload);
        return{
            isRouterAlive
        }
    }
}
</script>
<style lang="scss">
  @import "assets/css/base.css";
#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
</style>
