<template>
    <div class="container">
        <old-header title="身体护理"></old-header>
        <div class="main">
            <div class="formbox">
                <!--表单-->
                <el-form :model="serve"
                         label-position="top"
                         size="large">
                    <el-form-item label="发布标题" :label-width="formLabelWidth">
                        <el-input v-model="stitle" autocomplete="off"/>
                    </el-form-item>
                    <el-form-item label="描述内容" :label-width="formLabelWidth">
                        <el-input v-model="scontent"  autocomplete="off" />
                    </el-form-item>
                    <el-form-item label="图片">
                        <el-upload
                                class="img-uploader"
                                action="http://localhost:8081/tool/uploadFile"
                                :on-success="handleSuccess"
                                :before-upload="beforeUpload"
                        >
                            <img v-if="simg" :src="simg" class="img">
                            <div v-else class="el-icon-plus img-uploader-icon"></div>
                        </el-upload>
                    </el-form-item>
                </el-form>
                <button class="btn" @click="submit">发布任务</button>

            </div>
            <div class="rightBox" v-for="(item,index) in stypeList" @click="insertForm(item)">
                <div  :class="activeClass == item.stid ? 'active':''">
                    {{item.stcontent}}
                    <div class="volume">
                        <font-awesome-icon @click.stop="Speak(item.stcontent)" icon="volume-up" size="x"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import {ref,reactive,onMounted,toRefs,inject} from 'vue';
    import {findStypeByStclass,addServe} from "network/dailyCare";
    import qs from 'qs';
    import {uploadFile} from "network/tools";
    import { ElMessage } from 'element-plus'
    import OldHeader from "components/headers/OldHeader";
    import Speak from '../../tools/Speak'
    export default {
        name: "oCheckup",
        setup(){
            const serve=reactive({ //服务信息
                oid:0,
                stid:0,
                stitle:'',
                scontent:'',
                simg:'',
                stime:''
            })
            const stypeList=ref(null);
            const reload = inject("reload"); //刷新
            //初始化
            onMounted(()=>{
                serve.oid=sessionStorage.getItem("oid");
                findStypeByStclass(qs.stringify({"stclass":"健康护理"})).then(res=>{
                    stypeList.value=res.data.stypeList;
                })
            })

            //切换显示的服务
            const activeClass=ref(1);
            //将值插入表单
            const insertForm=(item)=>{
                serve.stid=item.stid;
                serve.stitle=item.stcontent;
                serve.simg=item.stimg;
                activeClass.value=item.stid
            }

            //文件
            const File=ref({});
            //回显
            const handleSuccess=(res, file)=>{
                serve.simg = URL.createObjectURL(file.raw);
            }
            // 上传文件之前的钩子，参数为上传的文件
            const beforeUpload=(file)=>{
                File.value=file;
                return true;
            }

            //发布任务
            const submit=async ()=>{
                //转为formData格式
                let formData = new FormData();
                formData.append("multipartFiles", File.value);
                //等待当前异步执行完成
                await uploadFile(formData).then((res) => {
                    if(res.data.img!=''&&res.data.img!=null) {
                        serve.simg = "http://localhost:8081/" + res.data.img;
                    }
                });

                if(serve.simg==''||serve.stitle==''){
                    ElMessage({
                        type: 'error',
                        message: '标题或图片不为空',
                    })
                }else{
                    addServe(qs.stringify({
                        "oid":serve.oid,
                        "stid":serve.stid,
                        "stitle":serve.stitle,
                        "scontent":serve.scontent,
                        "simg":serve.simg,
                        "stime":Date.now()
                    })).then(res=>{
                        ElMessage({
                            type: 'success',
                            message: res.data,
                        })
                    })
                    reload();
                }
            }

            return{
                ...toRefs(serve),
                stypeList,
                handleSuccess,beforeUpload,
                insertForm,
                submit,Speak,activeClass
            }
        },
        components: {
            OldHeader
        }
    }
</script>

<style scoped lang="scss">
    .container{
        height: 100vh;
        background-color: #eee;
    }
    .main{
        display: grid;
        grid-template-columns: 40vw 50vw;
        grid-template-rows: 28vh 28vh 28vh;
        justify-content:center;
        align-content:center;
        .rightBox{
            background-color: #fff;
            font-size: var(--font-size-lg);
            line-height: 28vh;
            cursor: pointer;
            border: 1px solid green;
            position: relative;
            .volume{
                position: absolute;
                top: 8px;
                right: 8px;
                line-height: 30px;
                color: #000;
            }
            .volume :hover{
                color: #299078;
            }
        }
        .rightBox :hover{
            color: #299078;
        }
        .active{
            background-color: lightblue;
        }
        .formbox{
            background-color: #fff;
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 1;
            grid-row-end: 4;
            padding: 20px;
            border: 1px solid green;
            position: relative;
            .img-uploader {
                border: 1px dashed #999999;
                border-radius: 6px;
                cursor: pointer;
                overflow: hidden;
            }
            .img-uploader :hover {
                border-color: #409EFF;
            }
            .img-uploader-icon {
                font-size: 28px;
                color: #8c939d;
                width: 330px;
                height: 250px;
                line-height: 100px;
                text-align: center;
            }
            .img {
                width: 330px;
                height: 250px;
                display: block;
            }
        }
    }

    .btn {
        position: absolute;
        left: 20px;
        font-size: 26px;
        background-color: #00BFA6;
        padding: 14px 40px;
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 2px;
        cursor: pointer;
        border-radius: 10px;
        border: 2px dashed #00BFA6;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
        transition: .4s;
    }

    .btn span:last-child {
        display: none;
    }

    .btn:hover {
        transition: .4s;
        border: 2px dashed #00BFA6;
        background-color: #fff;
        color: #00BFA6;
    }

    .btn:active {
        background-color: #87dbd0;
    }

</style>