<template>
    <old-header title="饮食建议">
        <el-icon class="icon" @click="add()"><circle-plus-filled /></el-icon>
    </old-header>

    <div class="container">
        <div class="bTitle" style="background-color:#c5e9ca;">
            <span>多吃</span>
            <div class="volume" @click.stop="Speak('多吃')">
                <font-awesome-icon icon="volume-up" size="xs"/>
            </div>
        </div>
        <div class="bTitle" style="background-color:#ffcdd3;">
            <span>少吃</span>
            <div class="volume" @click.stop="Speak('少吃')" >
                <font-awesome-icon icon="volume-up" size="xs"/>
            </div>
        </div>
        <!--左-->
        <div class="box">
            <el-row
                    v-for="(item, index) in eatMoreList"
                    :key="item"
            >
                <el-col>
                    <el-card :body-style="{
                        border:'2px solid green',
                        borderRadius:'10px' ,
                        display: 'flex',
                        margin:'12px 4px'
                        }">
                        <img    @click.stop="Speak(`${item.food.fname},食物细节：${item.food.fdetail},适合：${item.food.fsuitable}人群,不适合：${item.food.funsuitable}人群`)"
                                :src="item.food.fimg"
                                class="image"
                        />
                        <div style="padding: 14px">
                            <div class="right">
                                <span class="title">{{item.food.fname}}</span>
                                <div class="detail" >
                                    <p align="left">{{item.food.fdetail}}</p>
                                </div>
                                <el-button type="danger" @click="del(item.eid)">删除</el-button>
                            </div>
                        </div>
                        <div class="volume" @click.stop="Speak(`${item.food.fname},食物细节：${item.food.fdetail},适合：${item.food.fsuitable}人群,不适合：${item.food.funsuitable}人群`)">
                            <font-awesome-icon icon="volume-up" size="xs"/>
                        </div>
                    </el-card>
                </el-col>
            </el-row>
        </div>
        <!--右-->
        <div class="box">
            <el-row
                    v-for="(item, index) in eatLessList"
                    :key="item"
            >
                <el-col>
                    <el-card :body-style="{
                        border:'2px solid red',
                        borderRadius:'10px' ,
                        display: 'flex',
                        margin:'12px 4px'
                        }">
                        <img    @click.stop="Speak(`${item.food.fname},食物细节：${item.food.fdetail},适合：${item.food.fsuitable}人群,不适合：${item.food.funsuitable}人群`)"
                                :src="item.food.fimg"
                                class="image"
                        />
                        <div style="padding: 14px">
                            <div class="right">
                                <span class="title">{{item.food.fname}}</span>
                                <div class="detail" >
                                    <p align="left">{{item.food.fdetail}}</p>
                                </div>
                                <el-button type="danger" @click="del(item.eid)">删除</el-button>
                            </div>
                        </div>
                        <div class="volume" @click.stop="Speak(`${item.food.fname},食物细节：${item.food.fdetail},适合：${item.food.fsuitable}人群,不适合：${item.food.funsuitable}人群`)">
                            <font-awesome-icon icon="volume-up" size="xs"/>
                        </div>
                    </el-card>
                </el-col>
            </el-row>
        </div>
    </div>

    <!--消息弹出框-->
    <el-dialog v-model="dialogFormVisible" :title="dialogMsg">
        <!--内嵌表单-->
        <el-form :model="eat">
            <el-form-item label="食物" :label-width="formLabelWidth">
                <el-autocomplete
                        v-model="value"
                        :fetch-suggestions="search"
                        placeholder="Please input"
                        @select="handleSelect"
                />
            </el-form-item>
            <el-form-item label="建议" :label-width="formLabelWidth">
                <el-radio-group v-model="eat.estate" size="large">
                    <el-radio-button label="1">应该多吃</el-radio-button>
                    <el-radio-button label="2">应该少吃</el-radio-button>
                </el-radio-group>
            </el-form-item>
        </el-form>
        <!--内嵌按钮-->
        <template #footer>
            <span class="dialog-footer">
                <el-button @click="dialogFormVisible = false">取消</el-button>
                <el-button type="primary" @click="Confirm()">确定</el-button>
            </span>
        </template>
    </el-dialog>
</template>

<script>
    import {findEatByOid,deleteEat,addEat,findFoodFuzzy} from 'network/healthCare'
    import {ref,onMounted,reactive,toRefs,inject} from 'vue';
    import qs from 'qs';
    import { ElMessage } from 'element-plus'
    import OldHeader from "components/headers/OldHeader";
    import Speak from '../../tools/Speak'

    export default {
        name: "oFood",
        setup(){
            const eatList=ref(null);
            const eatMoreList=ref(null);
            const eatLessList=ref(null);
            const dialogMsg=ref('');//弹出框标题
            const dialogFormVisible=ref(false);//弹出框是否显示

            //刷新
            const reload = inject("reload");

            const eat=reactive({ //饮食建议
                eid:0,
                oid:0,
                fid:0,
                estate:1
            })
            //远程搜索输入框
            const food=reactive({ //饮食建议
                value:'',
                fid:0
            })

            //初始化
            onMounted(async () => {
                eat.oid=sessionStorage.getItem("oid");
                //获取eatList
                await findEatByOid(qs.stringify({"oid":eat.oid})).then((res)=>{
                    eatList.value=res.data.eatList;
                })
                //分别过滤出eatMoreList、eatLessList
                eatMoreList.value= eatList.value.filter((item)=>{
                    if(item.estate==1) return item;
                });
                eatLessList.value= eatList.value.filter((item)=>{
                    if(item.estate==2) return item;
                });
            });
            //删除
            const del=(eid)=>{
                deleteEat(qs.stringify({"eid":eid})).then((res)=>{
                    ElMessage({
                        message: res.data,
                        type: 'success',
                    })
                })
                reload();
            }
            //添加
            const add=()=>{
                dialogMsg.value = "添加饮食建议";
                dialogFormVisible.value = true;
            }

            //远程搜索食物
            const search= async (queryString,cb)=>{
                let foodList=null;
                await findFoodFuzzy(qs.stringify({"search":queryString})).then((res)=>{
                    foodList=res.data.foodList;
                })
                //必须转为带value的才能认识
                let results=foodList.map((item) => {
                    return {
                        value: item.fname,
                        fid: item.fid,
                    };
                });
                //回调函数
                cb(results);
            }
            //选中
            const handleSelect=(item)=>{
                food.fid=item.fid;
            }

            //确认
            const Confirm=()=>{
                if(food.fid==0){
                    ElMessage({
                        message: '请选中食物',
                        type: 'error',
                    })
                }else{
                    addEat(qs.stringify({"oid":eat.oid,"fid":food.fid,"estate":eat.estate})).then(res=>{
                        ElMessage({
                            message: res.data,
                            type: 'success',
                        })
                    });
                    food.fid=0;
                    dialogFormVisible.value = false;
                    reload();
                }
            }

            return{
                eatMoreList,
                eatLessList,
                del,add,
                dialogMsg,dialogFormVisible,
                eat,
                ...toRefs(food),
                search,
                handleSelect,
                Confirm,
                Speak
            }
        },
        components:{
            OldHeader
        }
    }
</script>

<style lang="scss" scoped>
    .icon{
        color: #009100;
        font-size: 40px;
        cursor: pointer;
    }
    .icon :hover{
        color: #00c000;
    }
    .container{
        display: grid;
        /*俩行两列*/
        grid-template-columns: repeat(2, 46vw);
        grid-template-rows: 12vh 74vh;
        /*行间距*/
        grid-row-gap: 0px;
        grid-column-gap: 20px;
        justify-content:center;
        align-content:center;
        font-family: '宋体';
        .bTitle{
            line-height: 12vh;
            border:3px solid var(--bg-blue);
            /*background-color: var(--bg-blue);*/
            font-size: var(--font-size-lg);
            /*background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='70' height='8' patternTransform='scale(1) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(0,0%,100%,1)'/><path d='M-.02 22c8.373 0 11.938-4.695 16.32-9.662C20.785 7.258 25.728 2 35 2c9.272 0 14.215 5.258 18.7 10.338C58.082 17.305 61.647 22 70.02 22M-.02 14.002C8.353 14 11.918 9.306 16.3 4.339 20.785-.742 25.728-6 35-6 44.272-6 49.215-.742 53.7 4.339c4.382 4.967 7.947 9.661 16.32 9.664M70 6.004c-8.373-.001-11.918-4.698-16.3-9.665C49.215-8.742 44.272-14 35-14c-9.272 0-14.215 5.258-18.7 10.339C11.918 1.306 8.353 6-.02 6.002'  stroke-width='0.5' stroke='hsla(94, 50%, 53%, 0.22)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(-140,-16)' fill='url(%23a)'/></svg>");*/
            position: relative;
            .volume{
                position: absolute;
                top: 0;
                right: 10px;
                cursor: pointer;
            }
            .volume :hover{
                color: #628f68;
            }
        }
        .box{
            border:1px solid var(--bg-blue);
            overflow: auto;
            position: relative;
            .volume{
                position: absolute;
                font-size: 46px;
                top: 14px;
                right: 14px;
                cursor: pointer;
            }
            .volume :hover{
                color: #628f68;
            }

           .right {
                line-height: 12px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: flex-start;
                .title{
                    font-size: var(--font-size-lg);
                    line-height: var(--font-size-lg);
                }
                .detail{
                        font-family: '宋体';
                        height: var(--img-size-base);
                        font-size: var(--font-size-base);
                        line-height:  28px;
                    height: 87px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-line-clamp: 3;
                        -webkit-box-orient: vertical;
                }
            }
            .image {
                width: var(--img-size-base);
                cursor: pointer;
                border-radius: var(--border-radius-sm);
            }

        }
    }


</style>
