<template>
    <div class="container">
        <div class="bar" @click="goTo('/oPersonal')">
            <div class="volume" @click.stop="Speak('前往个人中心')">
                <font-awesome-icon icon="volume-up" size="xs"/>
            </div>
            <p>个人中心</p>
        </div>
        <div class="bar" @click="goTo('/oFood')">
            <div class="volume" @click.stop="Speak('看饮食建议')">
                <font-awesome-icon icon="volume-up" size="xs"/>
            </div>
            <p>饮食建议</p>
        </div>
        <div class="bar" @click="goTo('/oRemind')">
            <div class="volume" @click.stop="Speak('看吃药提醒')">
                <font-awesome-icon icon="volume-up" size="xs"/>
            </div>
            <p>吃药提醒</p>
        </div>
        <div class="bar" @click="goTo('/oVideo')">
            <div class="volume" @click.stop="Speak('去看休闲视频')">
                <font-awesome-icon icon="volume-up" size="xs"/>
            </div>
            <p>休闲视频</p>
        </div>
        <div class="bar" @click="goTo('/oArticle')">
            <div class="volume" @click.stop="Speak('去看文章资讯')">
                <font-awesome-icon icon="volume-up" size="xs"/>
            </div>
            <p>文章资讯</p>
        </div>
        <div class="bar" @click="goTo('/oCheckup')">
            <div class="volume" @click.stop="Speak('需要身体护理')">
                <font-awesome-icon icon="volume-up" size="xs"/>
            </div>
            <p>身体护理</p>
        </div>
        <div class="bar" @click="goTo('/oLifeCare')">
            <div class="volume" @click.stop="Speak('需要生活照料服务')">
                <font-awesome-icon icon="volume-up" size="xs"/>
            </div>
            <p>生活照料</p>
        </div>
        <div class="bar" @click="goTo('/oMenage')">
            <div class="volume" @click.stop="Speak('需要家政服务')">
                <font-awesome-icon icon="volume-up" size="xs"/>
            </div>
            <p>家政服务</p>
        </div>
    </div>
</template>

<script>
    import {ref,onMounted } from 'vue';
    import { useRouter } from "vue-router";
    import Speak from '../../tools/Speak'
    export default {
        name: "oHome",
        setup(){
            const router = useRouter();

            // 跳转方法
            const goTo = (path, query) => {
                router.push({ path, query: query || {} });
            };
            return {
                goTo,Speak
            };
        }
    }
</script>

<style lang="scss" scoped>
    .container{
        /*撑开高度*/
        height: 100vh;
        display: grid;
        grid-template-columns: repeat(3, 30vw);
        grid-template-rows: repeat(3, 29vh);
        grid-row-gap: 20px;
        grid-column-gap: 30px;
        /*水平居中*/
        justify-content:center;
        /*垂直居中*/
        align-content:center;
        font-size: 70px;
        line-height: 29vh;
        font-family: '宋体';
        font-weight: 500;
        background: linear-gradient(288deg, #FFB6B9 0%, #FFB6B9 35%, #FAE3D9 calc(35% + 1px), #FAE3D9 45%, #BBDED6 calc(45% + 1px), #BBDED6 65%, #61C0BF calc(65% + 1px), #61C0BF 100%);
        .bar{
            cursor: pointer;
            color: #334B35;
            border:1.5px solid #537856;
            position: relative;
            overflow: hidden;
            border-radius: var(--border-radius-base);
            background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='70' height='8' patternTransform='scale(1) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(0,0%,100%,1)'/><path d='M-.02 22c8.373 0 11.938-4.695 16.32-9.662C20.785 7.258 25.728 2 35 2c9.272 0 14.215 5.258 18.7 10.338C58.082 17.305 61.647 22 70.02 22M-.02 14.002C8.353 14 11.918 9.306 16.3 4.339 20.785-.742 25.728-6 35-6 44.272-6 49.215-.742 53.7 4.339c4.382 4.967 7.947 9.661 16.32 9.664M70 6.004c-8.373-.001-11.918-4.698-16.3-9.665C49.215-8.742 44.272-14 35-14c-9.272 0-14.215 5.258-18.7 10.339C11.918 1.306 8.353 6-.02 6.002'  stroke-width='0.5' stroke='hsla(94, 50%, 53%, 0.22)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(-140,-16)' fill='url(%23a)'/></svg>");
            box-shadow: rgba(0, 0, 0, 0.27) 2px 2px 5px 0px;
            transition: 0.3s;
            .volume{
                position: absolute;
                right: 8px;
                width: 80px;
                height: 80px;
                line-height: 80px;
                color: #c3dbb3;
                :hover{
                    color: #6d8f4b;
                }
            }
        }
        .bar:hover{
            box-shadow: rgba(0, 0, 0, 0.59) 2px 2.5px 5px 2.5px;
            border:2px dashed #537856;
            color: #6eb884;
        }
    }
</style>