<template>
    <div class="container">
        <old-header title="个人中心"></old-header>
        <div class="main">
            <div class="detail">
                <p align="left"><strong>姓名: </strong>{{oname}}  &nbsp;&nbsp; <strong>年龄: </strong>{{oage}}</p>
                <p align="left"><strong>电话: </strong>{{ophone}}</p>
                <p align="left"><strong>家庭住址: </strong>{{oaddress}}</p>
                <div class="volume" @click.stop="Speak(`老人基本信息：姓名${oname},年龄${oage},电话${ophone},家庭住址${oaddress}`)">
                    <font-awesome-icon icon="volume-up" size="2x"/>
                </div>
                <el-button class="oBtn" type="success" @click="update">修改信息</el-button>
            </div>
            <div class="relations">
                <div class="relation" v-for="(item,index) in relationList">
                    <img :src="item.rimg" >
                    <div class="rMsg">
                        <p align="left"><strong>亲属: </strong>{{item.rname}}</p>
                        <p align="left"><strong>电话: </strong>{{item.rphone}}</p>
                        <div class="volume" @click.stop="Speak(`亲属信息：姓名${item.rname},电话${item.rphone}`)">
                            <font-awesome-icon icon="volume-up" size="x"/>
                        </div>
                    </div>
                </div>
            </div>
            <div :class="activeClass == 1 ? 'active bar':'bar'" @click="changeServe(1)">
                <span>刚发布服务</span>&nbsp
                <div class="volume" @click.stop="Speak('刚发布服务')">
                    <font-awesome-icon icon="volume-up" size="x"/>
                </div>
            </div>
            <div :class="activeClass == 2 ? 'active bar':'bar'" @click="changeServe(2)">
                <span>进行中服务</span>&nbsp
                <div class="volume" @click.stop="Speak('进行中服务')">
                    <font-awesome-icon icon="volume-up" size="x"/>
                </div>
            </div>
            <div :class="activeClass == 3 ? 'active bar':'bar'" @click="changeServe(3)">
                <span>待评价服务</span>&nbsp
                <div class="volume" @click.stop="Speak('待评价服务')">
                    <font-awesome-icon icon="volume-up" size="x"/>
                </div>
            </div>
            <div :class="activeClass == 4 ? 'active bar':'bar'" @click="changeServe(4)">
                <span>已完成服务</span>&nbsp
                <div class="volume" @click.stop="Speak('已完成服务')">
                    <font-awesome-icon icon="volume-up" size="x"/>
                </div>
            </div>
            <div class="serves">
                <div class="serve" v-for="(item,index) in serveList" :key="item">
                    <img :src="item.simg">
                    <div class="sMsg">
                        <p align="left"><strong>{{item.stitle}}</strong></p>
                        <p align="left" class="content">{{item.scontent}}</p>
                        <p align="right" class="time">{{toDate(item.stime)}}</p>
                    </div>
                    <div v-if="item.sstate==1">
                        <button @click="del(item.sid)" class="btn"><strong>删除服务</strong></button>
                        <div class="volume"
                             @click.stop="Speak(`服务标题：${item.stitle},服务内容：${item.scontent},发布时间：${toDate(item.stime)}，点击右侧按钮删除服务`)">
                            <font-awesome-icon icon="volume-up" size="x"/>
                        </div>
                    </div>
                    <div v-show="item.sstate==2||item.sstate==3||item.sstate==4" class="wMsg">
                        <img :src="item.worker.wimg">
                        <p>{{item.worker.wname}}</p>

                        <div v-if="item.sstate==3">
                            <el-rate @click="rate(item)" v-model="item.sscore" />
                        </div>
                        <div v-if="item.sstate==4">
                            <el-rate disabled v-model="item.sscore" />
                        </div>
                        <div class="volume"
                             @click.stop="Speak(`服务标题：${item.stitle},服务内容：${item.scontent},发布时间：${toDate(item.stime)}，护工姓名：${item.worker.wname}`)">
                            <font-awesome-icon icon="volume-up" size="x"/>
                        </div>
                    </div>

                </div>
            </div>
            <div class="illness">
                <div style="background-color:#7bbba2; color: white">
                    疾病信息
                    <div class="volume" @click.stop="Speak(`疾病信息:${illnessList.join(',')}`)">
                        <font-awesome-icon icon="volume-up" size="x"/>
                    </div>
                </div>
                <div v-for="(item,index) in illnessList">
                    {{item}}
                </div>
            </div>
        </div>
    </div>
    <!--消息弹出框-->
    <el-dialog v-model="dialogFormVisible" title="修改信息">
        <!--内嵌表单-->
        <el-form :model="oldTemp">
            <el-form-item label="姓名" :label-width="formLabelWidth" >
                <el-input v-model="oldTemp.oname" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="年龄" :label-width="formLabelWidth">
                <el-input-number v-model="oldTemp.oage" :min="1" :max="200" @change="handleChange" />
            </el-form-item>
            <el-form-item label="性别" :label-width="formLabelWidth">
                <el-radio-group v-model="oldTemp.osex" size="large">
                    <el-radio-button label="男"></el-radio-button>
                    <el-radio-button label="女"></el-radio-button>
                </el-radio-group>
            </el-form-item>
            <el-form-item label="电话" :label-width="formLabelWidth">
                <el-input v-model="oldTemp.ophone"  autocomplete="off" />
            </el-form-item>
            <el-form-item label="地址" :label-width="formLabelWidth">
                <el-input v-model="oaddress" autocomplete="off" />
            </el-form-item>
            <el-form-item label="疾病" :label-width="formLabelWidth">
                <el-input
                        v-model="oldTemp.oillness"
                        :rows="3"
                        type="textarea"
                        placeholder="Please input"
                />
            </el-form-item>
        </el-form>
        <!--内嵌按钮-->
        <template #footer>
            <span class="dialog-footer">
                <el-button @click="dialogFormVisible = false">取消</el-button>
                <el-button type="primary" @click="Confirm()">确定修改</el-button>
            </span>
        </template>
    </el-dialog>
</template>

<script>
    import OldHeader from "components/headers/OldHeader";
    import {ref,reactive,onMounted,toRefs,inject} from 'vue';
    import {findByOid,findRByOid,oUpdate} from "network/user";
    import qs from 'qs';
    import {findServeByOid,score,deleteServe} from "network/dailyCare";
    import {dateFormat} from "../../tools/dateFormat";
    import { ElMessage } from 'element-plus'
    import Speak from '../../tools/Speak'

    export default {
        name: "oPersonal",
        setup(){
            const old=reactive({ //选中老人信息
                oid:0,
                oname:'',
                oage:0,
                osex:'',
                opassword:'',
                ophone:'',
                oaddress:'',
                oillness:''
            })
            const oldTemp=reactive({ //选中老人信息
                oid:0,
                oname:'',
                oage:0,
                osex:'',
                ophone:'',
                oaddress:'',
                oillness:''
            })
            const relationList=ref({});//亲属
            const serveList=ref({});//服务列表
            const illnessList=ref({});//疾病列表
            const dialogFormVisible=ref(false);//弹出框是否显示
            const reload = inject("reload"); //刷新

            onMounted(()=>{
                old.oid=sessionStorage.getItem("oid");
                //通过oid找老人信息
                findByOid(qs.stringify({"oid":old.oid})).then(res=>{
                    old.oname=res.data.old.oname;
                    old.oage=res.data.old.oage;
                    old.osex=res.data.old.osex;
                    old.opassword=res.data.old.opassword;
                    old.ophone=res.data.old.ophone;
                    old.oaddress=res.data.old.oaddress;
                    old.oillness=res.data.old.oillness;
                    illnessList.value=old.oillness.split(' ');
                })
                //通过oid找亲属
                findRByOid(qs.stringify({"oid":old.oid})).then(res=>{
                    relationList.value=res.data.relationList;
                })
                //通过oid找服务
                findServeByOid(qs.stringify({"oid":old.oid,"sstate":1})).then(res=>{
                    serveList.value=res.data.serveList;
                })
            })
            //切换显示的服务
            const activeClass=ref(1);
            const changeServe=(sstate)=>{
                findServeByOid(qs.stringify({"oid":old.oid,"sstate":sstate})).then(res=>{
                    serveList.value=res.data.serveList;
                })
                activeClass.value=sstate;
            }
            //服务时间
            const toDate=(time)=>{
                return dateFormat(new Date(time*1),"MM月DD日 HH:mm");
            }
            //打分
            const rate=(item)=>{
                score(qs.stringify({
                    "sid":item.sid,
                    "sscore":item.sscore
                })).then(res=>{
                    ElMessage({
                        message: res.data,
                        type: 'success',
                    })
                })
                reload();
            }
            //删除刚发布服务
            const del=(sid)=>{
                deleteServe(qs.stringify({"sid":sid})).then(res=>{
                    ElMessage({
                        message: res.data,
                        type: 'success',
                    })
                })
                reload();
            }
            const update=()=>{
                dialogFormVisible.value = true;
                oldTemp.oid=old.oid;
                oldTemp.oname=old.oname;
                oldTemp.oage=old.oage;
                oldTemp.osex=old.osex;
                oldTemp.opassword=old.opassword;
                oldTemp.ophone=old.ophone;
                oldTemp.oaddress=old.oaddress;
                oldTemp.oillness=old.oillness;
            }
            const Confirm=()=>{
                oUpdate(qs.stringify({
                    "oid":oldTemp.oid,
                    "oname":oldTemp.oname,
                    "oage":oldTemp.oage,
                    "osex":oldTemp.osex,
                    "opassword":old.opassword,
                    "ophone":oldTemp.ophone,
                    "oaddress":oldTemp.oaddress,
                    "oillness":oldTemp.oillness
                })).then(res=>{
                    ElMessage({
                        message: res.data,
                        type: 'success',
                    })
                    reload();
                    dialogFormVisible.value=false;
                })
            }
            return{
               ...toRefs(old),relationList,serveList,illnessList,
                activeClass,changeServe,toDate,rate,Speak,del,update,dialogFormVisible,Confirm,oldTemp
            }
        },
        components: {
            OldHeader
        }
    }
</script>

<style scoped lang="scss">
    .container{
        background-color: #eee;
        height: 100vh;
    }
    .main{
        display: grid;
        grid-template-columns: repeat(7,13vw);
        grid-template-rows: 27vh 15vh 15vh 15vh 15vh;
        justify-content:center;
        align-content:center;
        font-size: var(--font-size-base);
        line-height: var(--font-size-lg);
        .detail{
            border:2px solid #BAE8F1;
            background-color:#EFF6F7;
            grid-column: 1 / 4;
            padding: 10px 25px;
            position: relative;
            .volume{
                cursor: pointer;
                position: absolute;
                top: 8px;
                right: 8px;
            }
            .volume:hover{
                color: rgba(111, 142, 150, 0.74);;
            }
            .oBtn{
                position: absolute;
                bottom: 8px;
                right: 18px;
            }
        }
        .relations{
            overflow: auto;
            border:2px solid #BAE8F1;
            background-color:#EFF6F7;
            grid-column: 4 / 8;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: repeat(auto-fill, 27vh);
            justify-items: center;
            align-items: center;
            padding:0 20px 4.5vh 20px;
            .relation{
                display: flex;
                position: relative;
                .volume{
                    cursor: pointer;
                    position: absolute;
                    top: 8px;
                    right: 8px;
                }
                .volume:hover{
                    color: rgba(111, 142, 150, 0.74);;
                }
                img{
                    width: 18vh;
                    height: 18vh;
                    border-radius: var(--border-radius-circle);
                }
                .rMsg{
                    padding: 9px;
                }
            }
        }
        .bar{
            border:2px solid #BAE8F1;
            background-color:#EFF6F7;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
        }
        .bar:hover{
            color: rgba(62, 137, 157, 0.92);
        }
        .active{
            background-color: #44c5b6;
            color: #ffffff;
        }
        .serves{
            border:2px solid #BAE8F1;
            background-color:#EFF6F7;
            overflow: auto;
            grid-column: 2 / 6;
            grid-row: 2 / 6;
            background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='120' height='69.336' patternTransform='scale(1) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(0,0%,100%,1)'/><path d='M58.75 0a1.25 1.25 0 1 0 2.5 0zM30 .07a17.33 17.33 0 0 0-6.83 1.42 1.25 1.25 0 1 0 .93 2.32A14.82 14.82 0 0 1 30 2.58c2.03 0 4.04.42 5.9 1.23a1.25 1.25 0 0 0 1.58-1.78 1.24 1.24 0 0 0-.65-.54A17.33 17.33 0 0 0 30 .07ZM56.26.4a1.25 1.25 0 0 0-1.03 1.8 5.32 5.32 0 0 0 .49.85 1.25 1.25 0 1 0 2.05-1.43 3.2 3.2 0 0 1-.28-.48 1.25 1.25 0 0 0-1.22-.74ZM44.01.55A1.25 1.25 0 0 0 42.87 2a17.37 17.37 0 0 0 2.2 6.63 17.36 17.36 0 0 0 4.63 5.22 1.25 1.25 0 0 0 2.05-.97c0-.41-.2-.78-.51-1a14.84 14.84 0 0 1-4.01-4.5 14.85 14.85 0 0 1-1.89-5.73 1.25 1.25 0 0 0-1.33-1.1Zm8.32.74a1.25 1.25 0 0 0-1.09 1.69 9.29 9.29 0 0 0 1.8 3.12 1.25 1.25 0 0 0 2.22-.8c0-.31-.12-.6-.31-.82a6.79 6.79 0 0 1-1.36-2.34 1.25 1.25 0 0 0-1.26-.85zm-4.13.07a1.25 1.25 0 0 0-1.12 1.58 13.33 13.33 0 0 0 1.45 3.69A13.32 13.32 0 0 0 51 9.73a1.25 1.25 0 0 0 2.13-.88c0-.37-.15-.7-.4-.93a10.8 10.8 0 0 1-2.04-2.54 10.8 10.8 0 0 1-1.18-3.04 1.25 1.25 0 0 0-1.3-.98zM80.5 3.2c-.3 0-.59.11-.8.29a17.35 17.35 0 0 0-4.64 5.22 17.37 17.37 0 0 0-2.2 6.63 1.25 1.25 0 1 0 2.48.34 14.85 14.85 0 0 1 1.88-5.72 14.83 14.83 0 0 1 4.02-4.5 1.25 1.25 0 0 0-.75-2.26zM30 4.07c-1.33 0-2.65.21-3.92.6a1.25 1.25 0 1 0 .7 2.4 10.79 10.79 0 0 1 3.22-.5c1.1 0 2.18.18 3.22.5a1.25 1.25 0 1 0 .7-2.4 13.3 13.3 0 0 0-3.92-.6Zm51.88 3.16c-.35 0-.66.14-.88.37a13.34 13.34 0 0 0-2.48 3.1 13.33 13.33 0 0 0-1.44 3.69 1.25 1.25 0 1 0 2.42.6 10.82 10.82 0 0 1 1.19-3.04 10.8 10.8 0 0 1 2.04-2.55 1.25 1.25 0 0 0-.85-2.17ZM30 8.08c-.6 0-1.21.06-1.8.18a1.25 1.25 0 0 0-.43 2.32c.28.16.59.2.88.14a6.76 6.76 0 0 1 2.7 0 1.25 1.25 0 1 0 .45-2.46 9.28 9.28 0 0 0-1.8-.18Zm54.01 2.69c-.4 0-.74.17-.97.46a9.3 9.3 0 0 0-1.8 3.12 1.25 1.25 0 1 0 2.35.84 6.76 6.76 0 0 1 1.35-2.34 1.25 1.25 0 0 0-.93-2.08ZM30 12.08c-.16 0-.33.01-.49.03a1.25 1.25 0 1 0 .22 2.49 2.9 2.9 0 0 1 .55 0 1.25 1.25 0 1 0 .21-2.5 5.99 5.99 0 0 0-.49-.02Zm56.75 1.66c-.43 0-.81.21-1.04.55a5.21 5.21 0 0 0-.48.85 1.25 1.25 0 1 0 2.26 1.06 2.69 2.69 0 0 1 .28-.48 1.25 1.25 0 0 0-1.02-1.98ZM90 16.08a1.25 1.25 0 1 0 0 2.5 1.25 1.25 0 0 0 0-2.5zm-59.91 0a1.25 1.25 0 1 0-.17 2.5 1.25 1.25 0 0 0 .17-2.5Zm63.64 1.64a1.24 1.24 0 0 0-1.23.74 2.78 2.78 0 0 1-.27.48 1.25 1.25 0 1 0 2.05 1.43 5.27 5.27 0 0 0 .49-.85 1.25 1.25 0 0 0-1.04-1.8zm12.25.16a1.24 1.24 0 0 0-1.33 1.1 14.85 14.85 0 0 1-1.88 5.73 14.84 14.84 0 0 1-4.02 4.5 1.25 1.25 0 1 0 1.54 1.97 17.35 17.35 0 0 0 4.64-5.22 17.36 17.36 0 0 0 2.2-6.63 1.25 1.25 0 0 0-1.15-1.45zm-8.3.74a1.24 1.24 0 0 0-1.28.85 6.79 6.79 0 0 1-1.35 2.34 1.25 1.25 0 0 0 .93 2.08c.4 0 .74-.18.97-.46a9.3 9.3 0 0 0 1.8-3.12 1.25 1.25 0 0 0-1.08-1.7Zm4.11.07a1.24 1.24 0 0 0-1.3.98 10.8 10.8 0 0 1-1.18 3.04 10.8 10.8 0 0 1-2.04 2.54 1.25 1.25 0 1 0 1.73 1.8 13.31 13.31 0 0 0 2.47-3.09 13.33 13.33 0 0 0 1.44-3.7 1.25 1.25 0 0 0-1.12-1.57zm-72.26 1.38a1.25 1.25 0 0 0-.02 2.5 5.16 5.16 0 0 0 .98 0 1.25 1.25 0 1 0-.22-2.5 2.7 2.7 0 0 1-.55 0 1.25 1.25 0 0 0-.2 0zm-20.02.47a1.25 1.25 0 0 0-.74 2.25 14.84 14.84 0 0 1 4.01 4.5 14.82 14.82 0 0 1 1.88 5.73 1.25 1.25 0 1 0 2.48-.35 17.36 17.36 0 0 0-2.2-6.63 17.35 17.35 0 0 0-4.64-5.22 1.24 1.24 0 0 0-.8-.28Zm18.91 3.4a1.25 1.25 0 0 0-.23 2.48 9.28 9.28 0 0 0 3.6 0 1.25 1.25 0 1 0-.44-2.47 6.76 6.76 0 0 1-2.7 0 1.26 1.26 0 0 0-.23-.02Zm-20.3.64a1.25 1.25 0 0 0-.84 2.17c.8.74 1.49 1.6 2.04 2.54a10.81 10.81 0 0 1 1.18 3.04 1.25 1.25 0 0 0 2.3.36c.17-.3.2-.64.13-.96a13.33 13.33 0 0 0-1.45-3.69 13.32 13.32 0 0 0-2.47-3.1 1.25 1.25 0 0 0-.89-.36Zm18.15 2.97a1.25 1.25 0 0 0-.2 2.45 13.31 13.31 0 0 0 3.93.6c1.33 0 2.65-.2 3.92-.6a1.25 1.25 0 1 0-.7-2.4 10.8 10.8 0 0 1-3.22.5 10.8 10.8 0 0 1-3.23-.5 1.25 1.25 0 0 0-.5-.05ZM6 28.1a1.25 1.25 0 0 0-.93 2.08 6.76 6.76 0 0 1 1.35 2.34 1.25 1.25 0 0 0 2.26.23c.2-.34.22-.73.1-1.07a9.3 9.3 0 0 0-1.81-3.12 1.25 1.25 0 0 0-.97-.46Zm17.55 2.66a1.25 1.25 0 0 0-.38 2.42A17.33 17.33 0 0 0 30 34.6a17.34 17.34 0 0 0 6.84-1.41 1.25 1.25 0 1 0-.94-2.32A14.83 14.83 0 0 1 30 32.1a14.83 14.83 0 0 1-5.9-1.23 1.26 1.26 0 0 0-.55-.1zm-20.29.3a1.25 1.25 0 0 0-1.01 2 2.8 2.8 0 0 1 .27.47 1.25 1.25 0 1 0 2.27-1.06 5.27 5.27 0 0 0-.5-.85 1.25 1.25 0 0 0-1.03-.55ZM120 33.42a1.25 1.25 0 1 0 0 2.5zm-120 0v2.5a1.25 1.25 0 1 0 0-2.5zm90 1.32a17.33 17.33 0 0 0-6.83 1.41 1.25 1.25 0 1 0 .93 2.32 14.82 14.82 0 0 1 5.9-1.23c2.03 0 4.04.43 5.9 1.24a1.25 1.25 0 1 0 .93-2.33 17.33 17.33 0 0 0-6.83-1.4Zm26.26.32a1.25 1.25 0 0 0-1.03 1.8 5.21 5.21 0 0 0 .49.85 1.25 1.25 0 1 0 2.05-1.43 2.77 2.77 0 0 1-.28-.48 1.25 1.25 0 0 0-1.23-.74zm-12.25.16a1.25 1.25 0 0 0-1.14 1.45 17.37 17.37 0 0 0 2.19 6.63 17.36 17.36 0 0 0 4.64 5.21 1.25 1.25 0 1 0 1.54-1.97 14.84 14.84 0 0 1-4.02-4.5 14.85 14.85 0 0 1-1.88-5.72 1.25 1.25 0 0 0-1.33-1.1zm8.31.73a1.25 1.25 0 0 0-1.08 1.7 9.3 9.3 0 0 0 1.8 3.12 1.25 1.25 0 1 0 1.9-1.62 6.79 6.79 0 0 1-1.35-2.34 1.25 1.25 0 0 0-1.27-.86zm-4.12.08a1.25 1.25 0 0 0-1.12 1.57 13.33 13.33 0 0 0 1.44 3.7 13.34 13.34 0 0 0 2.48 3.1 1.25 1.25 0 0 0 2.13-.89c0-.36-.15-.7-.4-.92A10.81 10.81 0 0 1 109.5 37a1.25 1.25 0 0 0-1.31-.98Zm-87.7 1.84c-.3 0-.58.1-.8.28a17.35 17.35 0 0 0-4.64 5.22 17.37 17.37 0 0 0-2.2 6.63 1.25 1.25 0 1 0 2.48.35 14.84 14.84 0 0 1 1.88-5.73 14.83 14.83 0 0 1 4.02-4.5 1.25 1.25 0 0 0-.74-2.25Zm69.5.87c-1.33 0-2.65.2-3.92.6a1.25 1.25 0 1 0 .7 2.4 10.79 10.79 0 0 1 3.22-.5c1.1 0 2.18.18 3.22.5a1.25 1.25 0 0 0 1.46-1.82 1.25 1.25 0 0 0-.76-.58 13.31 13.31 0 0 0-3.92-.6ZM21.88 41.9c-.34 0-.66.14-.88.37a13.32 13.32 0 0 0-2.48 3.1 13.31 13.31 0 0 0-1.44 3.69 1.25 1.25 0 1 0 2.43.6 10.8 10.8 0 0 1 1.18-3.04 10.81 10.81 0 0 1 2.04-2.55 1.25 1.25 0 0 0-.85-2.17zm68.12.84c-.6 0-1.21.06-1.8.18a1.25 1.25 0 0 0-.43 2.32c.28.16.59.2.88.14a6.76 6.76 0 0 1 2.7 0 1.25 1.25 0 1 0 .46-2.46 9.28 9.28 0 0 0-1.81-.18Zm-65.99 2.7c-.39 0-.74.17-.96.45a9.3 9.3 0 0 0-1.8 3.13 1.25 1.25 0 1 0 2.35.84 6.79 6.79 0 0 1 1.35-2.35 1.25 1.25 0 0 0-.94-2.08zM90 46.73c-.16 0-.33 0-.49.03a1.25 1.25 0 1 0 .22 2.49 2.8 2.8 0 0 1 .55 0 1.25 1.25 0 1 0 .21-2.5 5.39 5.39 0 0 0-.49-.02ZM26.75 48.4c-.43 0-.8.22-1.04.55a5.3 5.3 0 0 0-.48.85 1.25 1.25 0 1 0 2.26 1.06 2.77 2.77 0 0 1 .28-.48 1.25 1.25 0 0 0-1.02-1.98ZM30 50.75a1.25 1.25 0 1 0 0 2.5 1.25 1.25 0 0 0 0-2.5zm60.09 0a1.25 1.25 0 1 0-.17 2.5 1.25 1.25 0 0 0 .17-2.5Zm-56.36 1.64a1.24 1.24 0 0 0-1.22.74 2.78 2.78 0 0 1-.28.48 1.25 1.25 0 1 0 2.05 1.43 5.46 5.46 0 0 0 .5-.85 1.25 1.25 0 0 0-1.05-1.8Zm12.25.15a1.24 1.24 0 0 0-1.32 1.11 14.84 14.84 0 0 1-1.89 5.73 14.84 14.84 0 0 1-4.01 4.5 1.25 1.25 0 1 0 1.54 1.97 17.35 17.35 0 0 0 4.64-5.22 17.37 17.37 0 0 0 2.2-6.63 1.25 1.25 0 0 0-1.16-1.46Zm-8.3.74a1.24 1.24 0 0 0-1.28.86 6.78 6.78 0 0 1-1.35 2.34 1.25 1.25 0 1 0 1.9 1.62 9.26 9.26 0 0 0 1.8-3.12 1.25 1.25 0 0 0-1.08-1.7zm4.12.08a1.24 1.24 0 0 0-1.3.98 10.8 10.8 0 0 1-1.2 3.04 10.8 10.8 0 0 1-2.03 2.54 1.25 1.25 0 0 0 .84 2.17c.35 0 .66-.14.89-.36a13.33 13.33 0 0 0 2.47-3.1c.67-1.16 1.15-2.4 1.45-3.7a1.25 1.25 0 0 0-1.12-1.57zm47.73 1.37a1.25 1.25 0 0 0-.02 2.5 5.18 5.18 0 0 0 .98 0 1.25 1.25 0 1 0-.22-2.5 2.7 2.7 0 0 1-.55 0 1.25 1.25 0 0 0-.2 0Zm-20.02.47a1.25 1.25 0 0 0-.74 2.26 14.84 14.84 0 0 1 4 4.5 14.88 14.88 0 0 1 1.9 5.72 1.25 1.25 0 1 0 2.47-.35 17.36 17.36 0 0 0-2.2-6.63 17.35 17.35 0 0 0-4.64-5.21 1.24 1.24 0 0 0-.8-.29Zm18.91 3.4a1.25 1.25 0 0 0-.23 2.48 9.29 9.29 0 0 0 3.6 0 1.25 1.25 0 1 0-.44-2.46 6.76 6.76 0 0 1-2.7 0 1.25 1.25 0 0 0-.23-.03Zm-20.3.64a1.25 1.25 0 0 0-.85 2.17c.8.74 1.5 1.6 2.04 2.54A10.8 10.8 0 0 1 70.5 67a1.25 1.25 0 0 0 2.3.36c.17-.3.2-.64.13-.95a13.33 13.33 0 0 0-1.45-3.7 13.33 13.33 0 0 0-2.47-3.1 1.25 1.25 0 0 0-.89-.36Zm18.15 2.97a1.25 1.25 0 0 0-.2 2.45 13.3 13.3 0 0 0 3.93.6c1.33 0 2.65-.2 3.91-.6a1.25 1.25 0 1 0-.7-2.4 10.8 10.8 0 0 1-3.22.5c-1.09 0-2.18-.17-3.22-.5a1.25 1.25 0 0 0-.5-.05ZM66 62.77a1.25 1.25 0 0 0-.93 2.08 6.78 6.78 0 0 1 1.35 2.34 1.25 1.25 0 0 0 2.26.23c.2-.33.22-.72.1-1.06a9.27 9.27 0 0 0-1.81-3.13 1.25 1.25 0 0 0-.97-.46Zm17.55 2.66a1.25 1.25 0 0 0-.38 2.42A17.33 17.33 0 0 0 90 69.26a17.33 17.33 0 0 0 6.84-1.41 1.25 1.25 0 1 0-.94-2.32 14.82 14.82 0 0 1-5.9 1.23c-2.02 0-4.04-.42-5.89-1.23a1.26 1.26 0 0 0-.56-.1zm-20.29.31a1.25 1.25 0 0 0-1.01 1.98 2.85 2.85 0 0 1 .27.48 1.25 1.25 0 0 0 2.23.12c.21-.38.21-.82.04-1.18a5.36 5.36 0 0 0-.5-.84 1.25 1.25 0 0 0-1.03-.56zm-3.34 2.34a1.25 1.25 0 0 0-1.16 1.26h2.5a1.25 1.25 0 0 0-1.34-1.26z'  stroke-width='1' stroke='none' fill='hsla(188, 33%, 95%, 1)'/><path d='M18.75 0a1.25 1.25 0 1 0 2.5 0h-2.5zm80 0a1.25 1.25 0 1 0 2.5 0zM70.12.07a17.15 17.15 0 0 0-8.74 2.31 17.33 17.33 0 0 0-8.63 14.95 17.24 17.24 0 0 0 6.95 13.85 1.25 1.25 0 1 0 1.54-1.97 14.74 14.74 0 0 1-5.99-11.88 14.82 14.82 0 0 1 7.37-12.78 14.72 14.72 0 0 1 13.28-.74 1.25 1.25 0 0 0 1.58-1.78 1.25 1.25 0 0 0-.65-.54 17.34 17.34 0 0 0-6.7-1.42ZM9.88.07A17.34 17.34 0 0 0 3.17 1.5 1.25 1.25 0 1 0 4.1 3.8a14.72 14.72 0 0 1 13.27.74 14.82 14.82 0 0 1 7.38 12.78 14.74 14.74 0 0 1-5.99 11.88 1.25 1.25 0 1 0 1.54 1.97 17.24 17.24 0 0 0 6.95-13.85A17.33 17.33 0 0 0 18.62 2.4 17.15 17.15 0 0 0 9.88.07ZM96.26.4a1.25 1.25 0 0 0-1.03 1.8 5.23 5.23 0 0 0 2.14 2.36 5.27 5.27 0 0 0 5.25 0 5.23 5.23 0 0 0 2.15-2.36 1.25 1.25 0 1 0-2.27-1.06 2.76 2.76 0 0 1-5 0 1.25 1.25 0 0 0-1.24-.74ZM84.01.54A1.25 1.25 0 0 0 82.86 2a17.23 17.23 0 0 0 8.51 12.95 17.3 17.3 0 0 0 17.25 0A17.23 17.23 0 0 0 117.13 2a1.25 1.25 0 1 0-2.47-.35 14.74 14.74 0 0 1-7.29 11.13 14.8 14.8 0 0 1-14.75 0 14.74 14.74 0 0 1-7.28-11.13 1.25 1.25 0 0 0-1.33-1.1Zm8.31.74a1.25 1.25 0 0 0-1.08 1.7A9.22 9.22 0 0 0 95.37 8a9.28 9.28 0 0 0 9.25 0 9.22 9.22 0 0 0 4.13-5.04 1.25 1.25 0 1 0-2.35-.83 6.73 6.73 0 0 1-3.03 3.7 6.77 6.77 0 0 1-6.75 0 6.73 6.73 0 0 1-3.03-3.7 1.25 1.25 0 0 0-1.27-.86Zm-4.12.08a1.25 1.25 0 0 0-1.12 1.57 13.22 13.22 0 0 0 6.3 8.55 13.3 13.3 0 0 0 13.24 0 13.22 13.22 0 0 0 6.3-8.55 1.25 1.25 0 1 0-2.43-.6 10.73 10.73 0 0 1-5.12 6.98 10.78 10.78 0 0 1-10.75 0 10.73 10.73 0 0 1-5.12-6.97 1.25 1.25 0 0 0-1.3-.98Zm31.3 1.84a1.25 1.25 0 0 0-.74 2.26c.43.32.85.66 1.24 1.03V3.3c-.15-.07-.32-.11-.5-.11Zm-79 0c-.3 0-.58.1-.8.29a17.24 17.24 0 0 0-6.95 13.84 17.33 17.33 0 0 0 8.62 14.95 17.21 17.21 0 0 0 15.46.9 1.25 1.25 0 1 0-.94-2.32 14.72 14.72 0 0 1-13.27-.75 14.82 14.82 0 0 1-7.37-12.78 14.74 14.74 0 0 1 5.99-11.87 1.25 1.25 0 0 0-.75-2.26zM0 3.31V6.5a14.72 14.72 0 0 1 4.75 10.85c0 4.15-1.77 8.08-4.75 10.85v3.22a17.34 17.34 0 0 0 7.25-14.07A17.24 17.24 0 0 0 .3 3.5a1.25 1.25 0 0 0-.3-.18Zm69.97.77a13.17 13.17 0 0 0-6.6 1.77 13.31 13.31 0 0 0-6.62 11.48A13.23 13.23 0 0 0 61 27.06a1.25 1.25 0 0 0 2.13-.88c0-.37-.15-.7-.4-.92a10.73 10.73 0 0 1-3.48-7.93 10.8 10.8 0 0 1 5.37-9.31 10.71 10.71 0 0 1 8.6-.95 1.25 1.25 0 1 0 .7-2.4 13.3 13.3 0 0 0-3.95-.6zm-59.94 0a13.3 13.3 0 0 0-3.95.6 1.25 1.25 0 1 0 .7 2.4 10.71 10.71 0 0 1 8.6.94 10.8 10.8 0 0 1 5.37 9.32 10.73 10.73 0 0 1-3.48 7.92 1.25 1.25 0 1 0 1.73 1.8 13.23 13.23 0 0 0 4.25-9.73 13.31 13.31 0 0 0-6.63-11.48 13.17 13.17 0 0 0-6.58-1.78zm108.08 3.16a1.25 1.25 0 0 0-.84 2.17A10.78 10.78 0 0 1 120 13.4V8.64a13.34 13.34 0 0 0-1-1.03 1.25 1.25 0 0 0-.89-.37zm-76.23 0c-.34 0-.66.14-.88.37a13.23 13.23 0 0 0-4.25 9.72 13.31 13.31 0 0 0 6.62 11.49A13.2 13.2 0 0 0 53.92 30a1.25 1.25 0 0 0 .3-2.3 1.25 1.25 0 0 0-1-.1 10.71 10.71 0 0 1-8.6-.95 10.8 10.8 0 0 1-5.37-9.32 10.73 10.73 0 0 1 3.48-7.92 1.25 1.25 0 0 0-.85-2.17zm28.3.84a9.2 9.2 0 0 0-4.8 1.24 9.3 9.3 0 0 0-4.63 8.01c0 2.34.86 4.48 2.29 6.1a1.25 1.25 0 1 0 1.9-1.62 6.73 6.73 0 0 1-1.7-4.48c0-2.4 1.3-4.64 3.38-5.84a6.72 6.72 0 0 1 4.73-.77 1.25 1.25 0 1 0 .45-2.46 9.17 9.17 0 0 0-1.62-.18Zm-60.37 0c-.54.01-1.08.07-1.61.18a1.25 1.25 0 1 0 .45 2.46 6.72 6.72 0 0 1 4.72.77 6.78 6.78 0 0 1 3.38 5.85c0 1.71-.64 3.28-1.7 4.48a1.25 1.25 0 0 0 .93 2.08c.4 0 .75-.18.97-.47a9.22 9.22 0 0 0 2.3-6.1 9.3 9.3 0 0 0-4.63-8.01 9.2 9.2 0 0 0-4.8-1.24ZM0 8.64v4.74a10.73 10.73 0 0 1 0 7.9v4.75a13.3 13.3 0 0 0 3.25-8.7A13.2 13.2 0 0 0 0 8.65Zm115.98 2.13a1.25 1.25 0 0 0-.93 2.08 6.73 6.73 0 0 1 1.7 4.48c0 2.4-1.3 4.65-3.38 5.85a6.72 6.72 0 0 1-4.72.77 1.25 1.25 0 1 0-.46 2.46c2.13.42 4.41.1 6.43-1.06a9.3 9.3 0 0 0 4.63-8.02c0-2.33-.87-4.47-2.3-6.1a1.25 1.25 0 0 0-.96-.46zm-71.97 0c-.39 0-.74.18-.96.46a9.22 9.22 0 0 0-2.3 6.1 9.3 9.3 0 0 0 4.62 8.02 9.2 9.2 0 0 0 6.43 1.06 1.25 1.25 0 1 0-.45-2.46 6.72 6.72 0 0 1-4.73-.77 6.78 6.78 0 0 1-3.37-5.85c0-1.71.64-3.28 1.7-4.48a1.25 1.25 0 0 0-.94-2.08zm26.09 1.31c-.93-.02-1.87.2-2.72.7a5.28 5.28 0 0 0-2.63 4.55 5.23 5.23 0 0 0 .96 3.04 1.25 1.25 0 1 0 2.06-1.43 2.76 2.76 0 0 1 .85-4 2.74 2.74 0 0 1 1.65-.35 1.25 1.25 0 1 0 .22-2.49 6.64 6.64 0 0 0-.4-.02Zm-60.2 0-.4.02a1.25 1.25 0 1 0 .22 2.5 2.76 2.76 0 0 1 2.5 4.34 1.25 1.25 0 1 0 2.06 1.43 5.23 5.23 0 0 0 .97-3.04 5.27 5.27 0 0 0-2.62-4.54 5.22 5.22 0 0 0-2.72-.7zm103.34 1.66a1.25 1.25 0 0 0-1.01 1.98 2.76 2.76 0 0 1-.85 4 2.74 2.74 0 0 1-1.66.35 1.25 1.25 0 1 0-.21 2.5c1.05.09 2.13-.12 3.11-.69a5.28 5.28 0 0 0 2.63-4.55 5.23 5.23 0 0 0-.97-3.04 1.25 1.25 0 0 0-1.04-.55zm-66.49 0c-.43 0-.8.22-1.04.55a5.23 5.23 0 0 0-.96 3.04c0 1.87 1 3.62 2.62 4.55a5.22 5.22 0 0 0 3.12.68 1.25 1.25 0 1 0-.22-2.49 2.76 2.76 0 0 1-2.5-4.34 1.25 1.25 0 0 0-1.02-1.99ZM50 16.08a1.25 1.25 0 1 0 0 2.5 1.25 1.25 0 0 0 0-2.5zm20 0a1.25 1.25 0 1 0 0 2.5 1.25 1.25 0 0 0 0-2.5zm-60.09 0a1.25 1.25 0 1 0 .18 2.5 1.25 1.25 0 0 0-.18-2.5Zm100.18 0a1.25 1.25 0 1 0-.18 2.5 1.25 1.25 0 0 0 .18-2.5zM80 17.41a17.23 17.23 0 0 0-17.13 15.25 1.25 1.25 0 0 0 1.86 1.3 1.25 1.25 0 0 0 .61-.95 14.74 14.74 0 0 1 7.28-11.13 14.8 14.8 0 0 1 14.75 0 14.74 14.74 0 0 1 7.28 11.13 1.25 1.25 0 1 0 2.48-.35A17.23 17.23 0 0 0 80 17.41Zm40 3.85a10.79 10.79 0 0 1-4.63 5.39 10.71 10.71 0 0 1-8.6.94 1.25 1.25 0 0 0-1.45 1.82 1.25 1.25 0 0 0 .76.59A13.2 13.2 0 0 0 120 26.02v-4.76zm-40 .15a13.22 13.22 0 0 0-12.92 10.32 1.25 1.25 0 0 0 1.83 1.4 1.25 1.25 0 0 0 .6-.8 10.73 10.73 0 0 1 5.12-6.98 10.78 10.78 0 0 1 10.74 0 10.73 10.73 0 0 1 5.12 6.98 1.25 1.25 0 0 0 2.3.35c.18-.3.21-.64.13-.95A13.22 13.22 0 0 0 80 21.4Zm0 4a9.22 9.22 0 0 0-8.76 6.28 1.25 1.25 0 1 0 2.36.84 6.73 6.73 0 0 1 3.02-3.71 6.77 6.77 0 0 1 6.75 0 6.73 6.73 0 0 1 3.03 3.7 1.25 1.25 0 1 0 2.36-.83A9.22 9.22 0 0 0 80 25.4Zm40 2.77a14.72 14.72 0 0 1-15.9 2.68 1.25 1.25 0 0 0-1.58 1.77 1.25 1.25 0 0 0 .65.55A17.21 17.21 0 0 0 120 31.4Zm-40 1.24a5.25 5.25 0 0 0-4.77 3.05 1.25 1.25 0 1 0 2.26 1.07c.23-.51.62-.96 1.13-1.26a2.76 2.76 0 0 1 3.89 1.26 1.25 1.25 0 0 0 2.22.1c.21-.37.22-.8.04-1.17A5.23 5.23 0 0 0 80 29.42Zm-39.91 4a1.25 1.25 0 1 0-.18 2.5 1.25 1.25 0 0 0 .18-2.5Zm39.82 0a1.25 1.25 0 1 0 .18 2.49 1.25 1.25 0 0 0-.18-2.5Zm-10.04 1.32a17.33 17.33 0 0 0-6.7 1.4 1.25 1.25 0 1 0 .93 2.33 14.72 14.72 0 0 1 13.27.75A14.82 14.82 0 0 1 84.75 52a14.74 14.74 0 0 1-6 11.87 1.25 1.25 0 1 0 1.55 1.98A17.24 17.24 0 0 0 87.25 52a17.33 17.33 0 0 0-8.63-14.95 17.15 17.15 0 0 0-8.74-2.31Zm-59.74 0A17.15 17.15 0 0 0 0 37.94v3.22a14.72 14.72 0 0 1 15.9-2.68 1.25 1.25 0 0 0 1.58-1.78 1.24 1.24 0 0 0-.65-.54 17.34 17.34 0 0 0-6.7-1.42Zm26.13.32a1.25 1.25 0 0 0-1.03 1.8 5.22 5.22 0 0 0 2.15 2.36 5.27 5.27 0 0 0 5.24 0 5.22 5.22 0 0 0 2.15-2.36 1.25 1.25 0 1 0-2.26-1.06 2.76 2.76 0 0 1-5.01 0 1.25 1.25 0 0 0-1.24-.74zm-12.25.15a1.25 1.25 0 0 0-1.14 1.46 17.24 17.24 0 0 0 8.5 12.95 17.3 17.3 0 0 0 17.26 0 17.24 17.24 0 0 0 8.5-12.95 1.25 1.25 0 1 0-2.47-.35 14.74 14.74 0 0 1-7.28 11.13 14.74 14.74 0 0 1-22.04-11.13 1.25 1.25 0 0 0-1.33-1.1zm8.32.74a1.25 1.25 0 0 0-1.09 1.7 9.22 9.22 0 0 0 4.14 5.04 9.28 9.28 0 0 0 9.24 0 9.22 9.22 0 0 0 4.14-5.04 1.25 1.25 0 1 0-2.36-.84 6.73 6.73 0 0 1-3.02 3.7 6.77 6.77 0 0 1-6.76 0 6.73 6.73 0 0 1-3.02-3.7 1.25 1.25 0 0 0-1.27-.86Zm-4.13.08a1.25 1.25 0 0 0-1.12 1.58 13.22 13.22 0 0 0 6.3 8.54 13.3 13.3 0 0 0 13.25 0 13.22 13.22 0 0 0 6.29-8.55 1.25 1.25 0 0 0-1.83-1.4 1.25 1.25 0 0 0-.6.8 10.73 10.73 0 0 1-5.12 6.98 10.78 10.78 0 0 1-10.74 0 10.73 10.73 0 0 1-5.12-6.97 1.25 1.25 0 0 0-1.31-.98Zm72.3 1.83c-.3 0-.58.11-.8.29a17.24 17.24 0 0 0-6.95 13.84 17.33 17.33 0 0 0 8.62 14.95 17.21 17.21 0 0 0 15.46.9 1.25 1.25 0 1 0-.93-2.32 14.72 14.72 0 0 1-13.28-.74 14.82 14.82 0 0 1-7.37-12.79 14.74 14.74 0 0 1 5.99-11.87 1.25 1.25 0 0 0-.74-2.26Zm-41 0a1.25 1.25 0 0 0-.74 2.27A14.74 14.74 0 0 1 64.75 52a14.82 14.82 0 0 1-7.38 12.78 14.72 14.72 0 0 1-13.27.75 1.25 1.25 0 0 0-1.58 1.77 1.24 1.24 0 0 0 .64.55 17.21 17.21 0 0 0 15.46-.9A17.33 17.33 0 0 0 67.25 52a17.24 17.24 0 0 0-6.95-13.85 1.24 1.24 0 0 0-.8-.28Zm60.5.07A17.34 17.34 0 0 0 112.75 52a17.24 17.24 0 0 0 6.95 13.85c.1.08.2.14.3.18v-3.18A14.73 14.73 0 0 1 115.25 52c0-4.14 1.77-8.08 4.75-10.84zm-49.97.8a13.3 13.3 0 0 0-3.95.6 1.25 1.25 0 1 0 .7 2.4 10.71 10.71 0 0 1 8.6.95A10.8 10.8 0 0 1 80.74 52a10.73 10.73 0 0 1-3.48 7.92 1.25 1.25 0 1 0 1.73 1.8A13.23 13.23 0 0 0 83.25 52a13.31 13.31 0 0 0-6.63-11.49 13.18 13.18 0 0 0-6.59-1.77zm-60.06.01A13.17 13.17 0 0 0 0 43.31v4.77a10.79 10.79 0 0 1 4.63-5.4 10.71 10.71 0 0 1 8.6-.94 1.25 1.25 0 1 0 .69-2.4 13.3 13.3 0 0 0-3.95-.6zm91.91 3.16c-.34 0-.66.14-.88.37a13.23 13.23 0 0 0-4.25 9.72 13.31 13.31 0 0 0 6.62 11.49 13.2 13.2 0 0 0 10.55 1.18 1.25 1.25 0 1 0-.7-2.4 10.72 10.72 0 0 1-8.6-.95A10.8 10.8 0 0 1 99.25 52a10.73 10.73 0 0 1 3.48-7.92 1.25 1.25 0 0 0-.85-2.17zm-43.77 0a1.25 1.25 0 0 0-.84 2.18A10.73 10.73 0 0 1 60.75 52a10.8 10.8 0 0 1-5.37 9.31 10.71 10.71 0 0 1-8.6.95 1.25 1.25 0 1 0-.7 2.4 13.2 13.2 0 0 0 10.54-1.18A13.31 13.31 0 0 0 63.25 52 13.23 13.23 0 0 0 59 42.27a1.24 1.24 0 0 0-.88-.37Zm11.7.84c-.54.01-1.08.08-1.61.18a1.25 1.25 0 0 0-.43 2.32c.28.16.59.2.88.14a6.72 6.72 0 0 1 4.72.77A6.78 6.78 0 0 1 76.75 52c0 1.72-.64 3.29-1.7 4.48a1.25 1.25 0 0 0 .93 2.08c.4 0 .75-.18.97-.46a9.22 9.22 0 0 0 2.3-6.1 9.3 9.3 0 0 0-4.63-8.02 9.2 9.2 0 0 0-4.8-1.24Zm-59.62 0A9.2 9.2 0 0 0 5.38 44 9.3 9.3 0 0 0 .75 52c0 2.34.87 4.47 2.3 6.1a1.25 1.25 0 0 0 2.21-.8c0-.3-.11-.6-.31-.82A6.73 6.73 0 0 1 3.25 52c0-2.4 1.3-4.65 3.38-5.85a6.72 6.72 0 0 1 4.72-.77 1.25 1.25 0 1 0 .45-2.46 9.08 9.08 0 0 0-1.61-.18Zm109.81.57a13.31 13.31 0 0 0-3.25 8.68 13.2 13.2 0 0 0 3.25 8.7v-4.74a10.74 10.74 0 0 1 0-7.89V43.3Zm-15.99 2.12c-.39 0-.74.19-.97.47a9.22 9.22 0 0 0-2.3 6.1 9.3 9.3 0 0 0 4.63 8.01 9.2 9.2 0 0 0 6.43 1.06 1.25 1.25 0 1 0-.45-2.46 6.72 6.72 0 0 1-4.73-.76 6.78 6.78 0 0 1-3.37-5.86c0-1.71.64-3.28 1.7-4.47a1.25 1.25 0 0 0-.94-2.08zM56 45.44a1.25 1.25 0 0 0-.94 2.08 6.73 6.73 0 0 1 1.7 4.48c0 2.4-1.3 4.65-3.37 5.85a6.72 6.72 0 0 1-4.73.77 1.25 1.25 0 1 0-.45 2.46c2.12.42 4.4.1 6.43-1.06A9.3 9.3 0 0 0 59.25 52c0-2.34-.87-4.47-2.3-6.1a1.25 1.25 0 0 0-.97-.46Zm13.92 1.3c-.14 0-.27.01-.4.03a1.25 1.25 0 1 0 .21 2.49 2.76 2.76 0 0 1 2.5 4.35 1.25 1.25 0 1 0 2.06 1.42 5.23 5.23 0 0 0 .97-3.03c0-1.87-1.01-3.62-2.63-4.55a5.22 5.22 0 0 0-2.72-.7zm-59.81.01c-.93-.02-1.87.21-2.72.7A5.27 5.27 0 0 0 4.75 52a5.23 5.23 0 0 0 .97 3.04 1.25 1.25 0 1 0 2.06-1.43 2.76 2.76 0 0 1 2.5-4.35 1.25 1.25 0 1 0 .22-2.49 6.78 6.78 0 0 0-.4-.02Zm96.65 1.66c-.43 0-.8.21-1.04.55a5.23 5.23 0 0 0-.96 3.04 5.28 5.28 0 0 0 2.62 4.55 5.22 5.22 0 0 0 3.12.68 1.25 1.25 0 1 0-.22-2.5 2.76 2.76 0 0 1-2.5-4.34 1.25 1.25 0 0 0-1.02-1.98zm-53.5 0a1.25 1.25 0 0 0-1.02 1.98 2.76 2.76 0 0 1-2.5 4.35 1.25 1.25 0 1 0-.22 2.5c1.05.1 2.14-.12 3.12-.7A5.27 5.27 0 0 0 55.25 52c0-1.13-.36-2.18-.97-3.04a1.25 1.25 0 0 0-1.03-.55zM10 50.75a1.25 1.25 0 1 0 0 2.5 1.25 1.25 0 0 0 0-2.5zm100 0a1.25 1.25 0 1 0 0 2.5 1.25 1.25 0 0 0 0-2.5zm-59.91 0a1.25 1.25 0 1 0-.18 2.5 1.25 1.25 0 0 0 .18-2.5zm19.82 0a1.25 1.25 0 1 0 .18 2.5 1.25 1.25 0 0 0-.18-2.5Zm-49.9 1.33A17.23 17.23 0 0 0 2.86 67.33a1.25 1.25 0 0 0 1.86 1.29 1.25 1.25 0 0 0 .61-.95 14.74 14.74 0 0 1 7.29-11.12 14.8 14.8 0 0 1 14.75 0 14.74 14.74 0 0 1 7.28 11.13 1.25 1.25 0 1 0 2.47-.35A17.23 17.23 0 0 0 20 52.08ZM0 55.95v4.74a13.35 13.35 0 0 0 1 1.04 1.25 1.25 0 0 0 2.14-.88c0-.37-.16-.7-.4-.92A10.78 10.78 0 0 1 0 55.95Zm20 .13A13.22 13.22 0 0 0 7.08 66.39a1.25 1.25 0 1 0 2.43.6 10.73 10.73 0 0 1 5.12-6.98 10.78 10.78 0 0 1 10.75 0A10.73 10.73 0 0 1 30.49 67a1.25 1.25 0 0 0 2.3.35c.18-.3.21-.64.13-.95A13.22 13.22 0 0 0 20 56.08Zm0 4a9.22 9.22 0 0 0-8.76 6.27 1.25 1.25 0 1 0 2.36.84 6.73 6.73 0 0 1 3.03-3.71 6.77 6.77 0 0 1 6.75 0 6.73 6.73 0 0 1 3.02 3.71 1.25 1.25 0 0 0 2.27.23c.2-.34.22-.73.09-1.07A9.22 9.22 0 0 0 20 60.08ZM0 62.85v3.18a1.25 1.25 0 0 0 1.24-2.15A14.74 14.74 0 0 1 0 62.84Zm20 1.23a5.25 5.25 0 0 0-4.77 3.06 1.25 1.25 0 1 0 2.26 1.06 2.76 2.76 0 0 1 5.02 0 1.25 1.25 0 1 0 2.26-1.06A5.23 5.23 0 0 0 20 64.08Zm-.09 4a1.25 1.25 0 0 0-1.16 1.25h2.5a1.25 1.25 0 0 0-1.34-1.25Zm80.18 0a1.24 1.24 0 0 0-1.34 1.25h2.5a1.24 1.24 0 0 0-1.16-1.25Z'  stroke-width='1' stroke='none' fill='hsla(188, 33%, 95%, 1)'/></pattern></defs><rect width='800%' height='800%' transform='translate(-240,-138.672)' fill='url(%23a)'/></svg>");
            .serve{
                height: 150px;
                display: flex;
                align-items: center;
                justify-content: space-around;
                margin-bottom: 6px;
                background-color: #fff;
                border: 1px solid #BAE8F1;
                img{
                    width: 180px;
                    height: 120px;
                    border-radius: 12px;
                }
                .sMsg{
                    width: 380px;
                    line-height: 28px;
                    .content{
                        font-size: var(--font-size-sm);
                    }
                    .time{
                        font-size: var(--font-size-sm);
                    }
                }
                .volume{
                    cursor: pointer;
                    margin-top: -4px;
                }
                .volume:hover{
                    color: rgba(111, 142, 150, 0.74);;
                }
                .wMsg{
                    width: 120px;
                    line-height: 25px;
                    font-size: 18px;
                    img{
                        width: 60px;
                        height: 60px;
                    }
                }
            }
        }
        .illness{
            overflow: auto;
            border:2px solid #BAE8F1;
            background-color:#EFF6F7;
            grid-column: 6 / 8;
            grid-row: 2 / 6;
        }
    }


    .btn {
        font-size: var(--font-size-sm);
        background-color: #f16d67;
        padding: 10px 20px;
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 2px;
        cursor: pointer;
        border-radius: 10px;
        border: 2px dashed #f16d67;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
        transition: .4s;
    }

    .btn span:last-child {
        display: none;
    }

    .btn:hover {
        transition: .4s;
        border: 2px dashed #f16d67;
        background-color: #fff;
        color: #f16d67;
    }

    .btn:active {
        background-color: #f16d67;
    }


</style>