<template>
    <old-header title="用药提醒">
        <el-icon class="icon" @click="add()"><circle-plus-filled /></el-icon>
    </old-header>
    <div class="container">
        <div class="bTitle">
            <span>早(6:00-11:00)</span>
            <div class="volume" @click.stop="Speak('早(6:00-11:00)')">
                <font-awesome-icon icon="volume-up" size="xs"/>
            </div>
        </div>
        <div class="bTitle">
            <span>中(11:00-15:00)</span>
            <div class="volume" @click.stop="Speak('中(11:00-15:00)')">
                <font-awesome-icon icon="volume-up" size="xs"/>
            </div>
        </div>
        <div class="bTitle">
            <span>晚(15:00-20:00)</span>
            <div class="volume" @click.stop="Speak('晚(15:00-20:00)')">
                <font-awesome-icon icon="volume-up" size="xs"/>
            </div>
        </div>
        <div class="box">
            <el-row
                    v-for="(item, index) in morningList"
                    :key="item"
            >
                <el-col>
                    <el-card :body-style="{
                        border:'2px solid green',
                        borderRadius:'10px' ,
                        display: 'flex',
                        backgroundColor:'#e0f0e9',
                        margin:'12px 4px'
                        }">
                        <img
                                @click.stop="Speak(`${item.medicine.mname},食用剂量：${item.medicine.mdosage},药品功能：${item.medicine.mfunction},注意事项：${item.medicine.mnote}`)"
                                :src="item.medicine.mimg"
                                class="image"
                        />
                        <div style="padding: 14px">
                            <div class="right">
                                <span class="title"><strong>{{item.medicine.mname}}</strong></span>
                                <div class="detail" >
                                    <p align="left">{{item.medicine.mdosage}}</p>
                                </div>
                                <el-button type="danger" @click="del(item.mrid)">删除</el-button>
                            </div>
                        </div>
                        <div class="volume" @click.stop="Speak(`${item.medicine.mname},食用剂量：${item.medicine.mdosage},药品功能：${item.medicine.mfunction},注意事项：${item.medicine.mnote}`)">
                            <font-awesome-icon icon="volume-up" size="xs"/>
                        </div>
                    </el-card>
                </el-col>
            </el-row>
        </div>
        <div class="box">
            <el-row
                    v-for="(item, index) in noonList"
                    :key="item"
            >
                <el-col>
                    <el-card :body-style="{
                        border:'2px solid green',
                        borderRadius:'10px' ,
                        display: 'flex',
                        backgroundColor:'#e0f0e9',
                        margin:'12px 4px'
                        }">
                        <img
                                @click.stop="Speak(`${item.medicine.mname},食用剂量：${item.medicine.mdosage},药品功能：${item.medicine.mfunction},注意事项：${item.medicine.mnote}`)"
                                :src="item.medicine.mimg"
                                class="image"
                        />
                        <div style="padding: 14px">
                            <div class="right">
                                <span class="title"><strong>{{item.medicine.mname}}</strong></span>
                                <div class="detail" >
                                    <p align="left">{{item.medicine.mdosage}}</p>
                                </div>
                                <el-button type="danger" @click="del(item.mrid)">删除</el-button>
                            </div>
                        </div>
                        <div class="volume" @click.stop="Speak(`${item.medicine.mname},食用剂量：${item.medicine.mdosage},药品功能：${item.medicine.mfunction},注意事项：${item.medicine.mnote}`)">
                            <font-awesome-icon icon="volume-up" size="xs"/>
                        </div>
                    </el-card>
                </el-col>
            </el-row>
        </div>
        <div class="box">
            <el-row
                    v-for="(item, index) in afternoonList"
                    :key="item"
            >
                <el-col>
                    <el-card :body-style="{
                        border:'2px solid green',
                        borderRadius:'10px' ,
                        display: 'flex',
                        backgroundColor:'#e0f0e9',
                        margin:'12px 4px'
                        }">
                        <img
                                @click.stop="Speak(`${item.medicine.mname},食用剂量：${item.medicine.mdosage},药品功能：${item.medicine.mfunction},注意事项：${item.medicine.mnote}`)"
                                :src="item.medicine.mimg"
                                class="image"
                        />
                        <div style="padding: 14px">
                            <div class="right">
                                <span class="title"><strong>{{item.medicine.mname}}</strong></span>
                                <div class="detail" >
                                    <p align="left">{{item.medicine.mdosage}}</p>
                                </div>
                                <el-button type="danger" @click="del(item.mrid)">删除</el-button>
                            </div>
                        </div>
                        <div class="volume" @click.stop="Speak(`${item.medicine.mname},食用剂量：${item.medicine.mdosage},药品功能：${item.medicine.mfunction},注意事项：${item.medicine.mnote}`)">
                            <font-awesome-icon icon="volume-up" size="xs"/>
                        </div>
                    </el-card>
                </el-col>
            </el-row>
        </div>
    </div>

    <!--消息弹出框-->
    <el-dialog v-model="dialogFormVisible" :title="dialogMsg">
        <!--内嵌表单-->
        <el-form :model="mremind">
            <el-form-item label="药品" :label-width="formLabelWidth">
                <el-autocomplete
                        v-model="value"
                        :fetch-suggestions="search"
                        placeholder="Please input"
                        @select="handleSelect"
                />
            </el-form-item>
            <el-form-item label="时间" :label-width="formLabelWidth">
                <el-checkbox-group v-model="mremind.mrremind" size="large">
                    <el-checkbox-button v-for="item in mrreminds" :key="item" :label="item">
                        {{ item }}
                    </el-checkbox-button>
                </el-checkbox-group>
            </el-form-item>
        </el-form>
        <!--内嵌按钮-->
        <template #footer>
            <span class="dialog-footer">
                <el-button @click="dialogFormVisible = false">取消</el-button>
                <el-button type="primary" @click="Confirm()">确定</el-button>
            </span>
        </template>
    </el-dialog>
</template>

<script>
    import {findMremindByoid,deleteMremind,findMedicineFuzzy,addMremind} from 'network/healthCare';
    import {ref,onMounted,reactive,toRefs,inject} from 'vue';
    import qs from 'qs';
    import { ElMessage } from 'element-plus';
    import OldHeader from "components/headers/OldHeader";
    import Speak from '../../tools/Speak';
    export default {
        name: "oRemind",
        setup(){
            const remindList=ref(null);
            const morningList=ref(null);
            const noonList=ref(null);
            const afternoonList=ref(null);

            const mrreminds=ref(['早','中','晚']);

            const dialogMsg=ref('');//弹出框标题
            const dialogFormVisible=ref(false);//弹出框是否显示

            //刷新
            const reload = inject("reload");

            const mremind=reactive({ //用药提示
                mrid:0,
                oid:0,
                mrremind:['早'],
                mrstate:1
            })
            //远程搜索输入框
            const medicine=reactive({ //药
                value:'',
                mid:0
            })

            //初始化
            onMounted(async () => {
                mremind.oid=sessionStorage.getItem("oid");
                await findMremindByoid(qs.stringify({"oid":mremind.oid})).then((res)=>{
                    remindList.value=res.data.mremindList;
                })
                morningList.value= remindList.value.filter((item)=>{
                    if(item.mrremind=='早') return item;
                });
                noonList.value= remindList.value.filter((item)=>{
                    if(item.mrremind=='中') return item;
                });
                afternoonList.value= remindList.value.filter((item)=>{
                    if(item.mrremind=='晚') return item;
                });
            });

            //删除
            const del=(mrid)=>{
                deleteMremind(qs.stringify({"mrid":mrid})).then((res)=>{
                    ElMessage({
                        message: res.data,
                        type: 'success',
                    })
                })
                reload();
            }
            //添加
            const add=()=>{
                dialogMsg.value = "添加用药提醒";
                dialogFormVisible.value = true;
            }

            //远程搜索食物
            const search= async (queryString,cb)=>{
                let medicineList=null;
                await findMedicineFuzzy(qs.stringify({"search":queryString})).then((res)=>{
                    medicineList=res.data.medicineList;
                })
                //必须转为带value的才能认识
                let results=medicineList.map((item) => {
                    return {
                        value: item.mname,
                        mid: item.mid,
                    };
                });
                //回调函数
                cb(results);
            }
            //选中
            const handleSelect=(item)=>{
                medicine.mid=item.mid;
            }

            //确认
            const Confirm=()=>{
                console.log(mremind);
                if( medicine.mid==0){
                    ElMessage({
                        message: '请选中食物',
                        type: 'error',
                    })
                }else{
                    mremind.mrremind.forEach((item)=>{
                        addMremind(qs.stringify({"oid":mremind.oid,"mid":medicine.mid,"mrremind":item})).then(res=>{
                            ElMessage({
                                message: res.data,
                                type: 'success',
                            })
                        });
                    })

                    medicine.mid=0;
                    dialogFormVisible.value = false;
                    reload();
                }
            }
            return{
                morningList,noonList,afternoonList,
                del,add,
                dialogMsg,dialogFormVisible,
                mremind,
                ...toRefs(medicine),
                search,
                handleSelect,
                Confirm,
                mrreminds,
                Speak
            }
        },
        components: {
            OldHeader
        }
    }
</script>

<style lang="scss" scoped>
    .icon{
        color: #009100;
        font-size: 40px;
        cursor: pointer;
    }
    .icon :hover{
        color: #00c000;
    }
    .container{
        display: grid;
        /*俩行两列*/
        grid-template-columns: repeat(3, 30vw);
        grid-template-rows: 11vh 74vh;
        /*行间距*/
        grid-row-gap: 0px;
        grid-column-gap: 20px;
        /*水平居中*/
        justify-content:center;
        /*垂直居中*/
        align-content:center;
        .bTitle{
            line-height: 11vh;
            border:3px solid var(--bg-blue);
            font-size: var(--font-size-base);
            background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='70' height='8' patternTransform='scale(1) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(0,0%,100%,1)'/><path d='M-.02 22c8.373 0 11.938-4.695 16.32-9.662C20.785 7.258 25.728 2 35 2c9.272 0 14.215 5.258 18.7 10.338C58.082 17.305 61.647 22 70.02 22M-.02 14.002C8.353 14 11.918 9.306 16.3 4.339 20.785-.742 25.728-6 35-6 44.272-6 49.215-.742 53.7 4.339c4.382 4.967 7.947 9.661 16.32 9.664M70 6.004c-8.373-.001-11.918-4.698-16.3-9.665C49.215-8.742 44.272-14 35-14c-9.272 0-14.215 5.258-18.7 10.339C11.918 1.306 8.353 6-.02 6.002'  stroke-width='0.5' stroke='hsla(94, 50%, 53%, 0.22)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(-140,-16)' fill='url(%23a)'/></svg>");
            position: relative;
            .volume{
                font-size: var(--font-size-lg);
                position: absolute;
                top: 0;
                right: 10px;
                cursor: pointer;
            }
            .volume :hover{
                color: #628f68;
            }
        }
        .box{
            border:1px solid var(--bg-blue);
            overflow: auto;
            position: relative;
            .volume{
                position: absolute;
                font-size: 46px;
                top: 14px;
                right: 14px;
                cursor: pointer;
            }
            .volume :hover{
                color: #628f68;
            }
            .right {
                line-height: 12px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: flex-start;
                .title{
                    font-size: var(--font-size-base);
                    line-height: var(--font-size-base);
                }
                .detail{
                    font-family: '宋体';
                    height: var(--img-size-base);
                    font-size: var(--font-size-base);
                    line-height:  28px;
                    height: 87px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 3;
                    -webkit-box-orient: vertical;
                }
            }
            .image {
                width: var(--img-size-base);
                cursor: pointer;
                border-radius: var(--border-radius-sm);
            }

        }
    }
</style>