<template>
    <div class="container">
        <old-header title="休闲视频"></old-header>
        <div class="main">
            <div>
                <div class="left" v-if="index==1" @click="note(1)">
                    <font-awesome-icon icon="chevron-left" size="9x"/>
                </div>
                <div class="left" v-if="index>1" @click="Previous">
                    <font-awesome-icon icon="chevron-left" size="9x"/>
                </div>
            </div>

            <div class="middle">
                <div class="box"
                     v-for="(item, index) in videoList"
                     :key="item"
                >
                    <el-card :body-style="{
                                padding:'6px'
                                }">
                        <div class="volume" @click.stop="Speak(item.vtitle)">
                            <font-awesome-icon icon="volume-up" size="2x"/>
                        </div>
                        <img
                                @click="goTo(item.vid)"
                                :src="item.vimg"
                                class="image"
                        />
                        <div style="padding: 14px">
                            <div class="text">
                                <span class="title">{{item.vtitle}}</span>
                                <div class="detail" >
                                    <p align="left">{{item.vcontent}}</p>
                                </div>
                            </div>
                        </div>
                    </el-card>
                </div>
            </div>
            <div>
                <div class="right" v-if="last"  @click="note(2)">
                    <font-awesome-icon icon="chevron-right" size="9x"/>
                </div>
                <div class="right" v-if="!last"  @click="Next">
                    <font-awesome-icon icon="chevron-right" size="9x"/>
                </div>
            </div>

        </div>
    </div>
</template>

<script>
    import {findVideoFuzzy} from 'network/recreation';
    import {ref,onMounted,reactive,toRefs,inject,computed} from 'vue';
    import qs from 'qs';
    import { ElMessage } from 'element-plus';
    import { useRouter } from "vue-router";
    import OldHeader from "components/headers/OldHeader";
    export default {
        name: "oVideo",
        setup(){
            const videoList=ref(null);
            const index=ref(1);
            const size=ref(4);
            const search=ref('');
            const total=ref(0);

            const router = useRouter();

            //初始化
            onMounted(() => {
                pageChange();
            });
            //模糊查询/页码改变
            const pageChange = () => {
                findVideoFuzzy(qs.stringify({
                    "index": index.value - 1,
                    "size": size.value,
                    "search":search.value
                })).then((res) => {
                    total.value = res.data.total;
                    videoList.value = res.data.videoList;
                })
            }
            //上一页
            const Previous=()=>{
                index.value-=1;
                pageChange();
            }
            //下一页
            const Next=()=>{
                index.value+=1;
                pageChange();
            }
            //跳转到视频播放
            const goTo=(vid)=>{
                router.push({path:'/playVideo',query:{id:vid}})
            }
            //提示页数
            const note=(index)=>{
                if(index==1){
                    ElMessage({
                        message: '已经是第一页咯！',
                        type: 'success',
                    })
                }
                else {
                    ElMessage({
                        message: '已经是最后一页咯！',
                        type: 'success',
                    })
                }
            }
            //最后一页
            const last = computed(() => index.value>=total.value/size.value)
            return{
                videoList,
                Previous,Next,
                goTo,
                index,note,last
            }
        },
        components: {
            OldHeader
        }
    }
</script>

<style scoped lang="scss">
    .container{
        height: 100vh;
        background-color: #eee;
    }
    .main{
        background-color: #eee;
        display: grid;
        grid-template-columns: 10vw 68vw 10vw;
        grid-column-gap: 30px;
        justify-content: center;
        align-items: center;
        .left,.right{
            width: 10vw;
            height: 10vw;
            overflow: hidden;
            cursor: pointer;
            border: 1px solid black;
            border-radius: var(--border-radius-circle);
        }
        .left :hover,.right :hover{
            color: #47d2c3;
        }
        .middle{
            display: grid;
            grid-template-columns: repeat(2, 32vw);
            grid-template-rows: repeat(2, 42vh);
            grid-row-gap: 20px;
            grid-column-gap: 4vw;
            /*水平居中*/
            justify-content:center;
            /*垂直居中*/
            align-content:center;
            .box{
                overflow: auto;
                position: relative;
                .volume{
                    padding: 5px;
                    background-color: rgba(255, 255, 255, 0.65);
                    position: absolute;
                    top: 5px;
                    right: 10px;
                    cursor: pointer;
                }
                .volume :hover{
                    color: #47d2c3;
                }
                .text {
                    line-height: 12px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: flex-start;
                    .title{
                        font-size: var(--font-size-base);
                        line-height: var(--font-size-base);
                    }
                    .detail{
                        font-family: '宋体';
                        height: var(--img-size-base);
                        font-size: var(--font-size-base);
                        line-height:  28px;
                        height: 28px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-line-clamp: 3;
                        -webkit-box-orient: vertical;
                    }
                }
                .image {
                    width:30vw;
                    height: 29vh;
                    border-radius: 3px;
                    cursor: pointer;
                }

            }
        }
    }
</style>