<template>
    <div class="container">
        <worker-header :avatar="wimg">
            <div class="search">
                <input v-model="search"  @keyup.enter="pageChange" class="search_input" placeholder="搜索" />
                <font-awesome-icon class="icon" style="color: #5a67d8" icon="search" size="x"/>
            </div>
        </worker-header>
        <div class="main">
            <div class="banner">
                    <div @click="changeClass(0)" class="type">
                        <font-awesome-icon style="color: #5a67d8" icon="pie-chart" size="2x"/>
                        <p>全部</p>
                    </div>
                    <div @click="changeClass(1)" class="type">
                        <font-awesome-icon style="color: #5a67d8" icon="female" size="2x"/>
                        <p>生活照料</p>
                    </div>
                    <div @click="changeClass(2)" class="type">
                        <font-awesome-icon style="color: #5a67d8" icon="wrench" size="2x"/>
                        <p>家政服务</p>
                    </div>
                    <div @click="changeClass(3)" class="type">
                        <font-awesome-icon style="color: #5a67d8" icon="heartbeat" size="2x"/>
                        <p>健康护理</p>
                    </div>
            </div>
            <div class="serveBox">
                <div class="serveCard" v-for="(item,index) in serveList" :key="item">
                    <img class="sImg" :src="item.simg">
                    <div class="sMsg">
                        <p class="sTitle">{{item.stitle}}</p>
                        <div class="scontent">
                            <p>{{item.scontent}}</p>
                        </div>

                        <p class="address"><strong>地址:</strong>{{item.old.oaddress}}</p>
                        <p class="time"><small>{{toDate(item.stime)}}</small></p>
                    </div>
                    <el-button style="margin: 15px 10px" type="primary" @click="getServe(item.sid)">接单</el-button>
                </div>

                <!--分页-->
                <div>
                    <el-pagination
                            background
                            layout="prev, pager, next"
                            v-model:currentPage='index'
                            :page-size="size"
                            :total="total"
                            @current-change="pageChange()">
                    </el-pagination>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import {ref,onMounted,inject } from 'vue';
    import {findServeFuzzy,pickServe} from 'network/dailyCare';
    import {dateFormat} from "../../tools/dateFormat";
    import qs from 'qs';
    import { useRouter } from "vue-router";
    import { ElMessage } from 'element-plus'
    import WorkerHeader from "components/headers/WorkerHeader";

    export default {
        name: "wHome",
        components: {WorkerHeader},
        setup(){
            const wid=ref(0);
            const wimg=ref('');//头像

            const index = ref(1);//展示数据索引
            const size = ref(4);//展示数据数量
            const total = ref(0);//总数量
            const search = ref('');//搜索框文字
            const serveList=ref([]);
            const stclass=ref(null);

            const router = useRouter();

            const reload = inject("reload"); //刷新

            //初始化
            onMounted(() => {
                wid.value=sessionStorage.getItem("wid");
                wimg.value=sessionStorage.getItem("wimg");
                console.log(wid.value);
                pageChange();
            });
            //页码改变
            const pageChange =() => {
                findServeFuzzy(qs.stringify({
                    "index": index.value - 1,
                    "size": size.value,
                    "search":search.value,
                    "sstate":1,
                    "stclass":stclass.value
                })).then((res) => {
                    total.value = res.data.total;
                    serveList.value = res.data.serveList;
                    search.value='';
                })
            }
            const toDate=(time)=>{
                return dateFormat(new Date(time*1),"MM月DD日 HH:mm");
            }
            const changeClass=(id)=>{
                if(id==1){
                    stclass.value='生活照料';
                }else if(id==2){
                    stclass.value='家政服务';
                }else if(id==3){
                    stclass.value='健康护理';
                }else{
                    stclass.value=null;
                }
                pageChange();
            }

            // 跳转方法
            const goTo = (path, query) => {
                router.push({ path, query: query || {} });
            };

            //接单
            const getServe=(sid)=>{
                pickServe(qs.stringify({"sid":sid,"wid":wid.value})).then(res=>{
                    ElMessage({
                        message: res.data,
                        type: 'success',
                    })
                })
                reload();
            }

            return{
                serveList,index,
                pageChange,
                total, search, size,
                toDate,changeClass,goTo,
                getServe,wimg
            }
        }
    }
</script>

<style scoped lang="scss">
    .container{
        background-color: #ecedee;
        min-height: 100vh;
        .search{
            position: relative;
            font-size: 17px;
            .search_input{
                width: 350px;
                height: 48px;
                padding: 10px 20px 10px 50px;
                border-radius: 6px;
                background-color: #f4f4f4;
                outline: 0;
                color: #718096;
                border: 1px solid transparent;
            }
            .icon{
                position: absolute;
                left: 20px;
                font-size: 15px;
                color: #718096;
                top: 15px;
            }
        }

    }
    .main{
        .banner{
            margin: 40px 0 ;
            display: grid;
            /*俩行两列*/
            grid-template-columns: repeat(4, 11vw);
            grid-template-rows: 30vh;
            grid-column-gap: 80px;
            justify-content: center;
            color: #718096;
            font-size: 1.5rem;
            font-weight: 500;
            line-height: 3;
            .type{
                background-color: #fff;
                cursor: pointer;
                box-shadow: rgb(1 1 1 / 5%) 1px 1px 5px 0px;
                transition: .3s ease;
                padding: 40px 20px;
                border-radius: var(--border-radius-base);
            }
            .type:hover{
                color: #5a67d8;;
                transform: translateY(-0.25rem);
                box-shadow: rgb(46 41 51 / 8%) 0px 2px 4px, rgb(71 63 79 / 16%) 0px 5px 10px;
            }
        }
        .serveBox{
            padding-bottom: 30px;
            padding-top: 24px;
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: #F8F9FA;
            text-align: left;
            .serveCard{
                background-color: #fff;
                overflow: hidden;
                width: 970px;
                height: 190px;
                margin: 15px 0;
                display: flex;
                box-shadow: rgb(1 1 1 / 5%) 1px 1px 5px 0px;
                transition: .3s ease;
                border-radius: var(--border-radius-base);
                .sMsg{
                    width: 600px;
                    padding: 15px;
                    .sTitle{
                        font-size: 30px;
                        font-weight: 500;
                        cursor: pointer;
                    }
                    .sTitle:hover{
                        color: #5a67d8;
                    }
                    .scontent{
                        padding: 8px 0;
                        font-size: 17px;
                        height: 80px;
                        color: #77859B;
                    }
                    .address{
                        font-size: 17px;
                        line-height: 16px;
                    }
                    .time{
                        text-align: right;
                    }
                }
                .sImg{
                    width: 280px;
                    height: 190px;
                }
            }
            .serveCard:hover{
                transform: translateY(-0.25rem);
                box-shadow: rgb(46 41 51 / 8%) 0px 2px 4px, rgb(71 63 79 / 16%) 0px 5px 10px;
            }
        }

    }
</style>