<template>
    <div class="container">
        <worker-header :avatar="wimg">
        </worker-header>
        <div class="main">
            <div class="wMsg">
                <div class="worker">
                    <img :src="wimg" >
                    <div class="detail">
                        <span class="name">{{wname}}</span>
                        <p class="sex">性别:{{wsex}}</p>
                        <p class="phone">电话号码:{{wphone}}</p>
                        <div class="good">
                            <span>擅长:{{wgood}}</span>
                        </div>
                        <p><small>地址:{{waddress}}</small></p>
                        <div class="score">
                            <el-rate disabled v-model="wscore" />
                            <span><small>{{wscore}}</small></span>
                        </div>
                    </div>
                    <el-button class="wBtn" size="large" type="success" @click="update">修改信息</el-button>
                </div>
            </div>
            <div class="serveBox">
                <div class="menu">
                    <div :class="activeClass == 2 ? 'active':''" @click="changState('2')">进行中服务</div>
                    <div :class="activeClass == 3 ? 'active':''" @click="changState('3')">待评价服务</div>
                    <div :class="activeClass == 4 ? 'active':''" @click="changState('4')">已完成服务</div>
                    <div :class="activeClass == 5 ? 'active':''" @click="changState('5')">指定服务</div>
                </div>
                <!--表格-->
                <el-table
                        :data="tableData"
                        stripe
                        style="width: 100%">
                    <!--stripe 带斑马纹-->
                    <el-table-column
                            prop="scontent"
                            type="expand">
                        <template #default="scope">
                            <strong>内容</strong>
                            <p>{{ scope.row.scontent }}</p>
                        </template>
                    </el-table-column>

                    <el-table-column
                            label="标题"
                            width="120"
                            prop="stitle">
                    </el-table-column>

                    <el-table-column
                            label="服务图"
                            width="180"
                            prop="simg">
                        <template #default="scope">
                            <el-image
                                    style="width: 150px; height: 100px;"
                                    :src="scope.row.simg"
                                    :fit="fit"></el-image>
                        </template>
                    </el-table-column>

                    <el-table-column
                            label="老人姓名"
                            width="100"
                            prop="old.oname">
                    </el-table-column>

                    <el-table-column
                            label="亲属姓名"
                            width="100"
                            prop="relation.rname">
                    </el-table-column>

                    <el-table-column
                            label="服务类型"
                            width="100"
                            prop="stype.stname">
                    </el-table-column>

                    <el-table-column
                            label="时间"
                            prop="stime">
                    </el-table-column>

                    <el-table-column
                            width="200"
                            >
                        <template #default="scope">
                            <el-button v-if="scope.row.sstate==2" @click="finish(scope.row)">完成</el-button>
                            <el-rate v-if="scope.row.sstate==4" disabled v-model="scope.row.sscore" />
                            <div style="display: flex;" v-if="scope.row.sstate==5" >
                                <el-button type="primary" @click="getServe(scope.row.sid)">接单</el-button>
                                <el-button @click="upServe(scope.row.sid)">拒绝</el-button>
                            </div>
                        </template>
                    </el-table-column>
                </el-table>
            </div>
        </div>
    </div>

    <!--消息弹出框-->
    <el-dialog v-model="dialogFormVisible" title="反馈老人信息">
        <!--内嵌表单-->
        <el-form :model="body">
            <el-form-item label="健康指数" :label-width="formLabelWidth" >
                <el-rate v-model="body.bhealth" />
            </el-form-item>
            <el-form-item label="简单描述老人情况" :label-width="formLabelWidth">
                <el-input v-model="body.bdetail" autocomplete="off"/>
            </el-form-item>
        </el-form>
        <!--内嵌按钮-->
        <template #footer>
            <span class="dialog-footer">
                <el-button @click="dialogFormVisible = false">取消</el-button>
                <el-button type="primary" @click="Confirm()">确定反馈</el-button>
            </span>
        </template>
    </el-dialog>

    <el-dialog v-model="updateFormVisible" title="修改信息">
        <!--内嵌表单-->
        <el-form :model="workerTemp">
            <el-form-item label="姓名" :label-width="formLabelWidth">
                <el-input v-model="workerTemp.wname" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="照片" :label-width="formLabelWidth">
                <el-upload
                        class="img-uploader"
                        action="http://localhost:8081/tool/uploadFile"
                        :on-success="handleSuccess"
                        :before-upload="beforeUpload"
                >
                    <img v-if="workerTemp.wimg" :src="workerTemp.wimg" class="img">
                    <div v-else class="el-icon-plus img-uploader-icon"></div>
                </el-upload>
            </el-form-item>
            <el-form-item label="年龄" :label-width="formLabelWidth">
                <el-input-number v-model="workerTemp.wage" :min="1" :max="200" @change="handleChange" />
            </el-form-item>
            <el-form-item label="性别" :label-width="formLabelWidth">
                <el-radio-group v-model="workerTemp.wsex" size="large">
                    <el-radio-button label="男"></el-radio-button>
                    <el-radio-button label="女"></el-radio-button>
                </el-radio-group>
            </el-form-item>
            <el-form-item label="电话" :label-width="formLabelWidth">
                <el-input v-model="workerTemp.wphone"  autocomplete="off" />
            </el-form-item>
            <el-form-item label="身份证号" :label-width="formLabelWidth">
                <el-input v-model="workerTemp.widentity" autocomplete="off" />
            </el-form-item>
            <el-form-item label="地址" :label-width="formLabelWidth">
                <el-input v-model="workerTemp.waddress" autocomplete="off" />
            </el-form-item>
            <el-form-item label="擅长" :label-width="formLabelWidth">
                <el-input v-model="workerTemp.wgood" autocomplete="off" />
            </el-form-item>
        </el-form>
        <!--内嵌按钮-->
        <template #footer>
            <span class="dialog-footer">
                <el-button @click="updateFormVisible = false">取消</el-button>
                <el-button type="primary" @click="updateConfirm()">确定修改</el-button>
            </span>
        </template>
    </el-dialog>
</template>

<script>
    import {ref,reactive,onMounted,toRefs,inject} from 'vue';
    import {findByWid} from "network/user";
    import qs from 'qs';
    import {findServeByWid,finishServe,pickServe} from "network/dailyCare";
    import {dateFormat} from "../../tools/dateFormat";
    import { ElMessage } from 'element-plus'
    import {addBody} from "network/healthCare";
    import WorkerHeader from "../../components/headers/WorkerHeader";
    import {wUpdate} from "../../network/user";
    import {uploadFile} from "../../network/tools";
    import {deleteServe, noPick, updateServe} from "../../network/dailyCare";
    export default {
        name: "wPersonal",
        components: {WorkerHeader},
        setup(){
            const activeClass=ref(1);
            const dialogFormVisible=ref(false);//弹出框是否显示
            const updateFormVisible=ref(false);//弹出框是否显示
            const worker=reactive({ //选中护工信息
                wid:0,
                wname:'',
                wimg:'',
                wphone:'',
                wsex:'',
                widentity:'',
                wgood:'',
                waddress:'',
                wscore:0,
                wage:0
            })
            const workerTemp=reactive({ //选中护工信息
                wid:0,
                wname:'',
                wimg:'',
                wphone:'',
                wsex:'',
                widentity:'',
                wgood:'',
                waddress:'',
                wscore:0,
                wage:0
            })
            const tableData=ref([]);
            const reload = inject("reload"); //刷新

            //初始化
            onMounted(() => {
                worker.wid=sessionStorage.getItem("wid");
                changState(2);
                findByWid(qs.stringify({"wid":worker.wid})).then(res=>{
                    worker.wid=res.data.worker.wid;
                    worker.wname=res.data.worker.wname;
                    worker.wimg=res.data.worker.wimg;
                    worker.wage=res.data.worker.wage;
                    worker.wsex=res.data.worker.wsex;
                    worker.wphone=res.data.worker.wphone;
                    worker.widentity=res.data.worker.widentity;
                    worker.wgood=res.data.worker.wgood;
                    worker.waddress=res.data.worker.waddress;
                    worker.wscore=(res.data.worker.wscore/res.data.worker.wtimes).toFixed(2);
                })
            });

            const changState=async (sstate)=>{
                await findServeByWid(qs.stringify({"wid":worker.wid,"sstate":sstate})).then(res=>{
                    tableData.value=res.data.serveList;
                })
                tableData.value= tableData.value.map(item=>{
                    item.stime=toDate(item.stime);
                    return item;
                })
                activeClass.value=sstate;
            }

            const toDate=(time)=>{
                return dateFormat(new Date(time*1),"MM月DD日 HH:mm");
            }

            const body=reactive({
                "sid":1,
                "oid":1,
                "wid":1,
                "bdate":'',
                "bdetail":'',
                "bhealth":0
            });
            //完成任务
            const finish=(serve)=>{
                dialogFormVisible.value=true;
                console.log(serve);
                body.sid=serve.sid;
                body.oid=serve.old.oid;
                body.bdate=Date.now();

            }

            //确认完成
            const Confirm=()=>{
                if(body.bhealth==0){
                    ElMessage({
                        message: '请反馈老人身体状况',
                        type: 'error',
                    })
                }else {
                    finishServe(qs.stringify({"sid":body.sid,"wid":worker.wid})).then(res=>{
                        ElMessage({
                            message: res.data,
                            type: 'success',
                        })
                    })
                    addBody(qs.stringify({
                        "sid":body.sid,
                        "oid":body.oid,
                        "wid":body.wid,
                        "bdate":body.bdate,
                        "bdetail":body.bdetail,
                        "bhealth":body.bhealth
                    })).then(res=>{
                        ElMessage({
                            message: res.data,
                            type: 'success',
                        })
                    })
                    dialogFormVisible.value=false;
                    reload();
                }
            }

            //接单
            const getServe=(sid)=>{
                pickServe(qs.stringify({"sid":sid,"wid":worker.wid})).then(res=>{
                    ElMessage({
                        message: res.data,
                        type: 'success',
                    })
                    reload();
                })
            }

            const upServe=(sid)=>{
                noPick(qs.stringify({
                    "sid":sid,
                })).then(res=>{
                    ElMessage({
                        message: res.data,
                        type: 'success',
                    })
                    reload();
                })
            }

            //修改信息
            const update=()=>{
                updateFormVisible.value = true;
                workerTemp.wid=worker.wid;
                workerTemp.wname=worker.wname;
                workerTemp.wimg=worker.wimg;
                workerTemp.wage=worker.wage;
                workerTemp.wsex=worker.wsex;
                workerTemp.wphone=worker.wphone;
                workerTemp.widentity=worker.widentity;
                workerTemp.wgood=worker.wgood;
                workerTemp.waddress=worker.waddress;
            }

            //文件
            const File=ref({});
            //回显
            const handleSuccess=(res, file)=>{
                workerTemp.wimg = URL.createObjectURL(file.raw);
            }
            // 上传文件之前的钩子，参数为上传的文件
            const beforeUpload=(file)=>{
                File.value=file;
                return true;
            }

            //确认修改
            async function updateConfirm(){
                //上传图片
                //转为formData格式
                let formData = new FormData();
                formData.append("multipartFiles", File.value);
                //等待当前异步执行完成
                await uploadFile(formData).then((res) => {
                    if(res.data.img!=''&&res.data.img!=null) {
                        workerTemp.wimg = "http://localhost:8081/" + res.data.img;
                    }
                });
                wUpdate(qs.stringify({
                    "wid":workerTemp.wid,
                    "wname":workerTemp.wname,
                    "wimg":workerTemp.wimg,
                    "wage":workerTemp.wage,
                    "wsex":workerTemp.wsex,
                    "wpassword":worker.wpassword,
                    "wphone":workerTemp.wphone,
                    "widentity":workerTemp.widentity,
                    "wgood":workerTemp.wgood,
                    "waddress":workerTemp.waddress
                })).then(res=>{
                    ElMessage({
                        message: res.data,
                        type: 'success',
                    })
                })
                File.value=null;
                reload();
                updateFormVisible.value=false;
            }


            return{
                ...toRefs(worker),tableData,changState,finish,getServe,
                Confirm,dialogFormVisible,body,
                workerTemp,handleSuccess,beforeUpload,update,updateConfirm,updateFormVisible,
                activeClass,upServe
            }
        }
    }
</script>

<style scoped lang="scss">
    .container {
        background-color: #ecedee;
        min-height: 100vh;
    }
    .main{
        margin: 0 auto;
        width: 80vw;
        .wMsg{
            width: 80vw;
            background-color: #fff;
            border-radius: 10px;
            padding: 16px;
            box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
            .worker{
                display: flex;
                height: 150px;
                position: relative;
                .wBtn{
                    position: absolute;
                    bottom: 20px;
                    right: 40px;
                }
                img{
                    width: 150px;
                    height: 150px;
                    margin-right: 20px;
                }
                .detail{
                    text-align: left;
                    font-family: '宋体';
                    line-height: 20px;
                    font-size: 17px;
                    position: relative;
                    .name{
                        color: #2D3748;
                        font-size: 24px;
                    }
                    .good{
                        width: 700px;
                        padding: 5px 0;
                        margin-top: 5px;
                        border-top: 1px solid #9fc5c0;
                        height: 60px;
                        font-family: '楷体';
                        font-size: 17px;
                    }
                    .score{
                        position: absolute;
                        top: 10px;
                        right:0px;
                    }
                }
            }
        }
        .menu{
            width: 80vw;
            display: flex;
            height: 40px;
            margin-top: 30px;
            div{
                background-color: #fff;
                line-height: 40px;
                border: 1px solid #9fc5c0;
                height: 40px;
                padding: 0 20px;
                cursor: pointer;
            }
            .active{
                background-color:  #9fc5c0;
            }
        }
    }
    .img-uploader {
        width :100px;
        height: 100px;
        border: 1px dashed #d9d9d9;
        border-radius: 6px;
        cursor: pointer;
        position: relative;
        overflow: hidden;
    }
    .img-uploader :hover {
        border-color: #409EFF;
    }
    .img-uploader-icon {
        font-size: 28px;
        color: #8c939d;
        width: 100px;
        height: 100px;
        line-height: 100px;
        text-align: center;
    }
    .img {
        width :100px;
        height: 100px;
        display: block;
    }
</style>